Repository devdream123/NGP-Cloud-platform, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Q-Retail/q-retail-devops, @Q-Retail/q-retail-app-dev, @lsomervillewow, @srichards-quantium, @Q-Retail/q-retail-frontend

NSPS2-9434 deleted email sender cloud run (#1831)
  charts/pmr-email-sender/.helmignore
  charts/pmr-email-sender/Chart.yaml
  charts/pmr-email-sender/templates/_helpers.tpl
  charts/pmr-email-sender/templates/service.yaml
  charts/pmr-email-sender/values-gcp-wow-corp-qretail-ngp-dev.yaml
  charts/pmr-email-sender/values-gcp-wow-corp-qretail-ngp-test.yaml
  charts/pmr-email-sender/values.yaml
  config/dev.env.yaml
  config/tst.env.yaml
Owners: @Q-Retail/q-retail-devops

deploy: 1.0.23 pmr-sync to dev
  charts/pmr-sync/values-ngp-dev-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-devops

deploy: 1.0.24 pmr-sync to dev
  charts/pmr-sync/values-ngp-dev-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-devops

deploy: 1.0.25 pmr-sync to dev
  charts/pmr-sync/values-ngp-dev-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-devops

deploy: 1.0.26 pmr-sync to dev
  charts/pmr-sync/values-ngp-dev-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-devops

fix:NSPS2-9101 fix for otel collector discovery
  charts/pmr-sync/templates/configmap.yaml
  charts/pmr-sync/templates/deployment.yaml
Owners: @Q-Retail/q-retail-devops

deploy: 1.0.27 pmr-sync to dev
  charts/pmr-sync/values-ngp-dev-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-devops

NSPS2-0000 injected different http proxy (#1840)
  charts/pmr-sync/templates/configmap.yaml
  charts/pmr-sync/values-ngp-dev-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-devops

deploy: 1.0.28 pmr-sync to uat (#1841)
  charts/pmr-sync/values-ngp-uat-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-devops

feat: deploy 1.0.29 pmr-email-sender (#1843)
  charts/pmr-email-sender-api/values-ngp-dev-us1-services1-gke.yaml
  charts/pmr-email-sender-api/values-ngp-tst-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-devops

feat: deploy v1.62.1-dev to dev (#1832)
  charts/calendar-api/values-ngp-dev-us1-services1-gke.yaml
  charts/dealsheet-api/values-ngp-dev-us1-services1-gke.yaml
  charts/eventschedule-api/values-ngp-dev-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

feat: NSPS2-9570 Add Pub Sub settings (#1842)
  charts/calendar-api/templates/configmap.yaml
  charts/calendar-api/values-ngp-dev-us1-services1-gke.yaml
  charts/calendar-api/values-ngp-tst-us1-services1-gke.yaml
  charts/calendar-api/values-ngp-uat-us1-services1-gke.yaml
  charts/calendar-api/values.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

feat: deploy 1.0.31 pmr-email-sender pmr-approval-ui (#1844)
  charts/pmr-email-sender-api/templates/configmap.yaml
  charts/pmr-email-sender-api/values-ngp-dev-us1-services1-gke.yaml
  charts/pmr-email-sender-api/values-ngp-tst-us1-services1-gke.yaml
  charts/pmr-email-sender-api/values-ngp-uat-us1-services1-gke.yaml
  charts/pmr-supplier-approval-ui/values-gcp-wow-corp-qretail-ngp-dev.yaml
  charts/pmr-supplier-approval-ui/values-gcp-wow-corp-qretail-ngp-test.yaml
  charts/pmr-supplier-approval-ui/values-gcp-wow-corp-qretail-ngp-uat.yaml
Owners: @Q-Retail/q-retail-devops

fix:NSPS2-9592 added missing chart values, proxy settings, otel envs
  charts/pmr-email-sender-api/templates/configmap.yaml
  charts/pmr-email-sender-api/templates/deployment.yaml
  charts/pmr-email-sender-api/values-ngp-dev-us1-services1-gke.yaml
  charts/pmr-email-sender-api/values-ngp-prd-us1-services1-gke.yaml
  charts/pmr-email-sender-api/values-ngp-tst-us1-services1-gke.yaml
  charts/pmr-email-sender-api/values-ngp-uat-us1-services1-gke.yaml
  charts/pmr-email-sender-api/values.yaml
Owners: @Q-Retail/q-retail-devops

fix:NSPS2-9592 moving proxy settings to the base values as they are the same for all envs
  charts/pmr-email-sender-api/values-ngp-dev-us1-services1-gke.yaml
  charts/pmr-email-sender-api/values-ngp-prd-us1-services1-gke.yaml
  charts/pmr-email-sender-api/values-ngp-tst-us1-services1-gke.yaml
  charts/pmr-email-sender-api/values-ngp-uat-us1-services1-gke.yaml
  charts/pmr-email-sender-api/values.yaml
Owners: @Q-Retail/q-retail-devops

deploy: 1.0.32 pmr services (#1848)
  charts/pmr-email-sender-api/values-ngp-dev-us1-services1-gke.yaml
  charts/pmr-email-sender-api/values-ngp-tst-us1-services1-gke.yaml
  charts/pmr-supplier-approval-ui/values-gcp-wow-corp-qretail-ngp-dev.yaml
  charts/pmr-supplier-approval-ui/values-gcp-wow-corp-qretail-ngp-test.yaml
  charts/pmr-supplier-approval-ui/values-gcp-wow-corp-qretail-ngp-uat.yaml
Owners: @Q-Retail/q-retail-devops

deploy: pmr services 1.0.33 (#1849)
  charts/pmr-email-sender-api/values-ngp-dev-us1-services1-gke.yaml
  charts/pmr-email-sender-api/values-ngp-tst-us1-services1-gke.yaml
  charts/pmr-supplier-approval-ui/values-gcp-wow-corp-qretail-ngp-dev.yaml
  charts/pmr-supplier-approval-ui/values-gcp-wow-corp-qretail-ngp-test.yaml
  charts/pmr-supplier-approval-ui/values-gcp-wow-corp-qretail-ngp-uat.yaml
Owners: @Q-Retail/q-retail-devops

fix: NSPS2-0000 add config for pmr email tokens db (#1850)
  charts/pmr-email-sender-api/templates/configmap.yaml
Owners: @Q-Retail/q-retail-devops

fix: NSPS2-0000 fix pst db migration path (#1853)
  charts/pmr-email-sender-api/templates/postDeployment/postDeployment/dbmigrationjob.yaml
Owners: @Q-Retail/q-retail-devops

deploy: pmr-email-sender 1.0.34 to dev (#1855)
  charts/pmr-email-sender-api/values-ngp-dev-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-devops

feat: deploy 1.0.35 pes (#1858)
  charts/pmr-email-sender-api/templates/configmap.yaml
  charts/pmr-email-sender-api/values-ngp-dev-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-devops

deploy: pes 1.0.36 to dev (#1860)
  charts/pmr-email-sender-api/templates/configmap.yaml
  charts/pmr-email-sender-api/values-ngp-dev-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-devops

deploy: 1.0.37 pes dev
  charts/pmr-email-sender-api/values-ngp-dev-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-devops

feat: NSPS2-8621 Deploy v0.62.7-dev to BE DEV services (#1864)
  charts/calendar-api/values-ngp-dev-us1-services1-gke.yaml
  charts/dealsheet-api/values-ngp-dev-us1-services1-gke.yaml
  charts/eventschedule-api/values-ngp-dev-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

deploy: 1.0.39 pes to dev (#1865)
  charts/pmr-email-sender-api/values-ngp-dev-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-devops

Revert "feat: NSPS2-8621 Deploy v0.62.7-dev to BE DEV services (#1864)" (#1866)
  charts/calendar-api/values-ngp-dev-us1-services1-gke.yaml
  charts/dealsheet-api/values-ngp-dev-us1-services1-gke.yaml
  charts/eventschedule-api/values-ngp-dev-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

Release supplier-approval & email-sender with v1.0.40
  charts/pmr-email-sender-api/values-ngp-dev-us1-services1-gke.yaml
  charts/pmr-supplier-approval-ui/values-gcp-wow-corp-qretail-ngp-dev.yaml
Owners: @Q-Retail/q-retail-devops

feat: NSPS2-0000 Deploy v0.62.8-dev to BE DEV services (#1874)
  charts/calendar-api/values-ngp-dev-us1-services1-gke.yaml
  charts/dealsheet-api/values-ngp-dev-us1-services1-gke.yaml
  charts/eventschedule-api/values-ngp-dev-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

feat:NSPS2-9657 initial UAT deployment of NGS-57 (#1871)
  charts/calendar-api/values-ngp-uat-us1-services1-gke.yaml
  charts/custom-groups-api/values-ngp-uat-us1-services1-gke.yaml
  charts/dealsheet-api/values-ngp-uat-us1-services1-gke.yaml
  charts/eventschedule-api/values-ngp-uat-us1-services1-gke.yaml
  charts/frontend-ui/values-ngp-uat-us1-services1-gke.yaml
  charts/pgr-api/values-ngp-uat-us1-services1-gke.yaml
  charts/pmr-sync/values-ngp-uat-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops, @Q-Retail/q-retail-frontend, @lsomervillewow, @srichards-quantium

feat: Update Analytics tag to 1.62.1 (#1847)
  charts/forecast-api/values-ngp-dev-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-devops, @lsomervillewow, @srichards-quantium

feat: PGR Updated to 1.62.1 Updates Rule Name to "Pricing Establishment Period" (#1846)
  charts/pgr-api/values-ngp-dev-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-devops, @lsomervillewow, @srichards-quantium

NSPS2-9100 added cloud sql proxy to approval portal (#1877)
  charts/pmr-email-sender-api/values-ngp-dev-us1-services1-gke.yaml
  charts/pmr-email-sender-api/values-ngp-tst-us1-services1-gke.yaml
  charts/pmr-email-sender-api/values-ngp-uat-us1-services1-gke.yaml
  charts/pmr-supplier-approval-ui/values-gcp-wow-corp-qretail-ngp-dev.yaml
  charts/pmr-supplier-approval-ui/values-gcp-wow-corp-qretail-ngp-test.yaml
  charts/pmr-supplier-approval-ui/values-gcp-wow-corp-qretail-ngp-uat.yaml
  charts/pmr-sync/values-ngp-uat-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-devops

chore:NSPS2-9657 updating cloud sql proxy in dev and tst envs
  charts/calendar-api/values-ngp-dev-us1-services1-gke.yaml
  charts/calendar-api/values-ngp-tst-us1-services1-gke.yaml
  charts/custom-groups-api/values-ngp-dev-us1-services1-gke.yaml
  charts/custom-groups-api/values-ngp-tst-us1-services1-gke.yaml
  charts/dealsheet-api/values-ngp-dev-us1-services1-gke.yaml
  charts/dealsheet-api/values-ngp-tst-us1-services1-gke.yaml
  charts/eventschedule-api/values-ngp-dev-us1-services1-gke.yaml
  charts/eventschedule-api/values-ngp-tst-us1-services1-gke.yaml
  charts/forecast-api/values-ngp-dev-us1-services1-gke.yaml
  charts/forecast-api/values-ngp-tst-us1-services1-gke.yaml
  charts/pmr-email-sender-api/values.yaml
  charts/pmr-sync/values.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops, @Q-Retail/q-retail-frontend, @lsomervillewow, @srichards-quantium

NSPS2-0000 deployed correct pgr tag (#1878)
  charts/pgr-api/values-ngp-dev-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-devops, @lsomervillewow, @srichards-quantium

NSPS2-9538 add cloud sql connector to pmr-email-sender (#1872)
  charts/pmr-email-sender-api/templates/configmap.yaml
  charts/pmr-email-sender-api/values.yaml
  charts/pmr-supplier-approval-ui/values-gcp-wow-corp-qretail-ngp-dev.yaml
  charts/pmr-supplier-approval-ui/values-gcp-wow-corp-qretail-ngp-test.yaml
  charts/pmr-supplier-approval-ui/values-gcp-wow-corp-qretail-ngp-uat.yaml
Owners: @Q-Retail/q-retail-devops

deploy: pmr email service and approval ui 1.0.41 (#1880)
  charts/calendar-api/values-ngp-dev-us1-services1-gke.yaml
  charts/calendar-api/values-ngp-tst-us1-services1-gke.yaml
  charts/calendar-api/values-ngp-uat-us1-services1-gke.yaml
  charts/pmr-email-sender-api/templates/configmap.yaml
  charts/pmr-email-sender-api/values-ngp-dev-us1-services1-gke.yaml
  charts/pmr-email-sender-api/values-ngp-tst-us1-services1-gke.yaml
  charts/pmr-email-sender-api/values-ngp-uat-us1-services1-gke.yaml
  charts/pmr-supplier-approval-ui/values-gcp-wow-corp-qretail-ngp-dev.yaml
  charts/pmr-supplier-approval-ui/values-gcp-wow-corp-qretail-ngp-test.yaml
  charts/pmr-supplier-approval-ui/values-gcp-wow-corp-qretail-ngp-uat.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

feat: update schema for dev and uat to point to REFRESH_20231020__slow_20231023
  charts/forecast-api/values-ngp-dev-us1-services1-gke.yaml
  charts/forecast-api/values-ngp-uat-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-devops, @lsomervillewow, @srichards-quantium

Deploy 1.0.42
  charts/pmr-sync/values-ngp-dev-us1-services1-gke.yaml
  charts/pmr-sync/values-ngp-tst-us1-services1-gke.yaml
  charts/pmr-sync/values-ngp-uat-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-devops

feat: test on dev only
  charts/forecast-api/values-ngp-uat-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-devops, @lsomervillewow, @srichards-quantium

Update values-ngp-dev-us1-services1-gke.yaml image tag to 1.63.1
  charts/forecast-api/values-ngp-dev-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-devops, @lsomervillewow, @srichards-quantium

.github/CODEOWNERS:

# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,

# review when someone opens a pull request.
*  @Q-Retail/q-retail-devops

# Order is important; the last matching pattern takes the most
# precedence. When someone opens a pull request that only
# modifies following file and folder, only @js-owner and not the global
# owner(s) will be requested for a review.
/charts/calendar-api/             @Q-Retail/q-retail-app-dev @Q-Retail/q-retail-devops
/charts/dealsheet-api/            @Q-Retail/q-retail-app-dev @Q-Retail/q-retail-devops
/charts/eventschedule-api/        @Q-Retail/q-retail-app-dev @Q-Retail/q-retail-devops
/charts/hierarchy-api/            @Q-Retail/q-retail-app-dev @Q-Retail/q-retail-devops
/charts/graphql-mesh/             @Q-Retail/q-retail-app-dev @Q-Retail/q-retail-devops
/charts/forecast-api/             @Q-Retail/q-retail-devops @lsomervillewow @srichards-quantium
/charts/pgr-api/                  @Q-Retail/q-retail-devops @lsomervillewow @srichards-quantium
/charts/frontend-ui/              @Q-Retail/q-retail-frontend @Q-Retail/q-retail-devops
/charts/custom-groups-api/        @Q-Retail/q-retail-frontend @Q-Retail/q-retail-devops

/charts/istio/                  @Q-Retail/q-retail-devops
/charts/istio-gateway/          @Q-Retail/q-retail-devops
/config/                        @Q-Retail/q-retail-devops
/scripts/                       @Q-Retail/q-retail-devops
/values/                        @Q-Retail/q-retail-devops
cloudbuild.yaml                 @Q-Retail/q-retail-devops
helmfile-analytics.yaml         @Q-Retail/q-retail-devops
helmfile-backend.yaml           @Q-Retail/q-retail-devops
helmfile-front-end.yaml         @Q-Retail/q-retail-devops
helmfile.yaml                   @Q-Retail/q-retail-devops

/README.md

# set to no owner so that PRs from frontend can be auto merged
/charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml
