Repository devdream123/NGP-Cloud-platform, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Q-Retail/q-retail-devops, @Q-Retail/q-retail-app-dev, @lsomervillewow, @srichards-quantium, @Q-Retail/q-retail-frontend

.github/CODEOWNERS:

# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,

# review when someone opens a pull request.
*  @Q-Retail/q-retail-devops

# Order is important; the last matching pattern takes the most
# precedence. When someone opens a pull request that only
# modifies following file and folder, only @js-owner and not the global
# owner(s) will be requested for a review.
/charts/calendar-api/             @Q-Retail/q-retail-app-dev @Q-Retail/q-retail-devops
/charts/dealsheet-api/            @Q-Retail/q-retail-app-dev @Q-Retail/q-retail-devops
/charts/eventschedule-api/        @Q-Retail/q-retail-app-dev @Q-Retail/q-retail-devops
/charts/hierarchy-api/            @Q-Retail/q-retail-app-dev @Q-Retail/q-retail-devops
/charts/graphql-mesh/             @Q-Retail/q-retail-app-dev @Q-Retail/q-retail-devops
/charts/forecast-api/             @Q-Retail/q-retail-devops @lsomervillewow @srichards-quantium
/charts/pgr-api/                  @Q-Retail/q-retail-devops @lsomervillewow @srichards-quantium
/charts/frontend-ui/              @Q-Retail/q-retail-frontend @Q-Retail/q-retail-devops
/charts/custom-groups-api/        @Q-Retail/q-retail-frontend @Q-Retail/q-retail-devops

/charts/istio/                  @Q-Retail/q-retail-devops
/charts/istio-gateway/          @Q-Retail/q-retail-devops
/config/                        @Q-Retail/q-retail-devops
/scripts/                       @Q-Retail/q-retail-devops
/values/                        @Q-Retail/q-retail-devops
cloudbuild.yaml                 @Q-Retail/q-retail-devops
helmfile-analytics.yaml         @Q-Retail/q-retail-devops
helmfile-backend.yaml           @Q-Retail/q-retail-devops
helmfile-front-end.yaml         @Q-Retail/q-retail-devops
helmfile.yaml                   @Q-Retail/q-retail-devops

/README.md

# set to no owner so that PRs from frontend can be auto merged
/charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml

NSPS2-7941: rename pmr-sync-api to pmr-sync
  charts/pmr-sync/.helmignore
  charts/pmr-sync/Chart.yaml
  charts/pmr-sync/templates/NOTES.txt
  charts/pmr-sync/templates/_helpers.tpl
  charts/pmr-sync/templates/configmap.yaml
  charts/pmr-sync/templates/deployment.yaml
  charts/pmr-sync/templates/hpa.yaml
  charts/pmr-sync/templates/postDeployment/dbmigrationjob.yaml
  charts/pmr-sync/templates/secrets.yaml
  charts/pmr-sync/templates/service.yaml
  charts/pmr-sync/templates/serviceaccount.yaml
  charts/pmr-sync/templates/tests/test-connection.yaml
  charts/pmr-sync/values-ngp-dev-us1-services1-gke.yaml
  charts/pmr-sync/values-ngp-prd-us1-services1-gke.yaml
  charts/pmr-sync/values-ngp-tst-us1-services1-gke.yaml
  charts/pmr-sync/values-ngp-uat-us1-services1-gke.yaml
  charts/pmr-sync/values.yaml
  helmfile-front-end.yaml
  scripts/substitute-charts-secrets.sh
Owners: @Q-Retail/q-retail-devops

NSPS2-7941: rm references to versionless pmr-sync secrets
  cloudbuild.yaml
Owners: @Q-Retail/q-retail-devops

feat: dev image tag 06fa2ee from commit 06fa2ee of qr_ngp_cloud_platform (#1642)
  charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml
Owners: none

feat: deploy v1.58.4-rc to uat backend. (#1643)
  charts/calendar-api/values-ngp-uat-us1-services1-gke.yaml
  charts/dealsheet-api/values-ngp-uat-us1-services1-gke.yaml
  charts/eventschedule-api/values-ngp-uat-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

NSPS2-7941: set image tag, add playground values and incorporate script changes
  charts/pmr-sync/values-ngp-dev-us1-playground1-gke.yaml
  charts/pmr-sync/values-ngp-dev-us1-services1-gke.yaml
  charts/pmr-sync/values-ngp-prd-us1-services1-gke.yaml
  charts/pmr-sync/values-ngp-uat-us1-services1-gke.yaml
  scripts/substitute-charts-secrets.sh
Owners: @Q-Retail/q-retail-devops

NSPS2-7941: rm postgres secret references in cloudbuild.yaml
  cloudbuild.yaml
Owners: @Q-Retail/q-retail-devops

NSPS2-7941: rm unused secrets from secretEnv
  cloudbuild.yaml
Owners: @Q-Retail/q-retail-devops

update to 1.59.2 after fix (#1644)
  charts/forecast-api/values-ngp-dev-us1-services1-gke.yaml
  charts/forecast-api/values-ngp-uat-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-devops, @lsomervillewow, @srichards-quantium

NSPS2-7941: remove postgres pwd's from secretEnv
  cloudbuild.yaml
  scripts/substitute-charts-secrets.sh
Owners: @Q-Retail/q-retail-devops

NSPS2-0000 Chore. Improved cloud Platform scripts (#1640)
  cloudbuild.yaml
  scripts/apply-entity-framework-migrations.sh
  scripts/deploy.sh
  scripts/enable-service-mesh-features.sh
  scripts/enable-workload-identity.sh
  scripts/export-env-variables.sh
  scripts/install-helm-charts.sh
  scripts/package-store-charts.sh
  scripts/render-helm-charts.sh
  scripts/restart-graphql-service.sh
  scripts/substitute-charts-secrets.sh
Owners: @Q-Retail/q-retail-devops

NSPS2-7941: pmr-sync add customGroupsDB config
  charts/pmr-sync/templates/configmap.yaml
  charts/pmr-sync/values-ngp-dev-us1-services1-gke.yaml
  charts/pmr-sync/values-ngp-prd-us1-services1-gke.yaml
  charts/pmr-sync/values-ngp-uat-us1-services1-gke.yaml
  charts/pmr-sync/values.yaml
Owners: @Q-Retail/q-retail-devops

NSPS2-0000 Fix the cloud deployment issue. (#1646)
  scripts/export-env-variables.sh
  scripts/package-store-charts.sh
Owners: @Q-Retail/q-retail-devops

feat: dev image tag 95d8a9f from commit 95d8a9f of qr_ngp_cloud_platform (#1647)
  charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml
Owners: none

Revert "NSPS2-0000 Fix the cloud deployment issue. (#1646)" (#1648)
  scripts/export-env-variables.sh
  scripts/package-store-charts.sh
Owners: @Q-Retail/q-retail-devops

Revert "NSPS2-0000 Chore. Improved cloud Platform scripts (#1640)" (#1645)
  cloudbuild.yaml
  scripts/apply-entity-framework-migrations.sh
  scripts/deploy.sh
  scripts/enable-service-mesh-features.sh
  scripts/enable-workload-identity.sh
  scripts/export-env-variables.sh
  scripts/install-helm-charts.sh
  scripts/package-store-charts.sh
  scripts/render-helm-charts.sh
  scripts/restart-graphql-service.sh
  scripts/substitute-charts-secrets.sh
Owners: @Q-Retail/q-retail-devops

feat: dev image tag d71d9a0 from commit d71d9a0 of qr_ngp_cloud_platform (#1649)
  charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml
Owners: none

feat: dev image tag 73967c4 from commit 73967c4 of qr_ngp_cloud_platform (#1650)
  charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml
Owners: none

feat: dev image tag 8d59928 from commit 8d59928 of qr_ngp_cloud_platform (#1651)
  charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml
Owners: none

feat: dev image tag 84d9b12 from commit 84d9b12 of qr_ngp_cloud_platform (#1652)
  charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml
Owners: none

feat: dev image tag 832a8d4 from commit 832a8d4 of qr_ngp_cloud_platform (#1655)
  charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml
Owners: none

Feat/nsps2-0000 Fixed and improved scripts (#1654)
  charts/web-proxy-ds/values-ngp-dev-us1-playground1-gke.yaml
  charts/web-proxy-ds/values-ngp-dev-us1-services1-gke.yaml
  cloudbuild.yaml
  scripts/apply-entity-framework-migrations.sh
  scripts/deploy.sh
  scripts/enable-service-mesh-features.sh
  scripts/enable-workload-identity.sh
  scripts/export-env-variables.sh
  scripts/install-helm-charts.sh
  scripts/package-store-charts.sh
  scripts/render-helm-charts.sh
  scripts/restart-graphql-service.sh
  scripts/substitute-charts-secrets.sh
Owners: @Q-Retail/q-retail-devops

fix: NSPS2-8919 Deploy v1.58.4-hotfix-1 to BE UAT services (#1656)
  charts/calendar-api/values-ngp-uat-us1-services1-gke.yaml
  charts/dealsheet-api/values-ngp-uat-us1-services1-gke.yaml
  charts/eventschedule-api/values-ngp-uat-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

feat: dev image tag 9018c38 from commit 9018c38 of qr_ngp_cloud_platform (#1657)
  charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml
Owners: none

fix: NSPS2-8919 Deploy v1.58.7-rc to BE UAT services (#1658)
  charts/calendar-api/values-ngp-uat-us1-services1-gke.yaml
  charts/dealsheet-api/values-ngp-uat-us1-services1-gke.yaml
  charts/eventschedule-api/values-ngp-uat-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

feat:deploy v1.58.8-rc to UAT backend. (#1659)
  charts/calendar-api/values-ngp-uat-us1-services1-gke.yaml
  charts/dealsheet-api/values-ngp-uat-us1-services1-gke.yaml
  charts/eventschedule-api/values-ngp-uat-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

Revert "NSPS2-7941: pmr-sync add customGroupsDB config"
  charts/pmr-sync/templates/configmap.yaml
  charts/pmr-sync/values-ngp-dev-us1-services1-gke.yaml
  charts/pmr-sync/values-ngp-prd-us1-services1-gke.yaml
  charts/pmr-sync/values-ngp-uat-us1-services1-gke.yaml
  charts/pmr-sync/values.yaml
Owners: @Q-Retail/q-retail-devops

feat: dev image tag d210a1b from commit d210a1b of qr_ngp_cloud_platform (#1660)
  charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml
Owners: none

feat: dev image tag b4e2a82 from commit b4e2a82 of qr_ngp_cloud_platform (#1661)
  charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml
Owners: none

NSPS2-7941: add additional pmr-sync env vars
  charts/pmr-sync/templates/configmap.yaml
  charts/pmr-sync/templates/deployment.yaml
  charts/pmr-sync/values-ngp-dev-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-devops

NSPS2-7941: updated pmr-sync service accounts
  charts/pmr-sync/values-ngp-dev-us1-services1-gke.yaml
  charts/pmr-sync/values-ngp-prd-us1-services1-gke.yaml
  charts/pmr-sync/values-ngp-uat-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-devops

NSPS2-7941: add suffix to some pmr-sync env vars
  charts/pmr-sync/templates/configmap.yaml
Owners: @Q-Retail/q-retail-devops

NSPS2-7941: add secret placeholder in pmr-sync playground values
  charts/pmr-sync/values-ngp-dev-us1-playground1-gke.yaml
Owners: @Q-Retail/q-retail-devops

frontend release 1.51.2-uat
  charts/frontend-ui/values-ngp-uat-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-frontend, @Q-Retail/q-retail-devops

feat: dev image tag 9c157b5 from commit 9c157b5 of qr_ngp_cloud_platform (#1663)
  charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml
Owners: none

feat: dev image tag e301cf7 from commit e301cf7 of qr_ngp_cloud_platform (#1664)
  charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml
Owners: none

dev and uat but fix in ds-recomm (#1665)
  charts/forecast-api/values-ngp-dev-us1-services1-gke.yaml
  charts/forecast-api/values-ngp-uat-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-devops, @lsomervillewow, @srichards-quantium

NSPS2-7941: pmr-sync update image tag
  charts/pmr-sync/values-ngp-dev-us1-services1-gke.yaml
  charts/pmr-sync/values-ngp-prd-us1-services1-gke.yaml
  charts/pmr-sync/values-ngp-uat-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-devops

NSPS2-7941: change pmr-sync server URLs
  charts/pmr-sync/values-ngp-dev-us1-services1-gke.yaml
  charts/pmr-sync/values-ngp-prd-us1-services1-gke.yaml
  charts/pmr-sync/values-ngp-uat-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-devops

feat: dev image tag 30f7214 from commit 30f7214 of qr_ngp_cloud_platform (#1666)
  charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml
Owners: none

NSPS2-7941: pmr-sync add quotes around numeric values
  charts/pmr-sync/values-ngp-dev-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-devops
