Repository devdream123/NGP-Cloud-platform, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Q-Retail/q-retail-devops, @Q-Retail/q-retail-app-dev, @lsomervillewow, @srichards-quantium, @Q-Retail/q-retail-frontend

feat: deploys v1.50.11-rc to UAT
  charts/calendar-api/values-ngp-uat-us1-services1-gke.yaml
  charts/dealsheet-api/values-ngp-uat-us1-services1-gke.yaml
  charts/eventschedule-api/values-ngp-uat-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

feat: dev image tag b4d2a92 from commit b4d2a92 of qr_ngp_cloud_platform (#1373)
  charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml
Owners: none

fix:NSPS2-8165 updating all envs apart from prd with new forecast service
  charts/forecast-api/values-ngp-dev-us1-playground1-gke.yaml
  charts/forecast-api/values-ngp-dev-us1-services1-gke.yaml
  charts/forecast-api/values-ngp-tst-us1-services1-gke.yaml
  charts/forecast-api/values-ngp-uat-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-devops, @lsomervillewow, @srichards-quantium

feat: dev image tag 0ea0375 from commit 0ea0375 of qr_ngp_cloud_platform (#1377)
  charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml
Owners: none

feat: deploys v0.0.397-dev
  charts/calendar-api/values-ngp-dev-us1-services1-gke.yaml
  charts/dealsheet-api/values-ngp-dev-us1-services1-gke.yaml
  charts/eventschedule-api/values-ngp-dev-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

Revert "feat: deploys v0.0.397-dev"
  charts/calendar-api/values-ngp-dev-us1-services1-gke.yaml
  charts/dealsheet-api/values-ngp-dev-us1-services1-gke.yaml
  charts/eventschedule-api/values-ngp-dev-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

feat:NSPS2-8000 prd deployment images for release 50 (#1382)
  charts/calendar-api/values-ngp-prd-us1-services1-gke.yaml
  charts/calendar-api/values-ngp-uat-us1-services1-gke.yaml
  charts/dealsheet-api/values-ngp-prd-us1-services1-gke.yaml
  charts/dealsheet-api/values-ngp-uat-us1-services1-gke.yaml
  charts/dealsheet-api/values.yaml
  charts/eventschedule-api/values-ngp-prd-us1-services1-gke.yaml
  charts/eventschedule-api/values-ngp-uat-us1-services1-gke.yaml
  charts/eventschedule-api/values.yaml
  charts/forecast-api/values-ngp-prd-us1-services1-gke.yaml
  charts/forecast-api/values-ngp-uat-us1-services1-gke.yaml
  charts/forecast-api/values.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops, @lsomervillewow, @srichards-quantium

fix:NSPS2-8260 removing hard coded ip addresses for hierarchy service
  charts/hierarchy-api/templates/configmap.yaml
  charts/hierarchy-api/templates/deployment.yaml
  charts/hierarchy-api/values-ngp-dev-us1-services1-gke.yaml
  charts/hierarchy-api/values-ngp-tst-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

feat: NSPS2-8032, add vendor number to excel file (#1384)
  charts/calendar-api/values-ngp-uat-us1-services1-gke.yaml
  charts/dealsheet-api/values-ngp-uat-us1-services1-gke.yaml
  charts/eventschedule-api/values-ngp-uat-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

chore:NSPS2-0000 deploy 702db6e cg
  charts/custom-groups-api/values-ngp-tst-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-frontend, @Q-Retail/q-retail-devops

feat: dev image tag 1cdc759 from commit 1cdc759 of qr_ngp_cloud_platform (#1386)
  charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml
Owners: none

feat: dev image tag 24bfdd4 from commit 24bfdd4 of qr_ngp_cloud_platform (#1387)
  charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml
Owners: none

feat: NSPS2-8174 deploy v0.55.0-dev to backend services
  charts/calendar-api/values-ngp-dev-us1-services1-gke.yaml
  charts/dealsheet-api/values-ngp-dev-us1-services1-gke.yaml
  charts/eventschedule-api/values-ngp-dev-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

chore:NSPS2-0000 deploy to dev
  charts/custom-groups-api/values-ngp-dev-us1-playground1-gke.yaml
  charts/custom-groups-api/values-ngp-dev-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-frontend, @Q-Retail/q-retail-devops

feat: dev image tag 21a55f2 from commit 21a55f2 of qr_ngp_cloud_platform (#1389)
  charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml
Owners: none

feat: dev image tag 9085f6a from commit 9085f6a of qr_ngp_cloud_platform (#1390)
  charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml
Owners: none

Update values-ngp-uat-us1-services1-gke.yaml
  charts/frontend-ui/values-ngp-uat-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-frontend, @Q-Retail/q-retail-devops

feat: dev image tag 90233f2 from commit 90233f2 of qr_ngp_cloud_platform (#1393)
  charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml
Owners: none

feat: dev image tag 3dd312b from commit 3dd312b of qr_ngp_cloud_platform (#1394)
  charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml
Owners: none

chore: bump all HPA versions (#1395)
  charts/custom-groups-api/templates/hpa.yaml
  charts/istio-gateway/templates/deployment.yaml
  charts/pgr-api/templates/hpa.yaml
Owners: @Q-Retail/q-retail-frontend, @Q-Retail/q-retail-devops, @lsomervillewow, @srichards-quantium

fix: update utilization field name (#1398)
  charts/custom-groups-api/templates/hpa.yaml
  charts/istio-gateway/templates/deployment.yaml
  charts/pgr-api/templates/hpa.yaml
Owners: @Q-Retail/q-retail-frontend, @Q-Retail/q-retail-devops, @lsomervillewow, @srichards-quantium

feat: dev image tag bf5e98e from commit bf5e98e of qr_ngp_cloud_platform (#1402)
  charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml
Owners: none

fix : changed the order of deployment (#1406)
  scripts/install-helm-charts.sh
Owners: @Q-Retail/q-retail-devops

feat: dev image tag 3a0f12e from commit 3a0f12e of qr_ngp_cloud_platform (#1408)
  charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml
Owners: none

feat: dev image tag 746737b from commit 746737b of qr_ngp_cloud_platform (#1409)
  charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml
Owners: none

feat: dev image tag 337ab17 from commit 337ab17 of qr_ngp_cloud_platform (#1411)
  charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml
Owners: none

feat: dev image tag 6916328 from commit 6916328 of qr_ngp_cloud_platform (#1412)
  charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml
Owners: none

feat: dev image tag b59d419 from commit b59d419 of qr_ngp_cloud_platform (#1413)
  charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml
Owners: none

fix/hpa config (#1400)
  charts/custom-groups-api/templates/hpa.yaml
  charts/istio-gateway/templates/deployment.yaml
  charts/pgr-api/templates/hpa.yaml
  charts/web-proxy-ds/templates/daemonset.yaml
Owners: @Q-Retail/q-retail-frontend, @Q-Retail/q-retail-devops, @lsomervillewow, @srichards-quantium

fix: create new tag to deploy NSPS2-8160 (#1415)
  charts/calendar-api/values-ngp-uat-us1-services1-gke.yaml
  charts/dealsheet-api/values-ngp-uat-us1-services1-gke.yaml
  charts/eventschedule-api/values-ngp-uat-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

fix:NSPS2-0000 temp disabled custom-groups (#1416)
  helmfile-front-end.yaml
Owners: @Q-Retail/q-retail-devops

NSPS2-0000 disabling istio hpa (#1417)
  scripts/install-helm-charts.sh
Owners: @Q-Retail/q-retail-devops

feat: analytics cpi changes to playgroudn
  charts/forecast-api/values-ngp-dev-us1-playground1-gke.yaml
Owners: @Q-Retail/q-retail-devops, @lsomervillewow, @srichards-quantium

fix:NSPS2-0000 added no proxy env var (#1421)
  charts/web-proxy-ds/templates/daemonset.yaml
Owners: @Q-Retail/q-retail-devops

feat: deploys v1.51.1-rc to uat
  charts/calendar-api/values-ngp-uat-us1-services1-gke.yaml
  charts/dealsheet-api/values-ngp-uat-us1-services1-gke.yaml
  charts/eventschedule-api/values-ngp-uat-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

feat: deploy v1.51.2-rc to UAT
  charts/calendar-api/values-ngp-uat-us1-services1-gke.yaml
  charts/dealsheet-api/values-ngp-uat-us1-services1-gke.yaml
  charts/eventschedule-api/values-ngp-uat-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

feat: dev image tag c424981 from commit c424981 of qr_ngp_cloud_platform (#1425)
  charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml
Owners: none

feat: dev image tag 380a494 from commit 380a494 of qr_ngp_cloud_platform (#1426)
  charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml
Owners: none

feat:NSPS2-6591 deployed swp daemonset in prd (#1424)
  charts/web-proxy-ds/templates/daemonset.yaml
  charts/web-proxy-ds/values-ngp-dev-us1-playground1-gke.yaml
  charts/web-proxy-ds/values-ngp-dev-us1-services1-gke.yaml
  charts/web-proxy-ds/values-ngp-prd-us1-services1-gke.yaml
  charts/web-proxy-ds/values-ngp-tst-us1-services1-gke.yaml
  charts/web-proxy-ds/values-ngp-uat-us1-services1-gke.yaml
  charts/web-proxy-ds/values.yaml
Owners: @Q-Retail/q-retail-devops

feat:NSPS2-8261 updating charts in uat to enable auto instrumentation on services
  charts/calendar-api/values-ngp-uat-us1-services1-gke.yaml
  charts/custom-groups-api/values-ngp-uat-us1-services1-gke.yaml
  charts/dealsheet-api/values-ngp-uat-us1-services1-gke.yaml
  charts/eventschedule-api/values-ngp-uat-us1-services1-gke.yaml
  charts/forecast-api/values-ngp-uat-us1-services1-gke.yaml
  charts/hierarchy-api/values-ngp-uat-us1-services1-gke.yaml
  charts/pgr-api/values-ngp-uat-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops, @Q-Retail/q-retail-frontend, @lsomervillewow, @srichards-quantium

.github/CODEOWNERS:

# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,

# review when someone opens a pull request.
*  @Q-Retail/q-retail-devops

# Order is important; the last matching pattern takes the most
# precedence. When someone opens a pull request that only
# modifies following file and folder, only @js-owner and not the global
# owner(s) will be requested for a review.
/charts/calendar-api/             @Q-Retail/q-retail-app-dev @Q-Retail/q-retail-devops
/charts/dealsheet-api/            @Q-Retail/q-retail-app-dev @Q-Retail/q-retail-devops
/charts/eventschedule-api/        @Q-Retail/q-retail-app-dev @Q-Retail/q-retail-devops
/charts/hierarchy-api/            @Q-Retail/q-retail-app-dev @Q-Retail/q-retail-devops
/charts/graphql-mesh/             @Q-Retail/q-retail-app-dev @Q-Retail/q-retail-devops
/charts/forecast-api/             @Q-Retail/q-retail-devops @lsomervillewow @srichards-quantium
/charts/pgr-api/                  @Q-Retail/q-retail-devops @lsomervillewow @srichards-quantium
/charts/frontend-ui/              @Q-Retail/q-retail-frontend @Q-Retail/q-retail-devops
/charts/custom-groups-api/        @Q-Retail/q-retail-frontend @Q-Retail/q-retail-devops

/charts/istio/                  @Q-Retail/q-retail-devops
/charts/istio-gateway/          @Q-Retail/q-retail-devops
/config/                        @Q-Retail/q-retail-devops
/scripts/                       @Q-Retail/q-retail-devops
/values/                        @Q-Retail/q-retail-devops
cloudbuild.yaml                 @Q-Retail/q-retail-devops
helmfile-analytics.yaml         @Q-Retail/q-retail-devops
helmfile-backend.yaml           @Q-Retail/q-retail-devops
helmfile-front-end.yaml         @Q-Retail/q-retail-devops
helmfile.yaml                   @Q-Retail/q-retail-devops

/README.md

# set to no owner so that PRs from frontend can be auto merged
/charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml
