Repository devdream123/NGP-Cloud-platform, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Q-Retail/q-retail-devops, @Q-Retail/q-retail-app-dev, @lsomervillewow, @srichards-quantium, @Q-Retail/q-retail-frontend

fix:NSPS2-7791 ability to disable errors, graphqli and introspection via template values
  charts/graphql-mesh/templates/configmap.yaml
  charts/graphql-mesh/values-ngp-dev-us1-playground1-gke.yaml
  charts/graphql-mesh/values-ngp-dev-us1-services1-gke.yaml
  charts/graphql-mesh/values-ngp-tst-us1-services1-gke.yaml
  charts/graphql-mesh/values.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

fix:NSPS2-7790 added a fixed domain to the graphql mesh cors setting
  charts/graphql-mesh/values-ngp-dev-us1-playground1-gke.yaml
  charts/graphql-mesh/values-ngp-dev-us1-services1-gke.yaml
  charts/graphql-mesh/values-ngp-tst-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

fix:NSPS2-6602 mode modules updated retest for issue in uat
  charts/graphql-mesh/values-ngp-uat-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

feat: deploy v1.53.2-rc to UAT (#1487)
  charts/calendar-api/values-ngp-uat-us1-services1-gke.yaml
  charts/dealsheet-api/values-ngp-uat-us1-services1-gke.yaml
  charts/eventschedule-api/values-ngp-uat-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

feat:NSPS2-7367 enable splunk in frontend for uat
  charts/frontend-ui/values-ngp-uat-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-frontend, @Q-Retail/q-retail-devops

feat: dev image tag 76d6376 from commit 76d6376 of qr_ngp_cloud_platform (#1489)
  charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml
Owners: none

feat: dev image tag 606afd6 from commit 606afd6 of qr_ngp_cloud_platform (#1490)
  charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml
Owners: none

feat: dev image tag 774a847 from commit 774a847 of qr_ngp_cloud_platform (#1491)
  charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml
Owners: none

feat: NSPS2-0000 BE rollback dev to v0.54.4-dev and bump PG to v0.56.1-dev (#1492)
  charts/calendar-api/values-ngp-dev-us1-playground1-gke.yaml
  charts/calendar-api/values-ngp-dev-us1-services1-gke.yaml
  charts/dealsheet-api/values-ngp-dev-us1-playground1-gke.yaml
  charts/dealsheet-api/values-ngp-dev-us1-services1-gke.yaml
  charts/eventschedule-api/values-ngp-dev-us1-playground1-gke.yaml
  charts/eventschedule-api/values-ngp-dev-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

fix:NSPS2-7790 rollback cors setting in dev
  charts/graphql-mesh/values-ngp-dev-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

feat: dev image tag 476dc8e from commit 476dc8e of qr_ngp_cloud_platform (#1494)
  charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml
Owners: none

feat: deploy 1.50.2-uat fe (#1495)
  charts/frontend-ui/values-ngp-uat-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-frontend, @Q-Retail/q-retail-devops

feat: dev image tag 5bdb07f from commit 5bdb07f of qr_ngp_cloud_platform (#1497)
  charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml
Owners: none

feat: deploy v1.53.3-rc to UAT (#1499)
  charts/calendar-api/values-ngp-uat-us1-services1-gke.yaml
  charts/dealsheet-api/values-ngp-uat-us1-services1-gke.yaml
  charts/eventschedule-api/values-ngp-uat-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

fix: NSPS2-0000 Depoy v0.56.2-dev to PG BE services (#1498)
  charts/calendar-api/values-ngp-dev-us1-playground1-gke.yaml
  charts/dealsheet-api/values-ngp-dev-us1-playground1-gke.yaml
  charts/eventschedule-api/values-ngp-dev-us1-playground1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

feat: deploys v1.53.4-rc to UAT
  charts/calendar-api/values-ngp-uat-us1-services1-gke.yaml
  charts/dealsheet-api/values-ngp-uat-us1-services1-gke.yaml
  charts/eventschedule-api/values-ngp-uat-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

feat: deploys -v1.52.2-prd to prod
  charts/calendar-api/values-ngp-prd-us1-services1-gke.yaml
  charts/dealsheet-api/values-ngp-prd-us1-services1-gke.yaml
  charts/eventschedule-api/values-ngp-prd-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

feat: dev image tag 7109c8b from commit 7109c8b of qr_ngp_cloud_platform (#1502)
  charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml
Owners: none

fix:NSPS2-7790 reverting playground cors settings
  charts/graphql-mesh/values-ngp-dev-us1-playground1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

feat: deploys v1.53.5-rc to UAT for backend (#1504)
  charts/calendar-api/values-ngp-uat-us1-services1-gke.yaml
  charts/dealsheet-api/values-ngp-uat-us1-services1-gke.yaml
  charts/eventschedule-api/values-ngp-uat-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

feat: dev image tag 075bd2b from commit 075bd2b of qr_ngp_cloud_platform (#1505)
  charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml
Owners: none

feat: dev image tag 7c06ff5 from commit 7c06ff5 of qr_ngp_cloud_platform (#1506)
  charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml
Owners: none

Update values-ngp-dev-us1-playground1-gke.yaml (#1507)
  charts/pgr-api/values-ngp-dev-us1-playground1-gke.yaml
Owners: @Q-Retail/q-retail-devops, @lsomervillewow, @srichards-quantium

feat: dev image tag c025b63 from commit c025b63 of qr_ngp_cloud_platform (#1508)
  charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml
Owners: none

Update values-ngp-prd-us1-services1-gke.yaml
  charts/frontend-ui/values-ngp-prd-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-frontend, @Q-Retail/q-retail-devops

feat: dev image tag 3eb297e from commit 3eb297e of qr_ngp_cloud_platform (#1509)
  charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml
Owners: none

feat: dev image tag 656ac05 from commit 656ac05 of qr_ngp_cloud_platform (#1511)
  charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml
Owners: none

fix: revert 1.48.4-prd
  charts/frontend-ui/values-ngp-prd-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-frontend, @Q-Retail/q-retail-devops

Update values-ngp-prd-us1-services1-gke.yaml (#1514)
  charts/frontend-ui/values-ngp-prd-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-frontend, @Q-Retail/q-retail-devops

feat: dev image tag 04a136c from commit 04a136c of qr_ngp_cloud_platform (#1516)
  charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml
Owners: none

feat: dev image tag 902afca from commit 902afca of qr_ngp_cloud_platform (#1517)
  charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml
Owners: none

feat: dev image tag c9985bf from commit c9985bf of qr_ngp_cloud_platform (#1518)
  charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml
Owners: none

fix: NSPS2-8531 Deploy v0.56.4-dev to BE PG services (#1515)
  charts/calendar-api/values-ngp-dev-us1-playground1-gke.yaml
  charts/dealsheet-api/values-ngp-dev-us1-playground1-gke.yaml
  charts/eventschedule-api/values-ngp-dev-us1-playground1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

feat: dev image tag 9c71d4f from commit 9c71d4f of qr_ngp_cloud_platform (#1519)
  charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml
Owners: none

feat: dev image tag e0c44f1 from commit e0c44f1 of qr_ngp_cloud_platform (#1520)
  charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml
Owners: none

fix: NSPS2-0000 Deploy v0.56.5-dev to BE PG services (#1521)
  charts/calendar-api/values-ngp-dev-us1-playground1-gke.yaml
  charts/dealsheet-api/values-ngp-dev-us1-playground1-gke.yaml
  charts/eventschedule-api/values-ngp-dev-us1-playground1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

feat: dev image tag d271e87 from commit d271e87 of qr_ngp_cloud_platform (#1522)
  charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml
Owners: none

Deploy test code for hierarchy placeholder seeding
  charts/calendar-api/values-ngp-dev-us1-services1-gke.yaml
  charts/dealsheet-api/values-ngp-dev-us1-services1-gke.yaml
  charts/eventschedule-api/values-ngp-dev-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

Deploy pod seeding fixes - attempt 2 (#1523)
  charts/calendar-api/values-ngp-dev-us1-services1-gke.yaml
  charts/dealsheet-api/values-ngp-dev-us1-services1-gke.yaml
  charts/eventschedule-api/values-ngp-dev-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

fix: update pg db schema
  charts/forecast-api/values-ngp-dev-us1-playground1-gke.yaml
Owners: @Q-Retail/q-retail-devops, @lsomervillewow, @srichards-quantium

.github/CODEOWNERS:

# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,

# review when someone opens a pull request.
*  @Q-Retail/q-retail-devops

# Order is important; the last matching pattern takes the most
# precedence. When someone opens a pull request that only
# modifies following file and folder, only @js-owner and not the global
# owner(s) will be requested for a review.
/charts/calendar-api/             @Q-Retail/q-retail-app-dev @Q-Retail/q-retail-devops
/charts/dealsheet-api/            @Q-Retail/q-retail-app-dev @Q-Retail/q-retail-devops
/charts/eventschedule-api/        @Q-Retail/q-retail-app-dev @Q-Retail/q-retail-devops
/charts/hierarchy-api/            @Q-Retail/q-retail-app-dev @Q-Retail/q-retail-devops
/charts/graphql-mesh/             @Q-Retail/q-retail-app-dev @Q-Retail/q-retail-devops
/charts/forecast-api/             @Q-Retail/q-retail-devops @lsomervillewow @srichards-quantium
/charts/pgr-api/                  @Q-Retail/q-retail-devops @lsomervillewow @srichards-quantium
/charts/frontend-ui/              @Q-Retail/q-retail-frontend @Q-Retail/q-retail-devops
/charts/custom-groups-api/        @Q-Retail/q-retail-frontend @Q-Retail/q-retail-devops

/charts/istio/                  @Q-Retail/q-retail-devops
/charts/istio-gateway/          @Q-Retail/q-retail-devops
/config/                        @Q-Retail/q-retail-devops
/scripts/                       @Q-Retail/q-retail-devops
/values/                        @Q-Retail/q-retail-devops
cloudbuild.yaml                 @Q-Retail/q-retail-devops
helmfile-analytics.yaml         @Q-Retail/q-retail-devops
helmfile-backend.yaml           @Q-Retail/q-retail-devops
helmfile-front-end.yaml         @Q-Retail/q-retail-devops
helmfile.yaml                   @Q-Retail/q-retail-devops

/README.md

# set to no owner so that PRs from frontend can be auto merged
/charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml
