Repository devdream123/NGP-Cloud-platform, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Q-Retail/q-retail-devops, @Q-Retail/q-retail-app-dev, @lsomervillewow, @srichards-quantium, @Q-Retail/q-retail-frontend

.github/CODEOWNERS:

# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,

# review when someone opens a pull request.
*  @Q-Retail/q-retail-devops

# Order is important; the last matching pattern takes the most
# precedence. When someone opens a pull request that only
# modifies following file and folder, only @js-owner and not the global
# owner(s) will be requested for a review.
/charts/calendar-api/             @Q-Retail/q-retail-app-dev @Q-Retail/q-retail-devops
/charts/dealsheet-api/            @Q-Retail/q-retail-app-dev @Q-Retail/q-retail-devops
/charts/eventschedule-api/        @Q-Retail/q-retail-app-dev @Q-Retail/q-retail-devops
/charts/hierarchy-api/            @Q-Retail/q-retail-app-dev @Q-Retail/q-retail-devops
/charts/graphql-mesh/             @Q-Retail/q-retail-app-dev @Q-Retail/q-retail-devops
/charts/forecast-api/             @Q-Retail/q-retail-devops @lsomervillewow @srichards-quantium
/charts/pgr-api/                  @Q-Retail/q-retail-devops @lsomervillewow @srichards-quantium
/charts/frontend-ui/              @Q-Retail/q-retail-frontend @Q-Retail/q-retail-devops
/charts/custom-groups-api/        @Q-Retail/q-retail-frontend @Q-Retail/q-retail-devops

/charts/istio/                  @Q-Retail/q-retail-devops
/charts/istio-gateway/          @Q-Retail/q-retail-devops
/config/                        @Q-Retail/q-retail-devops
/scripts/                       @Q-Retail/q-retail-devops
/values/                        @Q-Retail/q-retail-devops
cloudbuild.yaml                 @Q-Retail/q-retail-devops
helmfile-analytics.yaml         @Q-Retail/q-retail-devops
helmfile-backend.yaml           @Q-Retail/q-retail-devops
helmfile-front-end.yaml         @Q-Retail/q-retail-devops
helmfile.yaml                   @Q-Retail/q-retail-devops

/README.md

# set to no owner so that PRs from frontend can be auto merged
/charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml

NSPS2-6984: add a default value for asm:rev in istio chart
  charts/istio/values-ngp-dev-us1-playground1-gke.yaml
  charts/istio/values-ngp-dev-us1-services1-gke.yaml
  charts/istio/values-ngp-prd-us1-services1-gke.yaml
  charts/istio/values-ngp-tst-us1-services1-gke.yaml
  charts/istio/values-ngp-uat-us1-services1-gke.yaml
  charts/istio/values.yaml
Owners: @Q-Retail/q-retail-devops

feat: dev image tag 5c22ffd from commit 5c22ffd of qr_ngp_cloud_platform (#1122)
  charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml
Owners: none

Update values-ngp-uat-us1-services1-gke.yaml (#1119)
  charts/frontend-ui/values-ngp-uat-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-frontend, @Q-Retail/q-retail-devops

feat: dev image tag 23fa0b7 from commit 23fa0b7 of qr_ngp_cloud_platform (#1124)
  charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml
Owners: none

Deploy "03-05-2023" to UAT hierarchy (version that seeds from cal. API) (#1123)
  charts/hierarchy-api/values-ngp-uat-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

feat: dev image tag dd83cb8 from commit dd83cb8 of qr_ngp_cloud_platform (#1132)
  charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml
Owners: none

feat: dev image tag e849e7d from commit e849e7d of qr_ngp_cloud_platform (#1134)
  charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml
Owners: none

feat: dev image tag 4abc5e8 from commit 4abc5e8 of qr_ngp_cloud_platform (#1136)
  charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml
Owners: none

feat: dev image tag e4c61be from commit e4c61be of qr_ngp_cloud_platform (#1137)
  charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml
Owners: none

feat: dev image tag 2704d8b from commit 2704d8b of qr_ngp_cloud_platform (#1139)
  charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml
Owners: none

feat: dev image tag 3ec6d01 from commit 3ec6d01 of qr_ngp_cloud_platform (#1140)
  charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml
Owners: none

chore: update dev img tag and schema for sp dd changes (#1129)
  charts/forecast-api/values-ngp-dev-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-devops, @lsomervillewow, @srichards-quantium

feat: dev image tag cf26cd7 from commit cf26cd7 of qr_ngp_cloud_platform (#1142)
  charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml
Owners: none

Deploy v1.47.0-hotfix-2 to UAT backend services (#1143)
  charts/calendar-api/values-ngp-uat-us1-services1-gke.yaml
  charts/dealsheet-api/values-ngp-uat-us1-services1-gke.yaml
  charts/eventschedule-api/values-ngp-uat-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

feat: NSPS2-0000 deploy 1.47.3-uat (#1144)
  charts/frontend-ui/values-ngp-uat-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-frontend, @Q-Retail/q-retail-devops

feat: dev image tag 571fb69 from commit 571fb69 of qr_ngp_cloud_platform (#1145)
  charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml
Owners: none

feat: dev image tag 8d1fa49 from commit 8d1fa49 of qr_ngp_cloud_platform (#1146)
  charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml
Owners: none

Revert "Deploy v1.47.0-hotfix-2 to UAT backend services (#1143)" (#1147)
  charts/calendar-api/values-ngp-uat-us1-services1-gke.yaml
  charts/dealsheet-api/values-ngp-uat-us1-services1-gke.yaml
  charts/eventschedule-api/values-ngp-uat-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

feat: dev image tag 3fe1eba from commit 3fe1eba of qr_ngp_cloud_platform (#1148)
  charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml
Owners: none

feat: NSPS2-0000 deploy cg d46ec79 to tst (#1150)
  charts/custom-groups-api/values-ngp-tst-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-frontend, @Q-Retail/q-retail-devops

feat: Deploy v0.51.5-dev to dev and PG
  charts/calendar-api/values-ngp-dev-us1-playground1-gke.yaml
  charts/calendar-api/values-ngp-dev-us1-services1-gke.yaml
  charts/dealsheet-api/values-ngp-dev-us1-playground1-gke.yaml
  charts/dealsheet-api/values-ngp-dev-us1-services1-gke.yaml
  charts/eventschedule-api/values-ngp-dev-us1-playground1-gke.yaml
  charts/eventschedule-api/values-ngp-dev-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

Update values-ngp-uat-us1-services1-gke.yaml
  charts/forecast-api/values-ngp-uat-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-devops, @lsomervillewow, @srichards-quantium

feat: deploy v0.51.6-dev to dev and PG
  charts/calendar-api/values-ngp-dev-us1-playground1-gke.yaml
  charts/calendar-api/values-ngp-dev-us1-services1-gke.yaml
  charts/dealsheet-api/values-ngp-dev-us1-playground1-gke.yaml
  charts/dealsheet-api/values-ngp-dev-us1-services1-gke.yaml
  charts/eventschedule-api/values-ngp-dev-us1-playground1-gke.yaml
  charts/eventschedule-api/values-ngp-dev-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

feat: updated version numbers with v1
  charts/calendar-api/values-ngp-dev-us1-playground1-gke.yaml
  charts/calendar-api/values-ngp-dev-us1-services1-gke.yaml
  charts/dealsheet-api/values-ngp-dev-us1-playground1-gke.yaml
  charts/dealsheet-api/values-ngp-dev-us1-services1-gke.yaml
  charts/eventschedule-api/values-ngp-dev-us1-playground1-gke.yaml
  charts/eventschedule-api/values-ngp-dev-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

feat: NSPS2-0000 deploy 4701d16 cg (#1156)
  charts/custom-groups-api/values-ngp-dev-us1-playground1-gke.yaml
  charts/custom-groups-api/values-ngp-dev-us1-services1-gke.yaml
  charts/custom-groups-api/values-ngp-tst-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-frontend, @Q-Retail/q-retail-devops

feat: dev image tag 625e1a1 from commit 625e1a1 of qr_ngp_cloud_platform (#1158)
  charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml
Owners: none

Deploy v1.47.0-hotfix-3 to backend services (#1157)
  charts/calendar-api/values-ngp-uat-us1-services1-gke.yaml
  charts/dealsheet-api/values-ngp-uat-us1-services1-gke.yaml
  charts/eventschedule-api/values-ngp-uat-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

feat: dev image tag dbab257 from commit dbab257 of qr_ngp_cloud_platform (#1160)
  charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml
Owners: none

UAT frontend_ui deploy 1.47.4-uat (PGR) (#1149)
  charts/frontend-ui/values-ngp-uat-us1-services1-gke.yaml
  charts/graphql-mesh/values-ngp-uat-us1-services1-gke.yaml
  charts/pgr-api/values-ngp-dev-us1-services1-gke.yaml
  charts/pgr-api/values-ngp-uat-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-frontend, @Q-Retail/q-retail-devops, @Q-Retail/q-retail-app-dev, @lsomervillewow, @srichards-quantium

feat: NSPS2-0000 deploy cg 9d53bd0 (#1161)
  charts/custom-groups-api/values-ngp-dev-us1-playground1-gke.yaml
  charts/custom-groups-api/values-ngp-dev-us1-services1-gke.yaml
  charts/custom-groups-api/values-ngp-tst-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-frontend, @Q-Retail/q-retail-devops

feat: dev image tag 8fe1475 from commit 8fe1475 of qr_ngp_cloud_platform (#1162)
  charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml
Owners: none

NSPS2-6985: upgrade eventschedule API to use IAM
  charts/dealsheet-api/templates/deployment.yaml
  charts/dealsheet-api/templates/secrets.yaml
  charts/dealsheet-api/values-ngp-dev-us1-playground1-gke.yaml
  charts/dealsheet-api/values-ngp-dev-us1-services1-gke.yaml
  charts/dealsheet-api/values-ngp-prd-us1-services1-gke.yaml
  charts/dealsheet-api/values-ngp-tst-us1-services1-gke.yaml
  charts/dealsheet-api/values-ngp-uat-us1-services1-gke.yaml
  charts/dealsheet-api/values.yaml
  scripts/substitute-charts-secrets.sh
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

feat: NSPS2-0000 deploy cg 1cb0543 (#1165)
  charts/custom-groups-api/values-ngp-dev-us1-playground1-gke.yaml
  charts/custom-groups-api/values-ngp-dev-us1-services1-gke.yaml
  charts/custom-groups-api/values-ngp-tst-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-frontend, @Q-Retail/q-retail-devops

NSPS2-7572: Fix Financial Or Calendar Year validation message
  charts/calendar-api/values-ngp-uat-us1-services1-gke.yaml
  charts/dealsheet-api/values-ngp-uat-us1-services1-gke.yaml
  charts/eventschedule-api/values-ngp-uat-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

feat: dev image tag 4064a9c from commit 4064a9c of qr_ngp_cloud_platform (#1167)
  charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml
Owners: none

feat: deploy v1.51.7-dev to Dev and PG
  charts/calendar-api/values-ngp-dev-us1-playground1-gke.yaml
  charts/calendar-api/values-ngp-dev-us1-services1-gke.yaml
  charts/dealsheet-api/values-ngp-dev-us1-playground1-gke.yaml
  charts/dealsheet-api/values-ngp-dev-us1-services1-gke.yaml
  charts/eventschedule-api/values-ngp-dev-us1-playground1-gke.yaml
  charts/eventschedule-api/values-ngp-dev-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

feat: dev image tag 7e0e1ae from commit 7e0e1ae of qr_ngp_cloud_platform (#1169)
  charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml
Owners: none

feat: deploy v1.47.0-hotfix-5 to UAT (#1170)
  charts/calendar-api/values-ngp-uat-us1-services1-gke.yaml
  charts/dealsheet-api/values-ngp-uat-us1-services1-gke.yaml
  charts/eventschedule-api/values-ngp-uat-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

feat: dev image tag 1e6580e from commit 1e6580e of qr_ngp_cloud_platform (#1171)
  charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml
Owners: none

feat: dev image tag 6215610 from commit 6215610 of qr_ngp_cloud_platform (#1172)
  charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml
Owners: none
