Repository devdream123/NGP-Cloud-platform, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Q-Retail/q-retail-devops, @Q-Retail/q-retail-app-dev, @lsomervillewow, @srichards-quantium, @Q-Retail/q-retail-frontend

.github/CODEOWNERS:

# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,

# review when someone opens a pull request.
*  @Q-Retail/q-retail-devops

# Order is important; the last matching pattern takes the most
# precedence. When someone opens a pull request that only
# modifies following file and folder, only @js-owner and not the global
# owner(s) will be requested for a review.
/charts/calendar-api/             @Q-Retail/q-retail-app-dev @Q-Retail/q-retail-devops
/charts/dealsheet-api/            @Q-Retail/q-retail-app-dev @Q-Retail/q-retail-devops
/charts/eventschedule-api/        @Q-Retail/q-retail-app-dev @Q-Retail/q-retail-devops
/charts/hierarchy-api/            @Q-Retail/q-retail-app-dev @Q-Retail/q-retail-devops
/charts/graphql-mesh/             @Q-Retail/q-retail-app-dev @Q-Retail/q-retail-devops
/charts/forecast-api/             @Q-Retail/q-retail-devops @lsomervillewow @srichards-quantium
/charts/pgr-api/                  @Q-Retail/q-retail-devops @lsomervillewow @srichards-quantium
/charts/frontend-ui/              @Q-Retail/q-retail-frontend @Q-Retail/q-retail-devops
/charts/custom-groups-api/        @Q-Retail/q-retail-frontend @Q-Retail/q-retail-devops

/charts/istio/                  @Q-Retail/q-retail-devops
/charts/istio-gateway/          @Q-Retail/q-retail-devops
/config/                        @Q-Retail/q-retail-devops
/scripts/                       @Q-Retail/q-retail-devops
/values/                        @Q-Retail/q-retail-devops
cloudbuild.yaml                 @Q-Retail/q-retail-devops
helmfile-analytics.yaml         @Q-Retail/q-retail-devops
helmfile-backend.yaml           @Q-Retail/q-retail-devops
helmfile-front-end.yaml         @Q-Retail/q-retail-devops
helmfile.yaml                   @Q-Retail/q-retail-devops

/README.md

# set to no owner so that PRs from frontend can be auto merged
/charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml

feat: deploy to UAT for v1.53.11-rc (#1572)
  charts/calendar-api/values-ngp-uat-us1-services1-gke.yaml
  charts/dealsheet-api/values-ngp-uat-us1-services1-gke.yaml
  charts/eventschedule-api/values-ngp-uat-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

feat: dev image tag a78363f from commit a78363f of qr_ngp_cloud_platform (#1573)
  charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml
Owners: none

feat: dev image tag 1a3cacf from commit 1a3cacf of qr_ngp_cloud_platform (#1574)
  charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml
Owners: none

feat: deploy 1.50.6-uat fe (#1575)
  charts/frontend-ui/values-ngp-uat-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-frontend, @Q-Retail/q-retail-devops

feat: shellcheck (#1569)
  .github/workflows/.yamllint/config.yml
  .github/workflows/ngp_ci.yml
Owners: @Q-Retail/q-retail-devops

Added schema to backend service connection string (#1571)
  charts/calendar-api/templates/configmap.yaml
  charts/calendar-api/values.yaml
  charts/dealsheet-api/templates/configmap.yaml
  charts/dealsheet-api/values.yaml
  charts/eventschedule-api/templates/configmap.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

feat: dev image tag edea89a from commit edea89a of qr_ngp_cloud_platform (#1576)
  charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml
Owners: none

NSPS2-0000 exported db schema - custom group api (#1577)
  charts/custom-groups-api/templates/configmap.yaml
Owners: @Q-Retail/q-retail-frontend, @Q-Retail/q-retail-devops

feat: backend v1.53.11-prd tag
  charts/calendar-api/values-ngp-prd-us1-services1-gke.yaml
  charts/dealsheet-api/values-ngp-prd-us1-services1-gke.yaml
  charts/eventschedule-api/values-ngp-prd-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

Update values-ngp-prd-us1-services1-gke.yaml
  charts/frontend-ui/values-ngp-prd-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-frontend, @Q-Retail/q-retail-devops

feat:NSPS2-8717 updating images for release NGS-53
  charts/custom-groups-api/values-ngp-prd-us1-services1-gke.yaml
  charts/graphql-mesh/values-ngp-prd-us1-services1-gke.yaml
  charts/pgr-api/values-ngp-prd-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-frontend, @Q-Retail/q-retail-devops, @Q-Retail/q-retail-app-dev, @lsomervillewow, @srichards-quantium

feat: NSPS2-8255 Deploy v0.0.0.9-dev to BE PG services (#1580)
  charts/calendar-api/values-ngp-dev-us1-playground1-gke.yaml
  charts/dealsheet-api/values-ngp-dev-us1-playground1-gke.yaml
  charts/eventschedule-api/values-ngp-dev-us1-playground1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

feat:NSPS2-8717 adding cors heading for prd
  charts/graphql-mesh/values-ngp-prd-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

feat: dev image tag 902d184 from commit 902d184 of qr_ngp_cloud_platform (#1581)
  charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml
Owners: none

fix:NSPS2-8717 enabling custom groups in all envs
  charts/graphql-mesh/templates/configmap.yaml
  charts/graphql-mesh/values-ngp-dev-us1-playground1-gke.yaml
  charts/graphql-mesh/values-ngp-dev-us1-services1-gke.yaml
  charts/graphql-mesh/values-ngp-tst-us1-services1-gke.yaml
  charts/graphql-mesh/values-ngp-uat-us1-services1-gke.yaml
  charts/graphql-mesh/values.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

feat: NSPS2-8255 Deploy v0.0.0.10-dev to BE PG services (#1582)
  charts/calendar-api/values-ngp-dev-us1-playground1-gke.yaml
  charts/dealsheet-api/values-ngp-dev-us1-playground1-gke.yaml
  charts/eventschedule-api/values-ngp-dev-us1-playground1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

feat: NSPS2-8709 deploy cg 7d7a07c = (#1578)
  charts/custom-groups-api/values-ngp-dev-us1-playground1-gke.yaml
  charts/custom-groups-api/values-ngp-dev-us1-services1-gke.yaml
  charts/custom-groups-api/values-ngp-tst-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-frontend, @Q-Retail/q-retail-devops

fix: update data in dev for multibuy display bug
  charts/forecast-api/values-ngp-dev-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-devops, @lsomervillewow, @srichards-quantium

feat: dev image tag 704767e from commit 704767e of qr_ngp_cloud_platform (#1584)
  charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml
Owners: none

feat: dev image tag 0921629 from commit 0921629 of qr_ngp_cloud_platform (#1585)
  charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml
Owners: none

feat: dev image tag 62e89d1 from commit 62e89d1 of qr_ngp_cloud_platform (#1586)
  charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml
Owners: none

feature/NSPS2-8255 deploy to playground
  charts/calendar-api/values-ngp-dev-us1-playground1-gke.yaml
  charts/dealsheet-api/values-ngp-dev-us1-playground1-gke.yaml
  charts/eventschedule-api/values-ngp-dev-us1-playground1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

update PG database schema value as well
  charts/forecast-api/values-ngp-dev-us1-playground1-gke.yaml
Owners: @Q-Retail/q-retail-devops, @lsomervillewow, @srichards-quantium

feat:NSPS2-8651 enabling always on profiling in instrumentations that support it
  charts/custom-groups-api/templates/_helpers.tpl
  charts/custom-groups-api/templates/configmap.yaml
  charts/custom-groups-api/values-ngp-dev-us1-services1-gke.yaml
  charts/custom-groups-api/values-ngp-tst-us1-services1-gke.yaml
  charts/custom-groups-api/values-ngp-uat-us1-services1-gke.yaml
  charts/custom-groups-api/values.yaml
  charts/frontend-ui/templates/configmap.yaml
  charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml
  charts/frontend-ui/values-ngp-tst-us1-services1-gke.yaml
  charts/frontend-ui/values-ngp-uat-us1-services1-gke.yaml
  charts/frontend-ui/values.yaml
  charts/graphql-mesh/templates/configmap.yaml
  charts/graphql-mesh/values-ngp-dev-us1-services1-gke.yaml
  charts/graphql-mesh/values-ngp-tst-us1-services1-gke.yaml
  charts/graphql-mesh/values-ngp-uat-us1-services1-gke.yaml
  charts/graphql-mesh/values.yaml
Owners: @Q-Retail/q-retail-frontend, @Q-Retail/q-retail-devops, @Q-Retail/q-retail-app-dev

fix:NSPS2-8651 yaml linting
  charts/custom-groups-api/templates/configmap.yaml
  charts/custom-groups-api/values-ngp-dev-us1-services1-gke.yaml
  charts/custom-groups-api/values-ngp-tst-us1-services1-gke.yaml
  charts/custom-groups-api/values-ngp-uat-us1-services1-gke.yaml
  charts/custom-groups-api/values.yaml
  charts/frontend-ui/templates/configmap.yaml
  charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml
  charts/frontend-ui/values-ngp-tst-us1-services1-gke.yaml
  charts/frontend-ui/values-ngp-uat-us1-services1-gke.yaml
  charts/frontend-ui/values.yaml
  charts/graphql-mesh/values-ngp-dev-us1-services1-gke.yaml
  charts/graphql-mesh/values-ngp-tst-us1-services1-gke.yaml
  charts/graphql-mesh/values-ngp-uat-us1-services1-gke.yaml
  charts/graphql-mesh/values.yaml
Owners: @Q-Retail/q-retail-frontend, @Q-Retail/q-retail-devops, @Q-Retail/q-retail-app-dev

feat: dev image tag aca73e3 from commit aca73e3 of qr_ngp_cloud_platform (#1592)
  charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml
Owners: none

feat: dev image tag 7e82920 from commit 7e82920 of qr_ngp_cloud_platform (#1593)
  charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml
Owners: none

feat: deploy v0.0.9-dev from feature branch to PG (#1596)
  charts/calendar-api/values-ngp-dev-us1-playground1-gke.yaml
  charts/dealsheet-api/values-ngp-dev-us1-playground1-gke.yaml
  charts/eventschedule-api/values-ngp-dev-us1-playground1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

fix:NSPS2-8651 added spaces back into helm templates
  charts/custom-groups-api/templates/configmap.yaml
  charts/frontend-ui/templates/configmap.yaml
Owners: @Q-Retail/q-retail-frontend, @Q-Retail/q-retail-devops

fix:NSPS2-8651 formatting
  charts/frontend-ui/templates/configmap.yaml
Owners: @Q-Retail/q-retail-frontend, @Q-Retail/q-retail-devops

feat: dev image tag 8b95566 from commit 8b95566 of qr_ngp_cloud_platform (#1597)
  charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml
Owners: none

uat: push display multibuy bug fix to uat for testing
  charts/forecast-api/values-ngp-uat-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-devops, @lsomervillewow, @srichards-quantium

chore: remove values.appVersion references (#1599)
  charts/calendar-api/templates/configmap.yaml
  charts/calendar-api/values-ngp-tst-us1-services1-gke.yaml
  charts/calendar-api/values.yaml
  charts/dealsheet-api/templates/configmap.yaml
  charts/dealsheet-api/values-ngp-tst-us1-services1-gke.yaml
  charts/dealsheet-api/values.yaml
  charts/eventschedule-api/templates/configmap.yaml
  charts/eventschedule-api/values.yaml
  charts/hierarchy-api/templates/configmap.yaml
  charts/hierarchy-api/values.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

Revert "chore: remove values.appVersion references (#1599)" (#1600)
  charts/calendar-api/templates/configmap.yaml
  charts/calendar-api/values-ngp-tst-us1-services1-gke.yaml
  charts/calendar-api/values.yaml
  charts/dealsheet-api/templates/configmap.yaml
  charts/dealsheet-api/values-ngp-tst-us1-services1-gke.yaml
  charts/dealsheet-api/values.yaml
  charts/eventschedule-api/templates/configmap.yaml
  charts/eventschedule-api/values.yaml
  charts/hierarchy-api/templates/configmap.yaml
  charts/hierarchy-api/values.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

feat: dev image tag 3452aac from commit 3452aac of qr_ngp_cloud_platform (#1601)
  charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml
Owners: none

feature: NSPS2-8758 Deploy to PG
  charts/calendar-api/values-ngp-dev-us1-playground1-gke.yaml
  charts/dealsheet-api/values-ngp-dev-us1-playground1-gke.yaml
  charts/eventschedule-api/values-ngp-dev-us1-playground1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

feat: dev image tag 1b44376 from commit 1b44376 of qr_ngp_cloud_platform (#1603)
  charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml
Owners: none

feat: dev image tag 8c12b3b from commit 8c12b3b of qr_ngp_cloud_platform (#1604)
  charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml
Owners: none

FE uat release 1.50.7
  charts/frontend-ui/values-ngp-uat-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-frontend, @Q-Retail/q-retail-devops

feat: dev image tag 7c1ce0f from commit 7c1ce0f of qr_ngp_cloud_platform (#1606)
  charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml
Owners: none
