Repository devdream123/NGP-Cloud-platform, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Q-Retail/q-retail-devops, @Q-Retail/q-retail-app-dev, @lsomervillewow, @srichards-quantium, @Q-Retail/q-retail-frontend

.github/CODEOWNERS:

# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,

# review when someone opens a pull request.
*  @Q-Retail/q-retail-devops

# Order is important; the last matching pattern takes the most
# precedence. When someone opens a pull request that only
# modifies following file and folder, only @js-owner and not the global
# owner(s) will be requested for a review.
/charts/calendar-api/             @Q-Retail/q-retail-app-dev @Q-Retail/q-retail-devops
/charts/dealsheet-api/            @Q-Retail/q-retail-app-dev @Q-Retail/q-retail-devops
/charts/eventschedule-api/        @Q-Retail/q-retail-app-dev @Q-Retail/q-retail-devops
/charts/hierarchy-api/            @Q-Retail/q-retail-app-dev @Q-Retail/q-retail-devops
/charts/graphql-mesh/             @Q-Retail/q-retail-app-dev @Q-Retail/q-retail-devops
/charts/forecast-api/             @Q-Retail/q-retail-devops @lsomervillewow @srichards-quantium
/charts/pgr-api/                  @Q-Retail/q-retail-devops @lsomervillewow @srichards-quantium
/charts/frontend-ui/              @Q-Retail/q-retail-frontend @Q-Retail/q-retail-devops
/charts/custom-groups-api/        @Q-Retail/q-retail-frontend @Q-Retail/q-retail-devops

/charts/istio/                  @Q-Retail/q-retail-devops
/charts/istio-gateway/          @Q-Retail/q-retail-devops
/config/                        @Q-Retail/q-retail-devops
/scripts/                       @Q-Retail/q-retail-devops
/values/                        @Q-Retail/q-retail-devops
cloudbuild.yaml                 @Q-Retail/q-retail-devops
helmfile-analytics.yaml         @Q-Retail/q-retail-devops
helmfile-backend.yaml           @Q-Retail/q-retail-devops
helmfile-front-end.yaml         @Q-Retail/q-retail-devops
helmfile.yaml                   @Q-Retail/q-retail-devops

/README.md

# set to no owner so that PRs from frontend can be auto merged
/charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml

feat: update schema tags for dev and uat
  charts/forecast-api/values-ngp-dev-us1-services1-gke.yaml
  charts/forecast-api/values-ngp-uat-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-devops, @lsomervillewow, @srichards-quantium

feat: dev image tag 909a435 from commit 909a435 of qr_ngp_cloud_platform (#1174)
  charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml
Owners: none

feat: dev image tag 8b68065 from commit 8b68065 of qr_ngp_cloud_platform (#1175)
  charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml
Owners: none

feat: dev image tag 2628cf9 from commit 2628cf9 of qr_ngp_cloud_platform (#1176)
  charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml
Owners: none

feat: dev image tag ae00f28 from commit ae00f28 of qr_ngp_cloud_platform (#1177)
  charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml
Owners: none

feat: dev image tag 4bd2cc5 from commit 4bd2cc5 of qr_ngp_cloud_platform (#1178)
  charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml
Owners: none

feature NSPS2-6799: Handle multiple suppliers in Calendar export
  charts/calendar-api/values-ngp-uat-us1-services1-gke.yaml
  charts/dealsheet-api/values-ngp-uat-us1-services1-gke.yaml
  charts/eventschedule-api/values-ngp-uat-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

Update values-ngp-uat-us1-services1-gke.yaml (#1180)
  charts/frontend-ui/values-ngp-uat-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-frontend, @Q-Retail/q-retail-devops

feat: dev image tag 4e0214e from commit 4e0214e of qr_ngp_cloud_platform (#1181)
  charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml
Owners: none

feat: dev image tag 90f046b from commit 90f046b of qr_ngp_cloud_platform (#1182)
  charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml
Owners: none

feat: dev image tag 6f5a939 from commit 6f5a939 of qr_ngp_cloud_platform (#1183)
  charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml
Owners: none

feat: deploy uat branch to UAT environment, v1.47.0-hotfix-7 (#1188)
  charts/calendar-api/values-ngp-uat-us1-services1-gke.yaml
  charts/dealsheet-api/values-ngp-uat-us1-services1-gke.yaml
  charts/eventschedule-api/values-ngp-uat-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

feat: dev image tag 4bc4453 from commit 4bc4453 of qr_ngp_cloud_platform (#1190)
  charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml
Owners: none

Deploy v0.52.1-dev (#1191)
  charts/calendar-api/values-ngp-dev-us1-playground1-gke.yaml
  charts/calendar-api/values-ngp-dev-us1-services1-gke.yaml
  charts/dealsheet-api/values-ngp-dev-us1-playground1-gke.yaml
  charts/dealsheet-api/values-ngp-dev-us1-services1-gke.yaml
  charts/eventschedule-api/values-ngp-dev-us1-playground1-gke.yaml
  charts/eventschedule-api/values-ngp-dev-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

feat: dev image tag 0fdb22f from commit 0fdb22f of qr_ngp_cloud_platform (#1194)
  charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml
Owners: none

feat: deploy v1.47.0-hotfix-8 to UAT
  charts/calendar-api/values-ngp-uat-us1-services1-gke.yaml
  charts/dealsheet-api/values-ngp-uat-us1-services1-gke.yaml
  charts/eventschedule-api/values-ngp-uat-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

feat: dev image tag 9ab7f5e from commit 9ab7f5e of qr_ngp_cloud_platform (#1196)
  charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml
Owners: none

feat: dev image tag 99ec30a from commit 99ec30a of qr_ngp_cloud_platform (#1198)
  charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml
Owners: none

feat: deploy v1.47.0-hotfix-9 to UAT
  charts/calendar-api/values-ngp-uat-us1-services1-gke.yaml
  charts/dealsheet-api/values-ngp-uat-us1-services1-gke.yaml
  charts/eventschedule-api/values-ngp-uat-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

Update values-ngp-uat-us1-services1-gke.yaml (#1197)
  charts/frontend-ui/values-ngp-uat-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-frontend, @Q-Retail/q-retail-devops

feat: dev image tag 85fe0b6 from commit 85fe0b6 of qr_ngp_cloud_platform (#1201)
  charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml
Owners: none

Deploy v0.52.2-dev to DEV an PG (#1203)
  charts/calendar-api/values-ngp-dev-us1-playground1-gke.yaml
  charts/calendar-api/values-ngp-dev-us1-services1-gke.yaml
  charts/dealsheet-api/values-ngp-dev-us1-playground1-gke.yaml
  charts/dealsheet-api/values-ngp-dev-us1-services1-gke.yaml
  charts/eventschedule-api/values-ngp-dev-us1-playground1-gke.yaml
  charts/eventschedule-api/values-ngp-dev-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

feat: dev image tag 2f6b9fb from commit 2f6b9fb of qr_ngp_cloud_platform (#1205)
  charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml
Owners: none

Update values-ngp-uat-us1-services1-gke.yaml (#1200)
  charts/frontend-ui/values-ngp-uat-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-frontend, @Q-Retail/q-retail-devops

Update values-ngp-uat-us1-services1-gke.yaml
  charts/frontend-ui/values-ngp-uat-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-frontend, @Q-Retail/q-retail-devops

feat: dev image tag b7ccaa8 from commit b7ccaa8 of qr_ngp_cloud_platform (#1210)
  charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml
Owners: none

feat: dev image tag e49508f from commit e49508f of qr_ngp_cloud_platform (#1211)
  charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml
Owners: none

feat: dev image tag 5534d52 from commit 5534d52 of qr_ngp_cloud_platform (#1212)
  charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml
Owners: none

feat: dev image tag c436e55 from commit c436e55 of qr_ngp_cloud_platform (#1213)
  charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml
Owners: none

feat: dev image tag 6eb1ef6 from commit 6eb1ef6 of qr_ngp_cloud_platform (#1214)
  charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml
Owners: none

Update tag to v1.47.1-rc from v1.47.0-hotfix-9 (#1216)
  charts/calendar-api/values-ngp-uat-us1-services1-gke.yaml
  charts/dealsheet-api/values-ngp-uat-us1-services1-gke.yaml
  charts/eventschedule-api/values-ngp-uat-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

Deploy v0.52.3-dev to backend services (#1217)
  charts/calendar-api/values-ngp-dev-us1-playground1-gke.yaml
  charts/calendar-api/values-ngp-dev-us1-services1-gke.yaml
  charts/dealsheet-api/values-ngp-dev-us1-playground1-gke.yaml
  charts/dealsheet-api/values-ngp-dev-us1-services1-gke.yaml
  charts/eventschedule-api/values-ngp-dev-us1-playground1-gke.yaml
  charts/eventschedule-api/values-ngp-dev-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

Deploy hotfix to backend UAT (#1219)
  charts/calendar-api/values-ngp-uat-us1-services1-gke.yaml
  charts/dealsheet-api/values-ngp-uat-us1-services1-gke.yaml
  charts/eventschedule-api/values-ngp-uat-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

Update values-ngp-uat-us1-services1-gke.yaml (#1218)
  charts/frontend-ui/values-ngp-uat-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-frontend, @Q-Retail/q-retail-devops

feat: dev image tag 8ae9500 from commit 8ae9500 of qr_ngp_cloud_platform (#1220)
  charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml
Owners: none

feat: dev image tag c5623c3 from commit c5623c3 of qr_ngp_cloud_platform (#1222)
  charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml
Owners: none

Deploy updated hierarchy data to dev and pg (#1221)
  charts/hierarchy-api/values-ngp-dev-us1-playground1-gke.yaml
  charts/hierarchy-api/values-ngp-dev-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

feat: deploys v1.47.2-rc to UAT
  charts/calendar-api/values-ngp-uat-us1-services1-gke.yaml
  charts/dealsheet-api/values-ngp-uat-us1-services1-gke.yaml
  charts/eventschedule-api/values-ngp-uat-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

feat: dev image tag 90f7cb3 from commit 90f7cb3 of qr_ngp_cloud_platform (#1224)
  charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml
Owners: none

feat: dev image tag 9344ae4 from commit 9344ae4 of qr_ngp_cloud_platform (#1225)
  charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml
Owners: none
