Repository devdream123/NGP-Cloud-platform, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Q-Retail/q-retail-devops, @Q-Retail/q-retail-app-dev, @lsomervillewow, @srichards-quantium, @Q-Retail/q-retail-frontend

.github/CODEOWNERS:

# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,

# review when someone opens a pull request.
*  @Q-Retail/q-retail-devops

# Order is important; the last matching pattern takes the most
# precedence. When someone opens a pull request that only
# modifies following file and folder, only @js-owner and not the global
# owner(s) will be requested for a review.
/charts/calendar-api/             @Q-Retail/q-retail-app-dev @Q-Retail/q-retail-devops
/charts/dealsheet-api/            @Q-Retail/q-retail-app-dev @Q-Retail/q-retail-devops
/charts/eventschedule-api/        @Q-Retail/q-retail-app-dev @Q-Retail/q-retail-devops
/charts/hierarchy-api/            @Q-Retail/q-retail-app-dev @Q-Retail/q-retail-devops
/charts/graphql-mesh/             @Q-Retail/q-retail-app-dev @Q-Retail/q-retail-devops
/charts/forecast-api/             @Q-Retail/q-retail-devops @lsomervillewow @srichards-quantium
/charts/pgr-api/                  @Q-Retail/q-retail-devops @lsomervillewow @srichards-quantium
/charts/frontend-ui/              @Q-Retail/q-retail-frontend @Q-Retail/q-retail-devops
/charts/custom-groups-api/        @Q-Retail/q-retail-frontend @Q-Retail/q-retail-devops

/charts/istio/                  @Q-Retail/q-retail-devops
/charts/istio-gateway/          @Q-Retail/q-retail-devops
/config/                        @Q-Retail/q-retail-devops
/scripts/                       @Q-Retail/q-retail-devops
/values/                        @Q-Retail/q-retail-devops
cloudbuild.yaml                 @Q-Retail/q-retail-devops
helmfile-analytics.yaml         @Q-Retail/q-retail-devops
helmfile-backend.yaml           @Q-Retail/q-retail-devops
helmfile-front-end.yaml         @Q-Retail/q-retail-devops
helmfile.yaml                   @Q-Retail/q-retail-devops

/README.md

# set to no owner so that PRs from frontend can be auto merged
/charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml

NSPS2-9404: add connection to audit log project, set BE to v0.63.1-dev (#1884)
  charts/calendar-api/templates/configmap.yaml
  charts/calendar-api/values-ngp-dev-us1-services1-gke.yaml
  charts/calendar-api/values-ngp-tst-us1-services1-gke.yaml
  charts/calendar-api/values.yaml
  charts/dealsheet-api/values-ngp-dev-us1-services1-gke.yaml
  charts/eventschedule-api/values-ngp-dev-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

Changes for Dev configs (#1886)
  charts/calendar-api/templates/configmap.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

Deploy v0.63.2-dev (#1887)
  charts/calendar-api/values-ngp-dev-us1-services1-gke.yaml
  charts/dealsheet-api/values-ngp-dev-us1-services1-gke.yaml
  charts/eventschedule-api/values-ngp-dev-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

feat: v1.57.2-rc deployment - BE
  charts/calendar-api/values-ngp-uat-us1-services1-gke.yaml
  charts/dealsheet-api/values-ngp-uat-us1-services1-gke.yaml
  charts/eventschedule-api/values-ngp-uat-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

feat: deploys v0.63.3-dev BE
  charts/calendar-api/values-ngp-dev-us1-services1-gke.yaml
  charts/dealsheet-api/values-ngp-dev-us1-services1-gke.yaml
  charts/eventschedule-api/values-ngp-dev-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

feat: updates tag - BE
  charts/calendar-api/values-ngp-uat-us1-services1-gke.yaml
  charts/dealsheet-api/values-ngp-uat-us1-services1-gke.yaml
  charts/eventschedule-api/values-ngp-uat-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

Feature/nsps2 9215 pmr audit log create revisions (#1861)
  cloudbuild.yaml
  config/tst.env.yaml
  scripts/convert-protobuf-schema.sh
  scripts/create-pubsub-topic-schema.sh
  scripts/deploy-pmr-pubsub-schemas.sh
  scripts/deploy.sh
  scripts/download-protobuf-schemas.sh
  scripts/enable-service-mesh-features.sh
  scripts/enable-workload-identity.sh
  scripts/export-env-variables.sh
  scripts/install-helm-charts.sh
  scripts/package-store-charts.sh
  scripts/substitute-charts-secrets.sh
  scripts/update-bq-table-schema.sh
  values/dev.yaml
Owners: @Q-Retail/q-retail-devops

NSPS2-9215: add all pmr events values for tst project
  config/tst.env.yaml
Owners: @Q-Retail/q-retail-devops

Feature/nsps2 9215 pmr audit log create revisions (#1891)
  config/tst.env.yaml
  scripts/convert-protobuf-schema.sh
  scripts/create-pubsub-topic-schema.sh
  scripts/deploy-pmr-pubsub-schemas.sh
  scripts/update-bq-table-schema.sh
Owners: @Q-Retail/q-retail-devops

removed unused object
  values/dev.yaml
Owners: @Q-Retail/q-retail-devops

NSPS2-8926: small grammar fixes
  scripts/convert-protobuf-schema.sh
  scripts/download-protobuf-schemas.sh
  scripts/update-bq-table-schema.sh
Owners: @Q-Retail/q-retail-devops

NSPS2-9215: add PMR events values in dev
  config/dev.env.yaml
Owners: @Q-Retail/q-retail-devops

updated the schema tag
  config/dev.env.yaml
Owners: @Q-Retail/q-retail-devops

Update values-ngp-uat-us1-services1-gke.yaml (#1897)
  charts/frontend-ui/values-ngp-uat-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-frontend, @Q-Retail/q-retail-devops

deploy/v0.63.5-dev (#1899)
  charts/calendar-api/values-ngp-dev-us1-services1-gke.yaml
  charts/dealsheet-api/values-ngp-dev-us1-services1-gke.yaml
  charts/eventschedule-api/values-ngp-dev-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

Deploy pmr-sync v1.0.45
  charts/pmr-sync/values-ngp-dev-us1-services1-gke.yaml
  charts/pmr-sync/values-ngp-tst-us1-services1-gke.yaml
  charts/pmr-sync/values-ngp-uat-us1-services1-gke.yaml
  charts/pmr-sync/values.yaml
Owners: @Q-Retail/q-retail-devops

NSPS2-9215: check if protobuf schema tag exists before deploying to env
  scripts/deploy-pmr-pubsub-schemas.sh
Owners: @Q-Retail/q-retail-devops

pmr-sync: set concurrency to 8 + remove unused env vars
  charts/pmr-sync/templates/configmap.yaml
  charts/pmr-sync/values-ngp-dev-us1-services1-gke.yaml
  charts/pmr-sync/values-ngp-tst-us1-services1-gke.yaml
  charts/pmr-sync/values-ngp-uat-us1-services1-gke.yaml
  charts/pmr-sync/values.yaml
Owners: @Q-Retail/q-retail-devops

pmr-sync: set concurrency to 8 (Fix build issue)
  charts/pmr-sync/templates/configmap.yaml
Owners: @Q-Retail/q-retail-devops

Update values-ngp-uat-us1-services1-gke.yaml
  charts/frontend-ui/values-ngp-uat-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-frontend, @Q-Retail/q-retail-devops

NSPS2-9215: change PMR audit log topic message encoding to binary
  scripts/create-pubsub-topic-schema.sh
Owners: @Q-Retail/q-retail-devops

feat: ngs debug app intial commit (#1901)
  charts/istio/values-ngp-dev-us1-services1-gke.yaml
  charts/ngs-debug-app/.helmignore
  charts/ngs-debug-app/Chart.yaml
  charts/ngs-debug-app/templates/NOTES.txt
  charts/ngs-debug-app/templates/_helpers.tpl
  charts/ngs-debug-app/templates/configmap.yaml
  charts/ngs-debug-app/templates/deployment.yaml
  charts/ngs-debug-app/templates/hpa.yaml
  charts/ngs-debug-app/templates/service.yaml
  charts/ngs-debug-app/templates/serviceaccount.yaml
  charts/ngs-debug-app/templates/tests/test-connection.yaml
  charts/ngs-debug-app/values-ngp-dev-us1-services1-gke.yaml
  charts/ngs-debug-app/values-ngp-tst-us1-services1-gke.yaml
  charts/ngs-debug-app/values-ngp-uat-us1-services1-gke.yaml
  charts/ngs-debug-app/values.yaml
  helmfile-front-end.yaml
Owners: @Q-Retail/q-retail-devops

chore:NSPS2-9657 updating cloud sql proxy in uat
  charts/calendar-api/values-ngp-uat-us1-services1-gke.yaml
  charts/custom-groups-api/values-ngp-uat-us1-services1-gke.yaml
  charts/dealsheet-api/values-ngp-uat-us1-services1-gke.yaml
  charts/eventschedule-api/values-ngp-uat-us1-services1-gke.yaml
  charts/forecast-api/values-ngp-uat-us1-services1-gke.yaml
  charts/pmr-email-sender-api/values-ngp-dev-us1-services1-gke.yaml
  charts/pmr-email-sender-api/values-ngp-tst-us1-services1-gke.yaml
  charts/pmr-email-sender-api/values-ngp-uat-us1-services1-gke.yaml
  charts/pmr-sync/values-ngp-dev-us1-services1-gke.yaml
  charts/pmr-sync/values-ngp-tst-us1-services1-gke.yaml
  charts/pmr-sync/values-ngp-uat-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops, @Q-Retail/q-retail-frontend, @lsomervillewow, @srichards-quantium

fix:NSPS2-9713 enabling email sender service in uat
  charts/pmr-email-sender-api/values-ngp-uat-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-devops

chore: missing prd values file (#1911)
  charts/ngs-debug-app/values-ngp-prd-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-devops

Update values-ngp-uat-us1-services1-gke.yaml
  charts/frontend-ui/values-ngp-uat-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-frontend, @Q-Retail/q-retail-devops

feat: deploy 1.0.46 pes to uat and dev (#1915)
  charts/ngs-debug-app/templates/configmap.yaml
  charts/ngs-debug-app/values-ngp-dev-us1-services1-gke.yaml
  charts/pmr-email-sender-api/templates/configmap.yaml
  charts/pmr-email-sender-api/values-ngp-dev-us1-services1-gke.yaml
  charts/pmr-email-sender-api/values-ngp-prd-us1-services1-gke.yaml
  charts/pmr-email-sender-api/values-ngp-tst-us1-services1-gke.yaml
  charts/pmr-email-sender-api/values-ngp-uat-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-devops

feat: deploying v0.63.7-dev to dev (#1916)
  charts/calendar-api/values-ngp-dev-us1-services1-gke.yaml
  charts/dealsheet-api/values-ngp-dev-us1-services1-gke.yaml
  charts/eventschedule-api/values-ngp-dev-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

deploy/v1.57.5-rc to UAT (#1917)
  charts/calendar-api/values-ngp-uat-us1-services1-gke.yaml
  charts/dealsheet-api/values-ngp-uat-us1-services1-gke.yaml
  charts/eventschedule-api/values-ngp-uat-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

Nsps2 9629/path and health fix (#1918)
  charts/istio/values-ngp-dev-us1-services1-gke.yaml
  charts/ngs-debug-app/templates/deployment.yaml
  charts/ngs-debug-app/values-ngp-tst-us1-services1-gke.yaml
  charts/ngs-debug-app/values.yaml
Owners: @Q-Retail/q-retail-devops

Deploy v1.63.8-dev to backend services (#1919)
  charts/calendar-api/values-ngp-dev-us1-services1-gke.yaml
  charts/dealsheet-api/values-ngp-dev-us1-services1-gke.yaml
  charts/eventschedule-api/values-ngp-dev-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

Deploy v1.57.6-rc to UAT (#1921)
  charts/calendar-api/values-ngp-uat-us1-services1-gke.yaml
  charts/dealsheet-api/values-ngp-uat-us1-services1-gke.yaml
  charts/eventschedule-api/values-ngp-uat-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

fix:NSPS2-9713 matching the graphql conf in uat to prd for pen test
  charts/graphql-mesh/values-ngp-uat-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

chore: update debug app istio port (#1923)
  charts/istio/values-ngp-dev-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-devops

feat:NSPS2-9713 deploy latest approval portal changes
  charts/pmr-supplier-approval-ui/values-gcp-wow-corp-qretail-ngp-dev.yaml
  charts/pmr-supplier-approval-ui/values-gcp-wow-corp-qretail-ngp-test.yaml
  charts/pmr-supplier-approval-ui/values-gcp-wow-corp-qretail-ngp-uat.yaml
Owners: @Q-Retail/q-retail-devops

fix: NSPS2-9745 Deploye v1.57.7-rc to BE UAT services (#1925)
  charts/calendar-api/values-ngp-uat-us1-services1-gke.yaml
  charts/dealsheet-api/values-ngp-uat-us1-services1-gke.yaml
  charts/eventschedule-api/values-ngp-uat-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

Deploy v1.57.8-rc to UAT (#1926)
  charts/calendar-api/values-ngp-uat-us1-services1-gke.yaml
  charts/dealsheet-api/values-ngp-uat-us1-services1-gke.yaml
  charts/eventschedule-api/values-ngp-uat-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

fix: NSPS2-9724 Historical DataSedder Fix deployment to DEV
  charts/calendar-api/values-ngp-dev-us1-services1-gke.yaml
  charts/dealsheet-api/values-ngp-dev-us1-services1-gke.yaml
  charts/eventschedule-api/values-ngp-dev-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

fix: NSPS2-9745 Deploy v1.57.10-rc to BE UAT services (#1929)
  charts/calendar-api/values-ngp-uat-us1-services1-gke.yaml
  charts/dealsheet-api/values-ngp-uat-us1-services1-gke.yaml
  charts/eventschedule-api/values-ngp-uat-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

fix: NSPS2-9745 Deploy v1.57.11-rc to BE UAT services (#1931)
  charts/calendar-api/values-ngp-uat-us1-services1-gke.yaml
  charts/dealsheet-api/values-ngp-uat-us1-services1-gke.yaml
  charts/eventschedule-api/values-ngp-uat-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops
