Repository devdream123/NGP-Cloud-platform, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Q-Retail/q-retail-devops, @Q-Retail/q-retail-app-dev, @lsomervillewow, @srichards-quantium, @Q-Retail/q-retail-frontend

.github/CODEOWNERS:

# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,

# review when someone opens a pull request.
*  @Q-Retail/q-retail-devops

# Order is important; the last matching pattern takes the most
# precedence. When someone opens a pull request that only
# modifies following file and folder, only @js-owner and not the global
# owner(s) will be requested for a review.
/charts/calendar-api/             @Q-Retail/q-retail-app-dev @Q-Retail/q-retail-devops
/charts/dealsheet-api/            @Q-Retail/q-retail-app-dev @Q-Retail/q-retail-devops
/charts/eventschedule-api/        @Q-Retail/q-retail-app-dev @Q-Retail/q-retail-devops
/charts/hierarchy-api/            @Q-Retail/q-retail-app-dev @Q-Retail/q-retail-devops
/charts/graphql-mesh/             @Q-Retail/q-retail-app-dev @Q-Retail/q-retail-devops
/charts/forecast-api/             @Q-Retail/q-retail-devops @lsomervillewow @srichards-quantium
/charts/pgr-api/                  @Q-Retail/q-retail-devops @lsomervillewow @srichards-quantium
/charts/frontend-ui/              @Q-Retail/q-retail-frontend @Q-Retail/q-retail-devops
/charts/custom-groups-api/        @Q-Retail/q-retail-frontend @Q-Retail/q-retail-devops

/charts/istio/                  @Q-Retail/q-retail-devops
/charts/istio-gateway/          @Q-Retail/q-retail-devops
/config/                        @Q-Retail/q-retail-devops
/scripts/                       @Q-Retail/q-retail-devops
/values/                        @Q-Retail/q-retail-devops
cloudbuild.yaml                 @Q-Retail/q-retail-devops
helmfile-analytics.yaml         @Q-Retail/q-retail-devops
helmfile-backend.yaml           @Q-Retail/q-retail-devops
helmfile-front-end.yaml         @Q-Retail/q-retail-devops
helmfile.yaml                   @Q-Retail/q-retail-devops

/README.md

# set to no owner so that PRs from frontend can be auto merged
/charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml

feat: dev image tag 9c360a3 from commit 9c360a3 of qr_ngp_cloud_platform (#1268)
  charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml
Owners: none

feat: dev image tag 5e9e391 from commit 5e9e391 of qr_ngp_cloud_platform (#1269)
  charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml
Owners: none

feat: dev image tag 9e45e3f from commit 9e45e3f of qr_ngp_cloud_platform (#1270)
  charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml
Owners: none

feat: dev image tag a5c7492 from commit a5c7492 of qr_ngp_cloud_platform (#1271)
  charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml
Owners: none

Update values-ngp-uat-us1-services1-gke.yaml (#1272)
  charts/frontend-ui/values-ngp-uat-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-frontend, @Q-Retail/q-retail-devops

feat: dev image tag cdba9e9 from commit cdba9e9 of qr_ngp_cloud_platform (#1273)
  charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml
Owners: none

feat: dev image tag 8b5efe8 from commit 8b5efe8 of qr_ngp_cloud_platform (#1274)
  charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml
Owners: none

Update UAT hierarchy ngpassortmentconfiguration
  charts/hierarchy-api/values-ngp-uat-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

feature: NSPS2-7748 Deploy Creating Missing Scenario to UAT
  charts/calendar-api/values-ngp-uat-us1-services1-gke.yaml
  charts/dealsheet-api/values-ngp-uat-us1-services1-gke.yaml
  charts/eventschedule-api/values-ngp-uat-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

Deploy v0.53.0-dev to backend services (#1277)
  charts/calendar-api/values-ngp-dev-us1-services1-gke.yaml
  charts/dealsheet-api/values-ngp-dev-us1-services1-gke.yaml
  charts/eventschedule-api/values-ngp-dev-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

feat:NSPS2-7885 hierarhcy service with optional proxy
  charts/hierarchy-api/templates/configmap.yaml
  charts/hierarchy-api/templates/deployment.yaml
  charts/hierarchy-api/values-ngp-dev-us1-services1-gke.yaml
  charts/hierarchy-api/values-ngp-tst-us1-services1-gke.yaml
  charts/hierarchy-api/values.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

feat: dev image tag a6746a6 from commit a6746a6 of qr_ngp_cloud_platform (#1279)
  charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml
Owners: none

feat: dev image tag ee80485 from commit ee80485 of qr_ngp_cloud_platform (#1280)
  charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml
Owners: none

feature: NSPS2-7748 fix duplicated promo slot
  charts/calendar-api/values-ngp-uat-us1-services1-gke.yaml
  charts/dealsheet-api/values-ngp-uat-us1-services1-gke.yaml
  charts/eventschedule-api/values-ngp-uat-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

feat: dev image tag ce95832 from commit ce95832 of qr_ngp_cloud_platform (#1282)
  charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml
Owners: none

Deploy v0.53.1-dev to backend services
  charts/calendar-api/values-ngp-dev-us1-services1-gke.yaml
  charts/dealsheet-api/values-ngp-dev-us1-services1-gke.yaml
  charts/eventschedule-api/values-ngp-dev-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

Update values-ngp-prd-us1-services1-gke.yaml
  charts/frontend-ui/values-ngp-prd-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-frontend, @Q-Retail/q-retail-devops

fix:NSPS2-0000 updating pf codes to address missing assortments
  charts/hierarchy-api/values-ngp-prd-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

fix:NSPS2-0000 updating be charts with latest version
  charts/calendar-api/values-ngp-prd-us1-services1-gke.yaml
  charts/dealsheet-api/values-ngp-prd-us1-services1-gke.yaml
  charts/eventschedule-api/values-ngp-prd-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

feat: dev image tag 1929acd from commit 1929acd of qr_ngp_cloud_platform (#1285)
  charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml
Owners: none

feat: dev image tag 8d7f19c from commit 8d7f19c of qr_ngp_cloud_platform (#1286)
  charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml
Owners: none

feat: dev image tag b9039b1 from commit b9039b1 of qr_ngp_cloud_platform (#1287)
  charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml
Owners: none

feat: dev image tag b07a2ea from commit b07a2ea of qr_ngp_cloud_platform (#1290)
  charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml
Owners: none

feat: dev image tag 414f9ea from commit 414f9ea of qr_ngp_cloud_platform (#1291)
  charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml
Owners: none

feat: dev image tag 0498d59 from commit 0498d59 of qr_ngp_cloud_platform (#1292)
  charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml
Owners: none

feat: dev image tag 62aadf9 from commit 62aadf9 of qr_ngp_cloud_platform (#1293)
  charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml
Owners: none

feat: dev image tag 20bc69a from commit 20bc69a of qr_ngp_cloud_platform (#1294)
  charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml
Owners: none

UAT deployment for NSPS2-7199
  charts/calendar-api/values-ngp-uat-us1-services1-gke.yaml
  charts/dealsheet-api/values-ngp-uat-us1-services1-gke.yaml
  charts/eventschedule-api/values-ngp-uat-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

feat: dev image tag e1a5595 from commit e1a5595 of qr_ngp_cloud_platform (#1300)
  charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml
Owners: none

feat: dev image tag 63edaa8 from commit 63edaa8 of qr_ngp_cloud_platform (#1301)
  charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml
Owners: none

feat: dev image tag 55bc290 from commit 55bc290 of qr_ngp_cloud_platform (#1302)
  charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml
Owners: none

feat:NSPS2-8000 updating to latest cloud sql proxy version in uat
  charts/calendar-api/values-ngp-uat-us1-services1-gke.yaml
  charts/dealsheet-api/values-ngp-uat-us1-services1-gke.yaml
  charts/eventschedule-api/values-ngp-uat-us1-services1-gke.yaml
  charts/forecast-api/values-ngp-uat-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops, @lsomervillewow, @srichards-quantium

Updated tag tov0.53.6-dev (#1305)
  charts/calendar-api/values-ngp-dev-us1-services1-gke.yaml
  charts/dealsheet-api/values-ngp-dev-us1-services1-gke.yaml
  charts/eventschedule-api/values-ngp-dev-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

fix:NSPS2-7885 adjusting conditional to account for other env vars
  charts/calendar-api/templates/configmap.yaml
  charts/dealsheet-api/templates/configmap.yaml
  charts/eventschedule-api/templates/configmap.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

feat: dev image tag 888833b from commit 888833b of qr_ngp_cloud_platform (#1306)
  charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml
Owners: none

feat: adds BE UAT tag v1.50.1-rc
  charts/calendar-api/values-ngp-dev-us1-playground1-gke.yaml
  charts/calendar-api/values-ngp-dev-us1-services1-gke.yaml
  charts/calendar-api/values-ngp-prd-us1-services1-gke.yaml
  charts/calendar-api/values-ngp-tst-us1-services1-gke.yaml
  charts/calendar-api/values-ngp-uat-us1-services1-gke.yaml
  charts/calendar-api/values.yaml
  charts/dealsheet-api/values-ngp-dev-us1-playground1-gke.yaml
  charts/dealsheet-api/values-ngp-dev-us1-services1-gke.yaml
  charts/dealsheet-api/values-ngp-prd-us1-services1-gke.yaml
  charts/dealsheet-api/values-ngp-tst-us1-services1-gke.yaml
  charts/dealsheet-api/values-ngp-uat-us1-services1-gke.yaml
  charts/dealsheet-api/values.yaml
  charts/eventschedule-api/values-ngp-dev-us1-playground1-gke.yaml
  charts/eventschedule-api/values-ngp-dev-us1-services1-gke.yaml
  charts/eventschedule-api/values-ngp-prd-us1-services1-gke.yaml
  charts/eventschedule-api/values-ngp-tst-us1-services1-gke.yaml
  charts/eventschedule-api/values-ngp-uat-us1-services1-gke.yaml
  charts/eventschedule-api/values.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

feat: dev image tag 6333d61 from commit 6333d61 of qr_ngp_cloud_platform (#1307)
  charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml
Owners: none

feat: Dev deployment for NSPS2-8005 v0.53.7-dev (#1308)
  charts/calendar-api/values-ngp-dev-us1-services1-gke.yaml
  charts/dealsheet-api/values-ngp-dev-us1-services1-gke.yaml
  charts/eventschedule-api/values-ngp-dev-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

feat: dev image tag ebb5a30 from commit ebb5a30 of qr_ngp_cloud_platform (#1309)
  charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml
Owners: none

feat: dev image tag 0c3c948 from commit 0c3c948 of qr_ngp_cloud_platform (#1310)
  charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml
Owners: none
