Repository devdream123/NGP-Cloud-platform, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Q-Retail/q-retail-devops, @Q-Retail/q-retail-app-dev, @lsomervillewow, @srichards-quantium, @Q-Retail/q-retail-frontend

.github/CODEOWNERS:

# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,

# review when someone opens a pull request.
*  @Q-Retail/q-retail-devops

# Order is important; the last matching pattern takes the most
# precedence. When someone opens a pull request that only
# modifies following file and folder, only @js-owner and not the global
# owner(s) will be requested for a review.
/charts/calendar-api/             @Q-Retail/q-retail-app-dev @Q-Retail/q-retail-devops
/charts/dealsheet-api/            @Q-Retail/q-retail-app-dev @Q-Retail/q-retail-devops
/charts/eventschedule-api/        @Q-Retail/q-retail-app-dev @Q-Retail/q-retail-devops
/charts/hierarchy-api/            @Q-Retail/q-retail-app-dev @Q-Retail/q-retail-devops
/charts/graphql-mesh/             @Q-Retail/q-retail-app-dev @Q-Retail/q-retail-devops
/charts/forecast-api/             @Q-Retail/q-retail-devops @lsomervillewow @srichards-quantium
/charts/pgr-api/                  @Q-Retail/q-retail-devops @lsomervillewow @srichards-quantium
/charts/frontend-ui/              @Q-Retail/q-retail-frontend @Q-Retail/q-retail-devops
/charts/custom-groups-api/        @Q-Retail/q-retail-frontend @Q-Retail/q-retail-devops

/charts/istio/                  @Q-Retail/q-retail-devops
/charts/istio-gateway/          @Q-Retail/q-retail-devops
/config/                        @Q-Retail/q-retail-devops
/scripts/                       @Q-Retail/q-retail-devops
/values/                        @Q-Retail/q-retail-devops
cloudbuild.yaml                 @Q-Retail/q-retail-devops
helmfile-analytics.yaml         @Q-Retail/q-retail-devops
helmfile-backend.yaml           @Q-Retail/q-retail-devops
helmfile-front-end.yaml         @Q-Retail/q-retail-devops
helmfile.yaml                   @Q-Retail/q-retail-devops

/README.md

# set to no owner so that PRs from frontend can be auto merged
/charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml

Update values-ngp-uat-us1-services1-gke.yaml
  charts/frontend-ui/values-ngp-uat-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-frontend, @Q-Retail/q-retail-devops

Deploy PROD hotfix v1.55.29-prd to BE services (#1767)
  charts/calendar-api/values-ngp-prd-us1-services1-gke.yaml
  charts/dealsheet-api/values-ngp-prd-us1-services1-gke.yaml
  charts/eventschedule-api/values-ngp-prd-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

feat: NSPS2-0000 deploy pmr-sync 1.0.5 to dev (#1772)
  charts/pmr-sync/templates/configmap.yaml
  charts/pmr-sync/values-ngp-dev-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-devops

fix:NSPS2-9021 updating with successful build
  charts/frontend-ui/values-ngp-uat-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-frontend, @Q-Retail/q-retail-devops

Fix proposed dealsheet saved issue
  charts/calendar-api/values-ngp-uat-us1-services1-gke.yaml
  charts/dealsheet-api/values-ngp-uat-us1-services1-gke.yaml
  charts/eventschedule-api/values-ngp-uat-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

deploy: pmr-sync 1.0.6 (#1774)
  charts/pmr-sync/values-ngp-dev-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-devops

fix: NSPS2-9184 Deploy v1.55.31-rc to BE UAT services (#1776)
  charts/calendar-api/values-ngp-uat-us1-services1-gke.yaml
  charts/dealsheet-api/values-ngp-uat-us1-services1-gke.yaml
  charts/eventschedule-api/values-ngp-uat-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

Deploy v0.61.2-dev (#1780)
  charts/calendar-api/values-ngp-dev-us1-services1-gke.yaml
  charts/dealsheet-api/values-ngp-dev-us1-services1-gke.yaml
  charts/eventschedule-api/values-ngp-dev-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

NSPS2-8573 removed PG cluster deployments (#1781)
  charts/calendar-api/values-ngp-dev-us1-playground1-gke.yaml
  charts/custom-groups-api/values-ngp-dev-us1-playground1-gke.yaml
  charts/dealsheet-api/values-ngp-dev-us1-playground1-gke.yaml
  charts/eventschedule-api/values-ngp-dev-us1-playground1-gke.yaml
  charts/forecast-api/values-ngp-dev-us1-playground1-gke.yaml
  charts/frontend-ui/values-ngp-dev-us1-playground1-gke.yaml
  charts/graphql-mesh/values-ngp-dev-us1-playground1-gke.yaml
  charts/hierarchy-api/values-ngp-dev-us1-playground1-gke.yaml
  charts/istio-control-plane/values-ngp-dev-us1-playground1-gke.yaml
  charts/istio-gateway/values-ngp-dev-us1-playground1-gke.yaml
  charts/istio/values-ngp-dev-us1-playground1-gke.yaml
  charts/pgr-api/values-ngp-dev-us1-playground1-gke.yaml
  charts/pmr-sync/values-ngp-dev-us1-playground1-gke.yaml
  charts/web-proxy-ds/values-ngp-dev-us1-playground1-gke.yaml
  config/dev.env.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops, @Q-Retail/q-retail-frontend, @lsomervillewow, @srichards-quantium

fix: deploy v1.55.32-rc (#1786)
  charts/calendar-api/values-ngp-uat-us1-services1-gke.yaml
  charts/dealsheet-api/values-ngp-uat-us1-services1-gke.yaml
  charts/eventschedule-api/values-ngp-uat-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

feature NSPS2-9384 Fix Hirachy Doc Not Saved Issue
  charts/calendar-api/values-ngp-uat-us1-services1-gke.yaml
  charts/dealsheet-api/values-ngp-uat-us1-services1-gke.yaml
  charts/eventschedule-api/values-ngp-uat-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

feat: Release 55 hotfix (#1789)
  charts/calendar-api/values-ngp-prd-us1-services1-gke.yaml
  charts/dealsheet-api/values-ngp-prd-us1-services1-gke.yaml
  charts/eventschedule-api/values-ngp-prd-us1-services1-gke.yaml
  charts/frontend-ui/values-ngp-prd-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops, @Q-Retail/q-retail-frontend

Feat/nsps2 8928 main (#1784)
  charts/supplier-approval-ui/values-gcp-wow-corp-qretail-ngp-dev.yaml
  charts/supplier-approval-ui/values-gcp-wow-corp-qretail-ngp-test.yaml
  charts/supplier-approval-ui/values.yaml
  config/tst.env.yaml
  scripts/check-cloud-run-service-health.sh
  scripts/check-env-cloud-run-services-health.sh
  scripts/create-cloud-run-services-neg.sh
  scripts/deploy-cloud-run-services.sh
  scripts/deploy.sh
  scripts/export-env-variables.sh
  scripts/render-helm-charts.sh
Owners: @Q-Retail/q-retail-devops

NSPS2-8928 enabled supplier ui - dev (#1792)
  config/dev.env.yaml
  scripts/check-cloud-run-services-deployment.sh
Owners: @Q-Retail/q-retail-devops

feat: deploy v1.55.34-rc to UAT (#1791)
  charts/calendar-api/values-ngp-uat-us1-services1-gke.yaml
  charts/dealsheet-api/values-ngp-uat-us1-services1-gke.yaml
  charts/eventschedule-api/values-ngp-uat-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

feat: deploys v1.55.33-prd backend hotfix
  charts/calendar-api/values-ngp-prd-us1-services1-gke.yaml
  charts/dealsheet-api/values-ngp-prd-us1-services1-gke.yaml
  charts/eventschedule-api/values-ngp-prd-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

deploy: 1.0.9 pmr-sync to dev (#1798)
  charts/pmr-sync/values-ngp-dev-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-devops

deploy v1.55.35-rc (#1800)
  charts/calendar-api/values-ngp-uat-us1-services1-gke.yaml
  charts/dealsheet-api/values-ngp-uat-us1-services1-gke.yaml
  charts/eventschedule-api/values-ngp-uat-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

feat: NSPS2-0000 add https proxy to pmr-sync (#1799)
  charts/pmr-sync/templates/configmap.yaml
  charts/pmr-sync/values-ngp-dev-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-devops

deploy: 1.0.10 pmr-sync to dev
  charts/pmr-sync/values-ngp-dev-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-devops

deploy: 1.0.11 pmr-sync to dev
  charts/pmr-sync/values-ngp-dev-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-devops

NSPSP2-8928 added iam policy bindings (#1797)
  charts/supplier-approval-ui/values-gcp-wow-corp-qretail-ngp-test.yaml
  charts/supplier-approval-ui/values.yaml
  config/dev.env.yaml
  config/prd.env.yaml
  config/tst.env.yaml
  config/uat.env.yaml
  scripts/add-cloud-run-services-iam-policy-binding.sh
  scripts/deploy.sh
  scripts/export-env-variables.sh
Owners: @Q-Retail/q-retail-devops

feat: pmr sync in uat (#1802)
  charts/pmr-sync/values-ngp-dev-us1-services1-gke.yaml
  charts/pmr-sync/values-ngp-uat-us1-services1-gke.yaml
  cloudbuild.yaml
  scripts/substitute-charts-secrets.sh
Owners: @Q-Retail/q-retail-devops

deploy: 1.0.12 pmr-sync to dev
  charts/pmr-sync/values-ngp-dev-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-devops

disabled istio sidecar
  charts/pmr-sync/templates/deployment.yaml
Owners: @Q-Retail/q-retail-devops

deploy: 1.0.13 pmr-sync to dev
  charts/pmr-sync/values-ngp-dev-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-devops

deploy: 1.0.14 pmr-sync to dev (#1805)
  charts/pmr-sync/values-ngp-dev-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-devops

deploy: 1.0.15 pmr-sync to dev (#1806)
  charts/pmr-sync/values-ngp-dev-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-devops

deploy: 1.0.16 pmr-sync to dev (#1807)
  charts/pmr-sync/values-ngp-dev-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-devops

deploy: 1.0.17 pmr-sync to dev (#1808)
  charts/pmr-sync/values-ngp-dev-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-devops

deploy: 1.0.18 pmr-sync to dev (#1809)
  charts/pmr-sync/values-ngp-dev-us1-services1-gke.yaml
  charts/pmr-sync/values-ngp-uat-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-devops

feat: deploy v1.55.36-rc (#1814)
  charts/calendar-api/values-ngp-uat-us1-services1-gke.yaml
  charts/dealsheet-api/values-ngp-uat-us1-services1-gke.yaml
  charts/eventschedule-api/values-ngp-uat-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

Feat/nsps2 9434 dev (#1815)
  charts/pmr-email-sender/.helmignore
  charts/pmr-email-sender/Chart.yaml
  charts/pmr-email-sender/templates/_helpers.tpl
  charts/pmr-email-sender/templates/service.yaml
  charts/pmr-email-sender/values-gcp-wow-corp-qretail-ngp-dev.yaml
  charts/pmr-email-sender/values-gcp-wow-corp-qretail-ngp-test.yaml
  charts/pmr-email-sender/values.yaml
  config/dev.env.yaml
  config/prd.env.yaml
  config/tst.env.yaml
  config/uat.env.yaml
  scripts/export-env-variables.sh
  scripts/render-helm-charts.sh
Owners: @Q-Retail/q-retail-devops

Feat/nsps2 8733 main (#1817)
  charts/pmr-sync/values-ngp-tst-us1-services1-gke.yaml
  cloudbuild.yaml
  scripts/substitute-charts-secrets.sh
Owners: @Q-Retail/q-retail-devops

Feat/nsps2 8733 fix main (#1821)
  scripts/substitute-charts-secrets.sh
Owners: @Q-Retail/q-retail-devops

NSPS2-9434 changed env variable (#1818)
  charts/pmr-email-sender/values-gcp-wow-corp-qretail-ngp-dev.yaml
  charts/pmr-email-sender/values-gcp-wow-corp-qretail-ngp-test.yaml
Owners: @Q-Retail/q-retail-devops

Feat/nsps2 9434 helm chart dev (#1828)
  charts/pmr-email-sender-api/.helmignore
  charts/pmr-email-sender-api/Chart.yaml
  charts/pmr-email-sender-api/templates/NOTES.txt
  charts/pmr-email-sender-api/templates/_helpers.tpl
  charts/pmr-email-sender-api/templates/configmap.yaml
  charts/pmr-email-sender-api/templates/deployment.yaml
  charts/pmr-email-sender-api/templates/hpa.yaml
  charts/pmr-email-sender-api/templates/postDeployment/postDeployment/dbmigrationjob.yaml
  charts/pmr-email-sender-api/templates/secrets.yaml
  charts/pmr-email-sender-api/templates/service.yaml
  charts/pmr-email-sender-api/templates/serviceaccount.yaml
  charts/pmr-email-sender-api/templates/tests/test-connection.yaml
  charts/pmr-email-sender-api/values-ngp-dev-us1-services1-gke.yaml
  charts/pmr-email-sender-api/values-ngp-prd-us1-services1-gke.yaml
  charts/pmr-email-sender-api/values-ngp-tst-us1-services1-gke.yaml
  charts/pmr-email-sender-api/values-ngp-uat-us1-services1-gke.yaml
  charts/pmr-email-sender-api/values.yaml
  charts/pmr-sync/templates/configmap.yaml
  charts/pmr-sync/values-ngp-dev-us1-services1-gke.yaml
  charts/pmr-sync/values-ngp-prd-us1-services1-gke.yaml
  charts/pmr-sync/values-ngp-tst-us1-services1-gke.yaml
  charts/pmr-sync/values-ngp-uat-us1-services1-gke.yaml
  cloudbuild.yaml
  config/dev.env.yaml
  config/tst.env.yaml
  helmfile-front-end.yaml
  scripts/substitute-charts-secrets.sh
Owners: @Q-Retail/q-retail-devops

NSPS2-9101 added approval portal in uat (#1829)
  charts/pmr-supplier-approval-ui/Chart.yaml
  charts/pmr-supplier-approval-ui/templates/_helpers.tpl
  charts/pmr-supplier-approval-ui/templates/service.yaml
  charts/pmr-supplier-approval-ui/values-gcp-wow-corp-qretail-ngp-dev.yaml
  charts/pmr-supplier-approval-ui/values-gcp-wow-corp-qretail-ngp-test.yaml
  charts/pmr-supplier-approval-ui/values-gcp-wow-corp-qretail-ngp-uat.yaml
  charts/pmr-supplier-approval-ui/values.yaml
  config/dev.env.yaml
  config/tst.env.yaml
  config/uat.env.yaml
Owners: @Q-Retail/q-retail-devops

NSPS2-9101 referenced correct vpc connector. (#1830)
  charts/pmr-supplier-approval-ui/values-gcp-wow-corp-qretail-ngp-uat.yaml
Owners: @Q-Retail/q-retail-devops

deploy: 1.0.22 pmr-sync to dev
  charts/pmr-sync/values-ngp-dev-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-devops
