Repository devdream123/NGP-Cloud-platform, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Q-Retail/q-retail-devops, @Q-Retail/q-retail-app-dev, @lsomervillewow, @srichards-quantium, @Q-Retail/q-retail-frontend

NSPS2-7941: add pmr-sync to render-helm-charts and fix syntax
  charts/pmr-sync/templates/configmap.yaml
  scripts/render-helm-charts.sh
Owners: @Q-Retail/q-retail-devops

NSPS2-7941: pmr-sync add image repo
  charts/pmr-sync/values-ngp-dev-us1-services1-gke.yaml
  charts/pmr-sync/values.yaml
Owners: @Q-Retail/q-retail-devops

NSPS2-7941: rm unneeded quotes in pmr-sync values
  charts/pmr-sync/values-ngp-dev-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-devops

NSPS2-7941: pmr-sync add deployment envFrom
  charts/pmr-sync/templates/deployment.yaml
Owners: @Q-Retail/q-retail-devops

NSPS2-7941: update pmr-sync dev tag to 1.0.2
  charts/pmr-sync/values-ngp-dev-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-devops

feat: dev image tag c38b509 from commit c38b509 of qr_ngp_cloud_platform (#1671)
  charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml
Owners: none

feat: NSPS2-8994 Deploy v1.58.9-rc to BE UAT services (#1672)
  charts/calendar-api/values-ngp-uat-us1-services1-gke.yaml
  charts/dealsheet-api/values-ngp-uat-us1-services1-gke.yaml
  charts/eventschedule-api/values-ngp-uat-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

Deploy v1.58.10-rc to UAT (#1673)
  charts/calendar-api/values-ngp-uat-us1-services1-gke.yaml
  charts/dealsheet-api/values-ngp-uat-us1-services1-gke.yaml
  charts/eventschedule-api/values-ngp-uat-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

deploy: 1.0.3 pmr-sync to dev (#1674)
  charts/pmr-sync/values-ngp-dev-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-devops

Deploy v1.58.11-rc to UAT (#1675)
  charts/calendar-api/values-ngp-uat-us1-services1-gke.yaml
  charts/dealsheet-api/values-ngp-uat-us1-services1-gke.yaml
  charts/eventschedule-api/values-ngp-uat-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

fix: NSPS2-0000 Deploy v1.58.12-rc to BE UAT services (#1676)
  charts/calendar-api/values-ngp-uat-us1-services1-gke.yaml
  charts/dealsheet-api/values-ngp-uat-us1-services1-gke.yaml
  charts/eventschedule-api/values-ngp-uat-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

deploy: 1.0.4 pmr-sync to dev
  charts/pmr-sync/values-ngp-dev-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-devops

feat: dev image tag 23f242c from commit 23f242c of qr_ngp_cloud_platform (#1684)
  charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml
Owners: none

Update values-ngp-uat-us1-services1-gke.yaml (#1686)
  charts/frontend-ui/values-ngp-uat-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-frontend, @Q-Retail/q-retail-devops

feat: dev image tag c7d82d4 from commit c7d82d4 of qr_ngp_cloud_platform (#1687)
  charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml
Owners: none

feat: dev image tag fd1a4a5 from commit fd1a4a5 of qr_ngp_cloud_platform (#1688)
  charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml
Owners: none

feat: dev image tag bcd1ff4 from commit bcd1ff4 of qr_ngp_cloud_platform (#1689)
  charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml
Owners: none

feat: NSPS2-9077 Deploy v1.58.13-rc to BE UAT services (#1690)
  charts/calendar-api/values-ngp-uat-us1-services1-gke.yaml
  charts/dealsheet-api/values-ngp-uat-us1-services1-gke.yaml
  charts/eventschedule-api/values-ngp-uat-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

Deploy v1.58.14-rc to UAT (#1691)
  charts/calendar-api/values-ngp-uat-us1-services1-gke.yaml
  charts/dealsheet-api/values-ngp-uat-us1-services1-gke.yaml
  charts/eventschedule-api/values-ngp-uat-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

Deploy v1.58.15-rc to UAT backend services (#1692)
  charts/calendar-api/values-ngp-uat-us1-services1-gke.yaml
  charts/dealsheet-api/values-ngp-uat-us1-services1-gke.yaml
  charts/eventschedule-api/values-ngp-uat-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

fix:NSPS2-9140 added timeout, pool size and error detail options to connection string
  charts/dealsheet-api/templates/configmap.yaml
  charts/dealsheet-api/values-ngp-dev-us1-services1-gke.yaml
  charts/dealsheet-api/values-ngp-uat-us1-services1-gke.yaml
  charts/dealsheet-api/values.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

feature/deploy-v1.58.16-rc-image (#1695)
  charts/calendar-api/values-ngp-uat-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

Update values-ngp-uat-us1-services1-gke.yaml (#1693)
  charts/frontend-ui/values-ngp-uat-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-frontend, @Q-Retail/q-retail-devops

feat: dev image tag 24fee02 from commit 24fee02 of qr_ngp_cloud_platform (#1697)
  charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml
Owners: none

fix:NSPS2-9140 adding adding parameter to enable connection pooling
  charts/dealsheet-api/templates/configmap.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

fix:NSPS2-9140 adding adding parameter to enable connection pooling
  charts/dealsheet-api/templates/configmap.yaml
  charts/dealsheet-api/templates/secrets.yaml
  charts/dealsheet-api/values-ngp-dev-us1-services1-gke.yaml
  charts/dealsheet-api/values-ngp-uat-us1-services1-gke.yaml
  charts/dealsheet-api/values.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

fix:NSPS2-9140 missing function
  charts/dealsheet-api/templates/secrets.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

feat: dev image tag fc50785 from commit fc50785 of qr_ngp_cloud_platform (#1699)
  charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml
Owners: none

feat: dev image tag 6750253 from commit 6750253 of qr_ngp_cloud_platform (#1700)
  charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml
Owners: none

feat: dev image tag b1ea6db from commit b1ea6db of qr_ngp_cloud_platform (#1703)
  charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml
Owners: none

feat: dev image tag bb42903 from commit bb42903 of qr_ngp_cloud_platform (#1704)
  charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml
Owners: none

feat: dev image tag 44d201a from commit 44d201a of qr_ngp_cloud_platform (#1705)
  charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml
Owners: none

Calendar connection string
  charts/calendar-api/templates/configmap.yaml
  charts/calendar-api/values.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

feat: dev image tag 1a5d341 from commit 1a5d341 of qr_ngp_cloud_platform (#1707)
  charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml
Owners: none

Fixing parameters
  charts/calendar-api/templates/configmap.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

Apply different values to dev uat tst
  charts/calendar-api/values-ngp-dev-us1-services1-gke.yaml
  charts/calendar-api/values-ngp-tst-us1-services1-gke.yaml
  charts/calendar-api/values-ngp-uat-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

feat: dev image tag 23ebf25 from commit 23ebf25 of qr_ngp_cloud_platform (#1708)
  charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml
Owners: none

feat: dev image tag 8241506 from commit 8241506 of qr_ngp_cloud_platform (#1709)
  charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml
Owners: none

fix:NSPS2-9140 incorrect parameter name and reduced max pool size
  charts/dealsheet-api/templates/configmap.yaml
  charts/dealsheet-api/values-ngp-dev-us1-services1-gke.yaml
  charts/dealsheet-api/values-ngp-tst-us1-services1-gke.yaml
  charts/dealsheet-api/values-ngp-uat-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

fix:NSPS2-9140 removing the max pool size overrides to use the default of 100
  charts/calendar-api/values-ngp-dev-us1-services1-gke.yaml
  charts/calendar-api/values-ngp-tst-us1-services1-gke.yaml
  charts/calendar-api/values-ngp-uat-us1-services1-gke.yaml
  charts/dealsheet-api/values-ngp-dev-us1-services1-gke.yaml
  charts/dealsheet-api/values-ngp-tst-us1-services1-gke.yaml
  charts/dealsheet-api/values-ngp-uat-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

.github/CODEOWNERS:

# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,

# review when someone opens a pull request.
*  @Q-Retail/q-retail-devops

# Order is important; the last matching pattern takes the most
# precedence. When someone opens a pull request that only
# modifies following file and folder, only @js-owner and not the global
# owner(s) will be requested for a review.
/charts/calendar-api/             @Q-Retail/q-retail-app-dev @Q-Retail/q-retail-devops
/charts/dealsheet-api/            @Q-Retail/q-retail-app-dev @Q-Retail/q-retail-devops
/charts/eventschedule-api/        @Q-Retail/q-retail-app-dev @Q-Retail/q-retail-devops
/charts/hierarchy-api/            @Q-Retail/q-retail-app-dev @Q-Retail/q-retail-devops
/charts/graphql-mesh/             @Q-Retail/q-retail-app-dev @Q-Retail/q-retail-devops
/charts/forecast-api/             @Q-Retail/q-retail-devops @lsomervillewow @srichards-quantium
/charts/pgr-api/                  @Q-Retail/q-retail-devops @lsomervillewow @srichards-quantium
/charts/frontend-ui/              @Q-Retail/q-retail-frontend @Q-Retail/q-retail-devops
/charts/custom-groups-api/        @Q-Retail/q-retail-frontend @Q-Retail/q-retail-devops

/charts/istio/                  @Q-Retail/q-retail-devops
/charts/istio-gateway/          @Q-Retail/q-retail-devops
/config/                        @Q-Retail/q-retail-devops
/scripts/                       @Q-Retail/q-retail-devops
/values/                        @Q-Retail/q-retail-devops
cloudbuild.yaml                 @Q-Retail/q-retail-devops
helmfile-analytics.yaml         @Q-Retail/q-retail-devops
helmfile-backend.yaml           @Q-Retail/q-retail-devops
helmfile-front-end.yaml         @Q-Retail/q-retail-devops
helmfile.yaml                   @Q-Retail/q-retail-devops

/README.md

# set to no owner so that PRs from frontend can be auto merged
/charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml
