Repository devdream123/NGP-Cloud-platform, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Q-Retail/q-retail-devops, @Q-Retail/q-retail-app-dev, @lsomervillewow, @srichards-quantium, @Q-Retail/q-retail-frontend

feat: reduces hierarchy replicas to 1
  charts/hierarchy-api/values-ngp-prd-us1-services1-gke.yaml
  charts/hierarchy-api/values-ngp-uat-us1-services1-gke.yaml
  charts/hierarchy-api/values.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

fixing the space ad graphql mesh issue
  charts/custom-groups-api/templates/postDeployment/dbmigrationjob.yaml
  scripts/restart-graphql-service.sh
Owners: @Q-Retail/q-retail-frontend, @Q-Retail/q-retail-devops

deploy v1.50.2-dev to dev for backend jobs (#1026)
  charts/calendar-api/values-ngp-dev-us1-services1-gke.yaml
  charts/dealsheet-api/values-ngp-dev-us1-services1-gke.yaml
  charts/eventschedule-api/values-ngp-dev-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

NSPS2-6660 released latest image
  charts/custom-groups-api/values-ngp-dev-us1-playground1-gke.yaml
  charts/custom-groups-api/values-ngp-dev-us1-services1-gke.yaml
  charts/custom-groups-api/values-ngp-tst-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-frontend, @Q-Retail/q-retail-devops

feat: dev image tag b47e699 from commit b47e699 of qr_ngp_cloud_platform (#1028)
  charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml
Owners: none

feat: reference the calendar-api to seed into hierarchy from it (#992)
  charts/hierarchy-api/templates/configmap.yaml
  charts/hierarchy-api/values-ngp-dev-us1-services1-gke.yaml
  charts/hierarchy-api/values.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

Deploy v0.0.52 to playground and update the App Version to switch to SQL (#1027)
  charts/calendar-api/values-ngp-dev-us1-playground1-gke.yaml
  charts/dealsheet-api/values-ngp-dev-us1-playground1-gke.yaml
  charts/eventschedule-api/values-ngp-dev-us1-playground1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

feat: dev image tag 91c0220 from commit 91c0220 of qr_ngp_cloud_platform (#1029)
  charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml
Owners: none

deploy v1.50.3-dev to backend, and "03-05-2023" for the hierarchy (#1030)
  charts/calendar-api/values-ngp-dev-us1-services1-gke.yaml
  charts/dealsheet-api/values-ngp-dev-us1-services1-gke.yaml
  charts/eventschedule-api/values-ngp-dev-us1-services1-gke.yaml
  charts/hierarchy-api/values-ngp-dev-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

feat: dev image tag 71c0c9b from commit 71c0c9b of qr_ngp_cloud_platform (#1031)
  charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml
Owners: none

Reinstate version (#1032)
  charts/hierarchy-api/values-ngp-dev-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

feat: dev image tag f2d1e6f from commit f2d1e6f of qr_ngp_cloud_platform (#1033)
  charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml
Owners: none

feat: dev image tag 5e8cd52 from commit 5e8cd52 of qr_ngp_cloud_platform (#1034)
  charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml
Owners: none

feat: dev image tag ff642a3 from commit ff642a3 of qr_ngp_cloud_platform (#1035)
  charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml
Owners: none

feat: dev image tag 9d8fe4e from commit 9d8fe4e of qr_ngp_cloud_platform (#1036)
  charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml
Owners: none

feat: dev image tag 3b5657d from commit 3b5657d of qr_ngp_cloud_platform (#1037)
  charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml
Owners: none

feat: dev image tag 08b9520 from commit 08b9520 of qr_ngp_cloud_platform (#1038)
  charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml
Owners: none

feat: dev image tag 2ec22f3 from commit 2ec22f3 of qr_ngp_cloud_platform (#1039)
  charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml
Owners: none

Deploy v1.50.4-dev to dev for backend services (#1040)
  charts/calendar-api/values-ngp-dev-us1-services1-gke.yaml
  charts/dealsheet-api/values-ngp-dev-us1-services1-gke.yaml
  charts/eventschedule-api/values-ngp-dev-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

test: test release new categories to dev
  charts/forecast-api/values-ngp-dev-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-devops, @lsomervillewow, @srichards-quantium

dev: update to version with poultry
  charts/forecast-api/values-ngp-dev-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-devops, @lsomervillewow, @srichards-quantium

Deploy v1.50.5-dev to dev for backend services (#1042)
  charts/calendar-api/values-ngp-dev-us1-services1-gke.yaml
  charts/dealsheet-api/values-ngp-dev-us1-services1-gke.yaml
  charts/eventschedule-api/values-ngp-dev-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

feat: dev image tag f763e05 from commit f763e05 of qr_ngp_cloud_platform (#1043)
  charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml
Owners: none

Deploy v1.50.7-dev to dev for backend services (#1044)
  charts/calendar-api/values-ngp-dev-us1-services1-gke.yaml
  charts/dealsheet-api/values-ngp-dev-us1-services1-gke.yaml
  charts/eventschedule-api/values-ngp-dev-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

feat: dev image tag f7c83ca from commit f7c83ca of qr_ngp_cloud_platform (#1045)
  charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml
Owners: none

feat: dev image tag 45dec4d from commit 45dec4d of qr_ngp_cloud_platform (#1047)
  charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml
Owners: none

feat: Deploy v1.46.2-hotfix-4 to UAT environment (#1048)
  charts/calendar-api/values-ngp-uat-us1-services1-gke.yaml
  charts/dealsheet-api/values-ngp-uat-us1-services1-gke.yaml
  charts/eventschedule-api/values-ngp-uat-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

feat: deploys v1.50.8-dev (#1049)
  charts/calendar-api/values-ngp-dev-us1-services1-gke.yaml
  charts/dealsheet-api/values-ngp-dev-us1-services1-gke.yaml
  charts/eventschedule-api/values-ngp-dev-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

hotfix: update to v1.50.8-hotfix-1
  charts/calendar-api/values-ngp-dev-us1-services1-gke.yaml
  charts/dealsheet-api/values-ngp-dev-us1-services1-gke.yaml
  charts/eventschedule-api/values-ngp-dev-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

UAT Release: FE, BE & Analytics (#1050)
  charts/calendar-api/values-ngp-uat-us1-services1-gke.yaml
  charts/dealsheet-api/values-ngp-uat-us1-services1-gke.yaml
  charts/eventschedule-api/values-ngp-uat-us1-services1-gke.yaml
  charts/forecast-api/values-ngp-uat-us1-services1-gke.yaml
  charts/frontend-ui/values-ngp-uat-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops, @lsomervillewow, @srichards-quantium, @Q-Retail/q-retail-frontend

Set hierarchy pods to only have 1 replica in UAT and prod (#1054)
  charts/hierarchy-api/values-ngp-prd-us1-services1-gke.yaml
  charts/hierarchy-api/values-ngp-uat-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

feat: dev image tag 1741a01 from commit 1741a01 of qr_ngp_cloud_platform (#1055)
  charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml
Owners: none

feat: deploy v0.0.53-dev of sql branch to playground
  charts/calendar-api/values-ngp-dev-us1-playground1-gke.yaml
  charts/dealsheet-api/values-ngp-dev-us1-playground1-gke.yaml
  charts/eventschedule-api/values-ngp-dev-us1-playground1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

feat: dev image tag 07a1637 from commit 07a1637 of qr_ngp_cloud_platform (#1057)
  charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml
Owners: none

feat: dev image tag 74d0dd0 from commit 74d0dd0 of qr_ngp_cloud_platform (#1058)
  charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml
Owners: none

Deploy 0.0.54-dev (#1059)
  charts/calendar-api/values-ngp-dev-us1-playground1-gke.yaml
  charts/dealsheet-api/values-ngp-dev-us1-playground1-gke.yaml
  charts/eventschedule-api/values-ngp-dev-us1-playground1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

feat: dev image tag 1a9d642 from commit 1a9d642 of qr_ngp_cloud_platform (#1060)
  charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml
Owners: none

feat: dev image tag d5e78ff from commit d5e78ff of qr_ngp_cloud_platform (#1061)
  charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml
Owners: none

chore:NSPS2-0000 update custom group image to latest (#1051)
  charts/custom-groups-api/values-ngp-prd-us1-services1-gke.yaml
  charts/custom-groups-api/values-ngp-uat-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-frontend, @Q-Retail/q-retail-devops

feat: deploying v0.0.54-dev from SQL branch to dev
  charts/calendar-api/values-ngp-dev-us1-services1-gke.yaml
  charts/dealsheet-api/values-ngp-dev-us1-services1-gke.yaml
  charts/eventschedule-api/values-ngp-dev-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

.github/CODEOWNERS:

# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,

# review when someone opens a pull request.
*  @Q-Retail/q-retail-devops

# Order is important; the last matching pattern takes the most
# precedence. When someone opens a pull request that only
# modifies following file and folder, only @js-owner and not the global
# owner(s) will be requested for a review.
/charts/calendar-api/             @Q-Retail/q-retail-app-dev @Q-Retail/q-retail-devops
/charts/dealsheet-api/            @Q-Retail/q-retail-app-dev @Q-Retail/q-retail-devops
/charts/eventschedule-api/        @Q-Retail/q-retail-app-dev @Q-Retail/q-retail-devops
/charts/hierarchy-api/            @Q-Retail/q-retail-app-dev @Q-Retail/q-retail-devops
/charts/graphql-mesh/             @Q-Retail/q-retail-app-dev @Q-Retail/q-retail-devops
/charts/forecast-api/             @Q-Retail/q-retail-devops @lsomervillewow @srichards-quantium
/charts/pgr-api/                  @Q-Retail/q-retail-devops @lsomervillewow @srichards-quantium
/charts/frontend-ui/              @Q-Retail/q-retail-frontend @Q-Retail/q-retail-devops
/charts/custom-groups-api/        @Q-Retail/q-retail-frontend @Q-Retail/q-retail-devops

/charts/istio/                  @Q-Retail/q-retail-devops
/charts/istio-gateway/          @Q-Retail/q-retail-devops
/config/                        @Q-Retail/q-retail-devops
/scripts/                       @Q-Retail/q-retail-devops
/values/                        @Q-Retail/q-retail-devops
cloudbuild.yaml                 @Q-Retail/q-retail-devops
helmfile-analytics.yaml         @Q-Retail/q-retail-devops
helmfile-backend.yaml           @Q-Retail/q-retail-devops
helmfile-front-end.yaml         @Q-Retail/q-retail-devops
helmfile.yaml                   @Q-Retail/q-retail-devops

/README.md

# set to no owner so that PRs from frontend can be auto merged
/charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml
