Repository devdream123/NGP-Cloud-platform, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Q-Retail/q-retail-devops, @Q-Retail/q-retail-app-dev, @lsomervillewow, @srichards-quantium, @Q-Retail/q-retail-frontend

.github/CODEOWNERS:

# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,

# review when someone opens a pull request.
*  @Q-Retail/q-retail-devops

# Order is important; the last matching pattern takes the most
# precedence. When someone opens a pull request that only
# modifies following file and folder, only @js-owner and not the global
# owner(s) will be requested for a review.
/charts/calendar-api/             @Q-Retail/q-retail-app-dev @Q-Retail/q-retail-devops
/charts/dealsheet-api/            @Q-Retail/q-retail-app-dev @Q-Retail/q-retail-devops
/charts/eventschedule-api/        @Q-Retail/q-retail-app-dev @Q-Retail/q-retail-devops
/charts/hierarchy-api/            @Q-Retail/q-retail-app-dev @Q-Retail/q-retail-devops
/charts/graphql-mesh/             @Q-Retail/q-retail-app-dev @Q-Retail/q-retail-devops
/charts/forecast-api/             @Q-Retail/q-retail-devops @lsomervillewow @srichards-quantium
/charts/pgr-api/                  @Q-Retail/q-retail-devops @lsomervillewow @srichards-quantium
/charts/frontend-ui/              @Q-Retail/q-retail-frontend @Q-Retail/q-retail-devops
/charts/custom-groups-api/        @Q-Retail/q-retail-frontend @Q-Retail/q-retail-devops

/charts/istio/                  @Q-Retail/q-retail-devops
/charts/istio-gateway/          @Q-Retail/q-retail-devops
/config/                        @Q-Retail/q-retail-devops
/scripts/                       @Q-Retail/q-retail-devops
/values/                        @Q-Retail/q-retail-devops
cloudbuild.yaml                 @Q-Retail/q-retail-devops
helmfile-analytics.yaml         @Q-Retail/q-retail-devops
helmfile-backend.yaml           @Q-Retail/q-retail-devops
helmfile-front-end.yaml         @Q-Retail/q-retail-devops
helmfile.yaml                   @Q-Retail/q-retail-devops

/README.md

# set to no owner so that PRs from frontend can be auto merged
/charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml

feat:NSPS2-8831 updated fe image to 1.50.7
  charts/frontend-ui/values-ngp-prd-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-frontend, @Q-Retail/q-retail-devops

feat:NSPS2-8831 updated schema to 20230811_1
  charts/forecast-api/values-ngp-prd-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-devops, @lsomervillewow, @srichards-quantium

NSPS2-8831 configuring alway on profiling for supported services
  charts/custom-groups-api/values-ngp-prd-us1-services1-gke.yaml
  charts/frontend-ui/values-ngp-prd-us1-services1-gke.yaml
  charts/graphql-mesh/values-ngp-prd-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-frontend, @Q-Retail/q-retail-devops, @Q-Retail/q-retail-app-dev

feat:NSPS2-8831 updating be images to 1.53.12
  charts/calendar-api/values-ngp-prd-us1-services1-gke.yaml
  charts/dealsheet-api/values-ngp-prd-us1-services1-gke.yaml
  charts/eventschedule-api/values-ngp-prd-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

feat: deploy v1.53.12-rc to UAT (#1608)
  charts/calendar-api/values-ngp-uat-us1-services1-gke.yaml
  charts/dealsheet-api/values-ngp-uat-us1-services1-gke.yaml
  charts/eventschedule-api/values-ngp-uat-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

feat: dev image tag 81e8325 from commit 81e8325 of qr_ngp_cloud_platform (#1609)
  charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml
Owners: none

feat: dev image tag f0195d9 from commit f0195d9 of qr_ngp_cloud_platform (#1610)
  charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml
Owners: none

feat: NSPS2-8681 Deploy v0.58.2-dev to BE DEV services (#1611)
  charts/calendar-api/values-ngp-dev-us1-services1-gke.yaml
  charts/dealsheet-api/values-ngp-dev-us1-services1-gke.yaml
  charts/eventschedule-api/values-ngp-dev-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

feat: cpi analytics changes to DEV
  charts/forecast-api/values-ngp-dev-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-devops, @lsomervillewow, @srichards-quantium

feat: NSPS2-8681 Deploy v0.58.3-dev to BE DEV services (#1613)
  charts/calendar-api/values-ngp-dev-us1-services1-gke.yaml
  charts/dealsheet-api/values-ngp-dev-us1-services1-gke.yaml
  charts/eventschedule-api/values-ngp-dev-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

feat: dev image tag 5a3dc37 from commit 5a3dc37 of qr_ngp_cloud_platform (#1614)
  charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml
Owners: none

fe uat/10.50.8
  charts/frontend-ui/values-ngp-uat-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-frontend, @Q-Retail/q-retail-devops

fix:NSPS2-8831 reverting to stable backend version
  charts/calendar-api/values-ngp-uat-us1-services1-gke.yaml
  charts/dealsheet-api/values-ngp-uat-us1-services1-gke.yaml
  charts/eventschedule-api/values-ngp-uat-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

fix:NSPS2-7949 passthrough iap assertion header to backend services
  charts/graphql-mesh/templates/configmap.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

fix:NSPS2-8831 updating images for vendor name change fix removal
  charts/calendar-api/values-ngp-prd-us1-services1-gke.yaml
  charts/dealsheet-api/values-ngp-prd-us1-services1-gke.yaml
  charts/eventschedule-api/values-ngp-prd-us1-services1-gke.yaml
  charts/frontend-ui/values-ngp-prd-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops, @Q-Retail/q-retail-frontend

feat: NSPS2-8847 Deploy v0.58.4-dev to BE DEV services (#1619)
  charts/calendar-api/values-ngp-dev-us1-services1-gke.yaml
  charts/dealsheet-api/values-ngp-dev-us1-services1-gke.yaml
  charts/eventschedule-api/values-ngp-dev-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

feat: dev image tag b4ab1b3 from commit b4ab1b3 of qr_ngp_cloud_platform (#1620)
  charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml
Owners: none

feat: deploy v0.58.5-dev (#1621)
  charts/calendar-api/values-ngp-dev-us1-services1-gke.yaml
  charts/dealsheet-api/values-ngp-dev-us1-services1-gke.yaml
  charts/eventschedule-api/values-ngp-dev-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

feat: dev image tag 5267400 from commit 5267400 of qr_ngp_cloud_platform (#1622)
  charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml
Owners: none

feat: dev image tag c1973af from commit c1973af of qr_ngp_cloud_platform (#1623)
  charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml
Owners: none

feat: dev image tag 6057b5a from commit 6057b5a of qr_ngp_cloud_platform (#1626)
  charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml
Owners: none

feat: dev image tag efad9a0 from commit efad9a0 of qr_ngp_cloud_platform (#1628)
  charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml
Owners: none

feat: Deploy v1.58.1-rc to BE UAT services (#1627)
  charts/calendar-api/values-ngp-uat-us1-services1-gke.yaml
  charts/dealsheet-api/values-ngp-uat-us1-services1-gke.yaml
  charts/eventschedule-api/values-ngp-uat-us1-services1-gke.yaml
  charts/frontend-ui/values-ngp-uat-us1-services1-gke.yaml
  charts/hierarchy-api/values-ngp-uat-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops, @Q-Retail/q-retail-frontend

feature: NSPS2-8612 Deploy supplier email to DEV
  charts/calendar-api/values-ngp-dev-us1-services1-gke.yaml
  charts/dealsheet-api/values-ngp-dev-us1-services1-gke.yaml
  charts/eventschedule-api/values-ngp-dev-us1-services1-gke.yaml
  charts/hierarchy-api/values-ngp-dev-us1-playground1-gke.yaml
  charts/hierarchy-api/values-ngp-dev-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

fix:NSPS2-8612 added missing double quote
  charts/hierarchy-api/values-ngp-dev-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

NSPS2-8849: disable asm fleet update on main (#1625)
  scripts/enable-service-mesh-features.sh
Owners: @Q-Retail/q-retail-devops

NSPS2-7941: deploy PMR-sync in dev
  charts/pmr-sync-api/.helmignore
  charts/pmr-sync-api/Chart.yaml
  charts/pmr-sync-api/templates/NOTES.txt
  charts/pmr-sync-api/templates/_helpers.tpl
  charts/pmr-sync-api/templates/configmap.yaml
  charts/pmr-sync-api/templates/deployment.yaml
  charts/pmr-sync-api/templates/hpa.yaml
  charts/pmr-sync-api/templates/postDeployment/dbmigrationjob.yaml
  charts/pmr-sync-api/templates/secrets.yaml
  charts/pmr-sync-api/templates/service.yaml
  charts/pmr-sync-api/templates/serviceaccount.yaml
  charts/pmr-sync-api/templates/tests/test-connection.yaml
  charts/pmr-sync-api/values-ngp-dev-us1-services1-gke.yaml
  charts/pmr-sync-api/values-ngp-prd-us1-services1-gke.yaml
  charts/pmr-sync-api/values-ngp-tst-us1-services1-gke.yaml
  charts/pmr-sync-api/values-ngp-uat-us1-services1-gke.yaml
  charts/pmr-sync-api/values.yaml
  cloudbuild.yaml
  helmfile-front-end.yaml
  scripts/substitute-charts-secrets.sh
Owners: @Q-Retail/q-retail-devops

NSPS2-7941: fix shellcheck warning in subsitute-charts-secrets.sh
  scripts/substitute-charts-secrets.sh
Owners: @Q-Retail/q-retail-devops

NSPS2-7941: rm some double quotes from pmr-sync values files
  charts/pmr-sync-api/values-ngp-dev-us1-services1-gke.yaml
  charts/pmr-sync-api/values-ngp-prd-us1-services1-gke.yaml
  charts/pmr-sync-api/values-ngp-uat-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-devops

Deploy v1.58.3-rc to UAT (#1633)
  charts/calendar-api/values-ngp-uat-us1-services1-gke.yaml
  charts/dealsheet-api/values-ngp-uat-us1-services1-gke.yaml
  charts/eventschedule-api/values-ngp-uat-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

Update charts/pmr-sync-api/values-ngp-dev-us1-services1-gke.yaml
  charts/pmr-sync-api/values-ngp-dev-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-devops

Update charts/pmr-sync-api/values-ngp-prd-us1-services1-gke.yaml
  charts/pmr-sync-api/values-ngp-prd-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-devops

Update charts/pmr-sync-api/values-ngp-uat-us1-services1-gke.yaml
  charts/pmr-sync-api/values-ngp-uat-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-devops

NSPS2-7941_pmr: pmr-sync add checksums and fix bool values
  charts/pmr-sync-api/templates/_helpers.tpl
  charts/pmr-sync-api/templates/deployment.yaml
  charts/pmr-sync-api/values.yaml
Owners: @Q-Retail/q-retail-devops

feat: analytics CPI updates to dev + uat (post cpi and ds recomm)
  charts/forecast-api/values-ngp-dev-us1-services1-gke.yaml
  charts/forecast-api/values-ngp-uat-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-devops, @lsomervillewow, @srichards-quantium

feat: dev image tag d99f72d from commit d99f72d of qr_ngp_cloud_platform (#1637)
  charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml
Owners: none

release uat/1.51.1
  charts/frontend-ui/values-ngp-uat-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-frontend, @Q-Retail/q-retail-devops

feat:NSPS2-8979 prd hotfix release for backend
  charts/calendar-api/values-ngp-prd-us1-services1-gke.yaml
  charts/dealsheet-api/values-ngp-prd-us1-services1-gke.yaml
  charts/eventschedule-api/values-ngp-prd-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

fix:NSPS2-0000 deploying health check fix to dev
  charts/calendar-api/values-ngp-dev-us1-services1-gke.yaml
  charts/dealsheet-api/values-ngp-dev-us1-services1-gke.yaml
  charts/eventschedule-api/values-ngp-dev-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

NSPS2-7941: expose correct pmr-sync port
  charts/pmr-sync-api/values.yaml
Owners: @Q-Retail/q-retail-devops
