Repository devdream123/NGP-Cloud-platform, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Q-Retail/q-retail-devops, @Q-Retail/q-retail-app-dev, @lsomervillewow, @srichards-quantium, @Q-Retail/q-retail-frontend

.github/CODEOWNERS:

# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,

# review when someone opens a pull request.
*  @Q-Retail/q-retail-devops

# Order is important; the last matching pattern takes the most
# precedence. When someone opens a pull request that only
# modifies following file and folder, only @js-owner and not the global
# owner(s) will be requested for a review.
/charts/calendar-api/             @Q-Retail/q-retail-app-dev @Q-Retail/q-retail-devops
/charts/dealsheet-api/            @Q-Retail/q-retail-app-dev @Q-Retail/q-retail-devops
/charts/eventschedule-api/        @Q-Retail/q-retail-app-dev @Q-Retail/q-retail-devops
/charts/hierarchy-api/            @Q-Retail/q-retail-app-dev @Q-Retail/q-retail-devops
/charts/graphql-mesh/             @Q-Retail/q-retail-app-dev @Q-Retail/q-retail-devops
/charts/forecast-api/             @Q-Retail/q-retail-devops @lsomervillewow @srichards-quantium
/charts/pgr-api/                  @Q-Retail/q-retail-devops @lsomervillewow @srichards-quantium
/charts/frontend-ui/              @Q-Retail/q-retail-frontend @Q-Retail/q-retail-devops
/charts/custom-groups-api/        @Q-Retail/q-retail-frontend @Q-Retail/q-retail-devops

/charts/istio/                  @Q-Retail/q-retail-devops
/charts/istio-gateway/          @Q-Retail/q-retail-devops
/config/                        @Q-Retail/q-retail-devops
/scripts/                       @Q-Retail/q-retail-devops
/values/                        @Q-Retail/q-retail-devops
cloudbuild.yaml                 @Q-Retail/q-retail-devops
helmfile-analytics.yaml         @Q-Retail/q-retail-devops
helmfile-backend.yaml           @Q-Retail/q-retail-devops
helmfile-front-end.yaml         @Q-Retail/q-retail-devops
helmfile.yaml                   @Q-Retail/q-retail-devops

/README.md

# set to no owner so that PRs from frontend can be auto merged
/charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml

feat: dev image tag d84c463 from commit d84c463 of qr_ngp_cloud_platform (#1429)
  charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml
Owners: none

feat: adds BE and FE release 51 tags
  charts/calendar-api/values-ngp-prd-us1-services1-gke.yaml
  charts/dealsheet-api/values-ngp-prd-us1-services1-gke.yaml
  charts/eventschedule-api/values-ngp-prd-us1-services1-gke.yaml
  charts/frontend-ui/values-ngp-prd-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops, @Q-Retail/q-retail-frontend

feat: dev image tag 3055d92 from commit 3055d92 of qr_ngp_cloud_platform (#1431)
  charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml
Owners: none

chore:NSPS2-0000 remove deprecated /unused changes (#1427)
  scripts/deploy.sh
Owners: @Q-Retail/q-retail-devops

feat: dev image tag f44bad3 from commit f44bad3 of qr_ngp_cloud_platform (#1432)
  charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml
Owners: none

feat:NSPS2-8261 updating charts in prd to enable auto instrumentation on services
  charts/calendar-api/values-ngp-prd-us1-services1-gke.yaml
  charts/custom-groups-api/values-ngp-prd-us1-services1-gke.yaml
  charts/dealsheet-api/values-ngp-prd-us1-services1-gke.yaml
  charts/eventschedule-api/values-ngp-prd-us1-services1-gke.yaml
  charts/forecast-api/values-ngp-prd-us1-services1-gke.yaml
  charts/hierarchy-api/values-ngp-prd-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops, @Q-Retail/q-retail-frontend, @lsomervillewow, @srichards-quantium

feat: dev image tag 975033e from commit 975033e of qr_ngp_cloud_platform (#1434)
  charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml
Owners: none

fix:NSPS2-0000 fixed hpa issue. (#1435)
  helmfile-front-end.yaml
  scripts/install-helm-charts.sh
Owners: @Q-Retail/q-retail-devops

fix :NSPS2-0000 fixed hpa in uat (#1436)
  scripts/install-helm-charts.sh
Owners: @Q-Retail/q-retail-devops

feat: deploying v1.51.1-hotfix-1 to UAT
  charts/calendar-api/values-ngp-uat-us1-services1-gke.yaml
  charts/dealsheet-api/values-ngp-uat-us1-services1-gke.yaml
  charts/eventschedule-api/values-ngp-uat-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

feat: dev image tag 4303273 from commit 4303273 of qr_ngp_cloud_platform (#1438)
  charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml
Owners: none

feat: NSPS2-8174 deploy v0.55.2-dev to BE services
  charts/calendar-api/values-ngp-dev-us1-services1-gke.yaml
  charts/dealsheet-api/values-ngp-dev-us1-services1-gke.yaml
  charts/eventschedule-api/values-ngp-dev-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

feat: deploy v1.51.3-rc to UAT (#1441)
  charts/calendar-api/values-ngp-uat-us1-services1-gke.yaml
  charts/dealsheet-api/values-ngp-uat-us1-services1-gke.yaml
  charts/eventschedule-api/values-ngp-uat-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

feat: NSPS2-8174 deploy v0.55.3-dev to DEV and PG BE services
  charts/calendar-api/values-ngp-dev-us1-playground1-gke.yaml
  charts/calendar-api/values-ngp-dev-us1-services1-gke.yaml
  charts/dealsheet-api/values-ngp-dev-us1-playground1-gke.yaml
  charts/dealsheet-api/values-ngp-dev-us1-services1-gke.yaml
  charts/eventschedule-api/values-ngp-dev-us1-playground1-gke.yaml
  charts/eventschedule-api/values-ngp-dev-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

fix:NSPS2-8326 increased the client body size to 10M
  charts/hierarchy-api/templates/configmap.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

feat: deploy v0.55.4-dev (#1447)
  charts/calendar-api/values-ngp-dev-us1-playground1-gke.yaml
  charts/calendar-api/values-ngp-dev-us1-services1-gke.yaml
  charts/dealsheet-api/values-ngp-dev-us1-playground1-gke.yaml
  charts/dealsheet-api/values-ngp-dev-us1-services1-gke.yaml
  charts/eventschedule-api/values-ngp-dev-us1-playground1-gke.yaml
  charts/eventschedule-api/values-ngp-dev-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

feat: dev image tag d6320d2 from commit d6320d2 of qr_ngp_cloud_platform (#1448)
  charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml
Owners: none

feat: dev image tag 1212b08 from commit 1212b08 of qr_ngp_cloud_platform (#1450)
  charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml
Owners: none

feat: dev image tag 7cd78ea from commit 7cd78ea of qr_ngp_cloud_platform (#1451)
  charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml
Owners: none

feat: dev image tag 31ff8cb from commit 31ff8cb of qr_ngp_cloud_platform (#1452)
  charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml
Owners: none

feat: dev image tag 44dcdfc from commit 44dcdfc of qr_ngp_cloud_platform (#1453)
  charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml
Owners: none

feature/NSPS2-8262 Fix No Promo in slotting board
  charts/calendar-api/values-ngp-uat-us1-services1-gke.yaml
  charts/dealsheet-api/values-ngp-uat-us1-services1-gke.yaml
  charts/eventschedule-api/values-ngp-uat-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

feat:NSPS2-8349 setting up env vars for env agnostic builds
  charts/frontend-ui/templates/configmap.yaml
  charts/frontend-ui/values-ngp-dev-us1-playground1-gke.yaml
  charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml
  charts/frontend-ui/values-ngp-prd-us1-services1-gke.yaml
  charts/frontend-ui/values-ngp-tst-us1-services1-gke.yaml
  charts/frontend-ui/values-ngp-uat-us1-services1-gke.yaml
  charts/frontend-ui/values.yaml
Owners: @Q-Retail/q-retail-frontend, @Q-Retail/q-retail-devops

fix: NSPS2-80 fixed cloud platform build (#1458)
  scripts/deploy.sh
Owners: @Q-Retail/q-retail-devops

feat: deploys v1.52.1-prd (BE only)
  charts/calendar-api/values-ngp-prd-us1-services1-gke.yaml
  charts/dealsheet-api/values-ngp-prd-us1-services1-gke.yaml
  charts/eventschedule-api/values-ngp-prd-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

feat: dev image tag 60d0894 from commit 60d0894 of qr_ngp_cloud_platform (#1463)
  charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml
Owners: none

Update values-ngp-uat-us1-services1-gke.yaml (#1461)
  charts/frontend-ui/values-ngp-uat-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-frontend, @Q-Retail/q-retail-devops

feat: deploy v1.52.2-hotfix-1
  charts/calendar-api/values-ngp-uat-us1-services1-gke.yaml
  charts/dealsheet-api/values-ngp-uat-us1-services1-gke.yaml
  charts/eventschedule-api/values-ngp-uat-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

fix: changes the release version number
  charts/calendar-api/values-ngp-uat-us1-services1-gke.yaml
  charts/dealsheet-api/values-ngp-uat-us1-services1-gke.yaml
  charts/eventschedule-api/values-ngp-uat-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

feat: NSPS2-0000 enable custom groups in uat (#1468)
  charts/graphql-mesh/values-ngp-uat-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

feat: NSPS2-8314 deploy v0.55.6-dev to DEV and PG BE services (#1470)
  charts/calendar-api/values-ngp-dev-us1-playground1-gke.yaml
  charts/calendar-api/values-ngp-dev-us1-services1-gke.yaml
  charts/dealsheet-api/values-ngp-dev-us1-playground1-gke.yaml
  charts/dealsheet-api/values-ngp-dev-us1-services1-gke.yaml
  charts/eventschedule-api/values-ngp-dev-us1-playground1-gke.yaml
  charts/eventschedule-api/values-ngp-dev-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

feat: dev image tag 262cb4b from commit 262cb4b of qr_ngp_cloud_platform (#1471)
  charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml
Owners: none

feat: dev image tag b9d5d8c from commit b9d5d8c of qr_ngp_cloud_platform (#1472)
  charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml
Owners: none

feat: NSPS2-0000 deploy latest cg tag to uat (#1469)
  charts/custom-groups-api/values-ngp-uat-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-frontend, @Q-Retail/q-retail-devops

feat: deploy v1.52.4-rc (#1473)
  charts/calendar-api/values-ngp-uat-us1-services1-gke.yaml
  charts/dealsheet-api/values-ngp-uat-us1-services1-gke.yaml
  charts/eventschedule-api/values-ngp-uat-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

feat: dev image tag 63874f1 from commit 63874f1 of qr_ngp_cloud_platform (#1474)
  charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml
Owners: none

feat: deploy v0.56.1-dev to dev
  charts/calendar-api/values-ngp-dev-us1-services1-gke.yaml
  charts/dealsheet-api/values-ngp-dev-us1-services1-gke.yaml
  charts/eventschedule-api/values-ngp-dev-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

feat: NSPS2-0000 deploy 1.50.1-uat fe to uat (#1477)
  charts/frontend-ui/values-ngp-uat-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-frontend, @Q-Retail/q-retail-devops

feat: deploys v1.53.1-rc
  charts/calendar-api/values-ngp-uat-us1-services1-gke.yaml
  charts/dealsheet-api/values-ngp-uat-us1-services1-gke.yaml
  charts/eventschedule-api/values-ngp-uat-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

feat: dev image tag ccdb546 from commit ccdb546 of qr_ngp_cloud_platform (#1481)
  charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml
Owners: none
