Repository devdream123/NGP-Cloud-platform, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Q-Retail/q-retail-devops, @Q-Retail/q-retail-app-dev, @lsomervillewow, @srichards-quantium, @Q-Retail/q-retail-frontend

.github/CODEOWNERS:

# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,

# review when someone opens a pull request.
*  @Q-Retail/q-retail-devops

# Order is important; the last matching pattern takes the most
# precedence. When someone opens a pull request that only
# modifies following file and folder, only @js-owner and not the global
# owner(s) will be requested for a review.
/charts/calendar-api/             @Q-Retail/q-retail-app-dev @Q-Retail/q-retail-devops
/charts/dealsheet-api/            @Q-Retail/q-retail-app-dev @Q-Retail/q-retail-devops
/charts/eventschedule-api/        @Q-Retail/q-retail-app-dev @Q-Retail/q-retail-devops
/charts/hierarchy-api/            @Q-Retail/q-retail-app-dev @Q-Retail/q-retail-devops
/charts/graphql-mesh/             @Q-Retail/q-retail-app-dev @Q-Retail/q-retail-devops
/charts/forecast-api/             @Q-Retail/q-retail-devops @lsomervillewow @srichards-quantium
/charts/pgr-api/                  @Q-Retail/q-retail-devops @lsomervillewow @srichards-quantium
/charts/frontend-ui/              @Q-Retail/q-retail-frontend @Q-Retail/q-retail-devops
/charts/custom-groups-api/        @Q-Retail/q-retail-frontend @Q-Retail/q-retail-devops

/charts/istio/                  @Q-Retail/q-retail-devops
/charts/istio-gateway/          @Q-Retail/q-retail-devops
/config/                        @Q-Retail/q-retail-devops
/scripts/                       @Q-Retail/q-retail-devops
/values/                        @Q-Retail/q-retail-devops
cloudbuild.yaml                 @Q-Retail/q-retail-devops
helmfile-analytics.yaml         @Q-Retail/q-retail-devops
helmfile-backend.yaml           @Q-Retail/q-retail-devops
helmfile-front-end.yaml         @Q-Retail/q-retail-devops
helmfile.yaml                   @Q-Retail/q-retail-devops

/README.md

# set to no owner so that PRs from frontend can be auto merged
/charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml

feat: updates BE tag to v1.50.2-rc
  charts/calendar-api/values-ngp-uat-us1-services1-gke.yaml
  charts/dealsheet-api/values-ngp-uat-us1-services1-gke.yaml
  charts/eventschedule-api/values-ngp-uat-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

feat: dev image tag b828f1a from commit b828f1a of qr_ngp_cloud_platform (#1311)
  charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml
Owners: none

fix:NSPS2-8030 set the uat dealsheet service with the correct iam account
  charts/dealsheet-api/values-ngp-uat-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

NSPS2-6985: respond to dealsheet auth upgrade PR comments
  charts/dealsheet-api/templates/configmap.yaml
  charts/dealsheet-api/templates/deployment.yaml
  charts/dealsheet-api/values-ngp-uat-us1-services1-gke.yaml
  charts/dealsheet-api/values.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

feat: deploys BE services v1.50.3-rc
  charts/calendar-api/values-ngp-uat-us1-services1-gke.yaml
  charts/dealsheet-api/values-ngp-uat-us1-services1-gke.yaml
  charts/eventschedule-api/values-ngp-uat-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

fix:NSPS2-7885 updating to instrumented app versions, adding host alias
  charts/forecast-api/values-ngp-dev-us1-services1-gke.yaml
  charts/forecast-api/values-ngp-tst-us1-services1-gke.yaml
  charts/graphql-mesh/values-ngp-dev-us1-services1-gke.yaml
  charts/graphql-mesh/values-ngp-tst-us1-services1-gke.yaml
  charts/hierarchy-api/templates/deployment.yaml
  charts/pgr-api/values-ngp-dev-us1-services1-gke.yaml
  charts/pgr-api/values-ngp-tst-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-devops, @lsomervillewow, @srichards-quantium, @Q-Retail/q-retail-app-dev

NSPS2-0000 refactored calendar chart (#1315)
  charts/calendar-api/templates/configmap.yaml
  charts/calendar-api/templates/deployment.yaml
  charts/calendar-api/templates/secrets.yaml
  charts/calendar-api/values-ngp-dev-us1-playground1-gke.yaml
  charts/calendar-api/values-ngp-dev-us1-services1-gke.yaml
  charts/calendar-api/values-ngp-prd-us1-services1-gke.yaml
  charts/calendar-api/values-ngp-tst-us1-services1-gke.yaml
  charts/calendar-api/values-ngp-uat-us1-services1-gke.yaml
  charts/calendar-api/values.yaml
  scripts/substitute-charts-secrets.sh
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

feat: dev image tag 9d481b8 from commit 9d481b8 of qr_ngp_cloud_platform (#1324)
  charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml
Owners: none

fix:NSPS2-7885 volume and ip address fixes for hierarchy and version check for mesh (#1326)
  charts/graphql-mesh/templates/configmap.yaml
  charts/hierarchy-api/templates/deployment.yaml
  charts/hierarchy-api/values-ngp-dev-us1-services1-gke.yaml
  charts/hierarchy-api/values-ngp-tst-us1-services1-gke.yaml
  charts/hierarchy-api/values.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

Revert "fix:NSPS2-7885 volume and ip address fixes for hierarchy and version check for mesh (#1326)" (#1329)
  charts/graphql-mesh/templates/configmap.yaml
  charts/hierarchy-api/templates/deployment.yaml
  charts/hierarchy-api/values-ngp-dev-us1-services1-gke.yaml
  charts/hierarchy-api/values-ngp-tst-us1-services1-gke.yaml
  charts/hierarchy-api/values.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

feat: deploy v0.53.8-dev to BE services
  charts/calendar-api/values-ngp-dev-us1-services1-gke.yaml
  charts/dealsheet-api/values-ngp-dev-us1-services1-gke.yaml
  charts/eventschedule-api/values-ngp-dev-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

fix/NSPS2-7885 correct hierarchy ports (#1330)
  charts/graphql-mesh/templates/configmap.yaml
  charts/hierarchy-api/values-ngp-dev-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

feat: dev image tag b48781a from commit b48781a of qr_ngp_cloud_platform (#1332)
  charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml
Owners: none

feat: deploy v1.50.4-rc to BE services in UAT
  charts/calendar-api/values-ngp-uat-us1-services1-gke.yaml
  charts/dealsheet-api/values-ngp-uat-us1-services1-gke.yaml
  charts/eventschedule-api/values-ngp-uat-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

feat: deploy v0.54.2-dev to dev (#1334)
  charts/calendar-api/values-ngp-dev-us1-services1-gke.yaml
  charts/dealsheet-api/values-ngp-dev-us1-services1-gke.yaml
  charts/eventschedule-api/values-ngp-dev-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

fix:NSPS2-7885 adding back heirarchy fixes now that other issues have been resolved
  charts/hierarchy-api/templates/deployment.yaml
  charts/hierarchy-api/values-ngp-dev-us1-services1-gke.yaml
  charts/hierarchy-api/values-ngp-tst-us1-services1-gke.yaml
  charts/hierarchy-api/values.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

feat: dev image tag 81fde87 from commit 81fde87 of qr_ngp_cloud_platform (#1336)
  charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml
Owners: none

feat: dev image tag 5f0c9d7 from commit 5f0c9d7 of qr_ngp_cloud_platform (#1337)
  charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml
Owners: none

feat: dev image tag a6862f5 from commit a6862f5 of qr_ngp_cloud_platform (#1338)
  charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml
Owners: none

feat: dev image tag a0242f0 from commit a0242f0 of qr_ngp_cloud_platform (#1339)
  charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml
Owners: none

feat: dev image tag d5bb79e from commit d5bb79e of qr_ngp_cloud_platform (#1340)
  charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml
Owners: none

feat: dev image tag dc24d93 from commit dc24d93 of qr_ngp_cloud_platform (#1341)
  charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml
Owners: none

feat: dev image tag 0fa9ec0 from commit 0fa9ec0 of qr_ngp_cloud_platform (#1344)
  charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml
Owners: none

feat: dev image tag 3eb38ae from commit 3eb38ae of qr_ngp_cloud_platform (#1346)
  charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml
Owners: none

feat: dev image tag 978cb1c from commit 978cb1c of qr_ngp_cloud_platform (#1347)
  charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml
Owners: none

Deploy v1.50.5-rc to UAT for backend services (#1345)
  charts/calendar-api/values-ngp-uat-us1-services1-gke.yaml
  charts/dealsheet-api/values-ngp-uat-us1-services1-gke.yaml
  charts/eventschedule-api/values-ngp-uat-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

Daemonset for secure web proxy (#1299)
  charts/web-proxy-ds/.helmignore
  charts/web-proxy-ds/Chart.yaml
  charts/web-proxy-ds/templates/_helpers.tpl
  charts/web-proxy-ds/templates/daemonset.yaml
  charts/web-proxy-ds/values-ngp-dev-us1-playground1-gke.yaml
  charts/web-proxy-ds/values-ngp-dev-us1-services1-gke.yaml
  charts/web-proxy-ds/values-ngp-prd-us1-services1-gke.yaml
  charts/web-proxy-ds/values-ngp-tst-us1-services1-gke.yaml
  charts/web-proxy-ds/values-ngp-uat-us1-services1-gke.yaml
  charts/web-proxy-ds/values.yaml
  helmfile-system.yaml
  scripts/install-helm-charts.sh
  values/dev.yaml
  values/prd.yaml
  values/tst.yaml
  values/uat.yaml
Owners: @Q-Retail/q-retail-devops

feat: dev image tag 12ab246 from commit 12ab246 of qr_ngp_cloud_platform (#1352)
  charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml
Owners: none

feat: deploy v1.50.6-rc to UAT
  charts/calendar-api/values-ngp-uat-us1-services1-gke.yaml
  charts/dealsheet-api/values-ngp-uat-us1-services1-gke.yaml
  charts/eventschedule-api/values-ngp-uat-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

feat: dev image tag e38853c from commit e38853c of qr_ngp_cloud_platform (#1354)
  charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml
Owners: none

Deploy NSPS2-8144 to fix p[laceholder deletion issue
  charts/calendar-api/values-ngp-uat-us1-services1-gke.yaml
  charts/dealsheet-api/values-ngp-uat-us1-services1-gke.yaml
  charts/eventschedule-api/values-ngp-uat-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

feat: dev image tag d952333 from commit d952333 of qr_ngp_cloud_platform (#1360)
  charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml
Owners: none

feat: dev image tag c3f565c from commit c3f565c of qr_ngp_cloud_platform (#1361)
  charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml
Owners: none

feat: dev image tag 0c8994e from commit 0c8994e of qr_ngp_cloud_platform (#1363)
  charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml
Owners: none

feat: deploys performance issue fix
  charts/calendar-api/values-ngp-uat-us1-services1-gke.yaml
  charts/dealsheet-api/values-ngp-uat-us1-services1-gke.yaml
  charts/eventschedule-api/values-ngp-uat-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

fix: updates the build tag
  charts/calendar-api/values-ngp-uat-us1-services1-gke.yaml
  charts/dealsheet-api/values-ngp-uat-us1-services1-gke.yaml
  charts/eventschedule-api/values-ngp-uat-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

feat: NSPS2-8032 Add vendor number to excel file dev testing (#1366)
  charts/calendar-api/values-ngp-dev-us1-services1-gke.yaml
  charts/dealsheet-api/values-ngp-dev-us1-services1-gke.yaml
  charts/eventschedule-api/values-ngp-dev-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

fix: deploys performance issue fix
  charts/calendar-api/values-ngp-uat-us1-services1-gke.yaml
  charts/dealsheet-api/values-ngp-uat-us1-services1-gke.yaml
  charts/eventschedule-api/values-ngp-uat-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

feat: Deploy v1.50.10-rc to UAT
  charts/calendar-api/values-ngp-uat-us1-services1-gke.yaml
  charts/dealsheet-api/values-ngp-uat-us1-services1-gke.yaml
  charts/eventschedule-api/values-ngp-uat-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

feat:NSPS2-6951 enabled web proxy in uat (#1368)
  charts/web-proxy-ds/values-ngp-uat-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-devops
