Repository devdream123/NGP-Cloud-platform, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Q-Retail/q-retail-devops, @Q-Retail/q-retail-app-dev, @lsomervillewow, @srichards-quantium, @Q-Retail/q-retail-frontend

feat: deploys 1.57.12-rc BE
  charts/calendar-api/values-ngp-dev-us1-services1-gke.yaml
  charts/calendar-api/values-ngp-uat-us1-services1-gke.yaml
  charts/dealsheet-api/values-ngp-dev-us1-services1-gke.yaml
  charts/dealsheet-api/values-ngp-uat-us1-services1-gke.yaml
  charts/eventschedule-api/values-ngp-dev-us1-services1-gke.yaml
  charts/eventschedule-api/values-ngp-uat-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

feat: deploys v1.57.12-rc
  charts/calendar-api/values-ngp-uat-us1-services1-gke.yaml
  charts/dealsheet-api/values-ngp-uat-us1-services1-gke.yaml
  charts/eventschedule-api/values-ngp-uat-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

feat: deploys v0.63.11-dev
  charts/calendar-api/values-ngp-dev-us1-services1-gke.yaml
  charts/dealsheet-api/values-ngp-dev-us1-services1-gke.yaml
  charts/eventschedule-api/values-ngp-dev-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

fix: NSPS2-9781 Deploy v1.57.14-rc to BE UAT services (#1939)
  charts/calendar-api/values-ngp-uat-us1-services1-gke.yaml
  charts/dealsheet-api/values-ngp-uat-us1-services1-gke.yaml
  charts/eventschedule-api/values-ngp-uat-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

feat: Deploying to dev and UAT (#1942)
  charts/calendar-api/values-ngp-dev-us1-services1-gke.yaml
  charts/calendar-api/values-ngp-uat-us1-services1-gke.yaml
  charts/dealsheet-api/values-ngp-dev-us1-services1-gke.yaml
  charts/dealsheet-api/values-ngp-uat-us1-services1-gke.yaml
  charts/eventschedule-api/values-ngp-dev-us1-services1-gke.yaml
  charts/eventschedule-api/values-ngp-uat-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

Set the PMR audit log DB location on UAT
  charts/calendar-api/values-ngp-uat-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

NSPS2-9745 Deploy v1.57.16-rc to BE UAT services (#1944)
  charts/calendar-api/values-ngp-uat-us1-services1-gke.yaml
  charts/dealsheet-api/values-ngp-uat-us1-services1-gke.yaml
  charts/eventschedule-api/values-ngp-uat-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

Update values-ngp-uat-us1-services1-gke.yaml
  charts/frontend-ui/values-ngp-uat-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-frontend, @Q-Retail/q-retail-devops

NSPS2-9701: update protobuf schema tag to 0.0.14 in tst and dev
  config/dev.env.yaml
  config/tst.env.yaml
Owners: @Q-Retail/q-retail-devops

NSPS2-9718: add dead-letter topics in dev
  config/dev.env.yaml
Owners: @Q-Retail/q-retail-devops

NSPS2-9701: fix indentation
  config/dev.env.yaml
Owners: @Q-Retail/q-retail-devops

feat: neg for debug app, remove istio (#1950)
  charts/istio/values-ngp-dev-us1-services1-gke.yaml
  charts/ngs-debug-app/templates/service.yaml
  charts/ngs-debug-app/values.yaml
Owners: @Q-Retail/q-retail-devops

fix: NSPS2-9848 Deploy v1.57.17-rc to BE UAT services (#1949)
  charts/calendar-api/values-ngp-uat-us1-services1-gke.yaml
  charts/dealsheet-api/values-ngp-uat-us1-services1-gke.yaml
  charts/eventschedule-api/values-ngp-uat-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

deploy: 1.0.50 pmr to uat dev (#1952)
  charts/ngs-debug-app/templates/configmap.yaml
  charts/ngs-debug-app/values-ngp-dev-us1-services1-gke.yaml
  charts/ngs-debug-app/values-ngp-prd-us1-services1-gke.yaml
  charts/ngs-debug-app/values-ngp-tst-us1-services1-gke.yaml
  charts/ngs-debug-app/values-ngp-uat-us1-services1-gke.yaml
  charts/pmr-email-sender-api/templates/configmap.yaml
  charts/pmr-email-sender-api/values-ngp-dev-us1-services1-gke.yaml
  charts/pmr-email-sender-api/values-ngp-tst-us1-services1-gke.yaml
  charts/pmr-email-sender-api/values-ngp-uat-us1-services1-gke.yaml
  charts/pmr-email-sender-api/values.yaml
  charts/pmr-supplier-approval-ui/values-gcp-wow-corp-qretail-ngp-dev.yaml
  charts/pmr-supplier-approval-ui/values-gcp-wow-corp-qretail-ngp-test.yaml
  charts/pmr-supplier-approval-ui/values-gcp-wow-corp-qretail-ngp-uat.yaml
Owners: @Q-Retail/q-retail-devops

chore: correct container port (#1953)
  charts/ngs-debug-app/templates/deployment.yaml
Owners: @Q-Retail/q-retail-devops

NSPS2-9701: pmr audit log token expiry topics tst and dev
  config/dev.env.yaml
  config/tst.env.yaml
Owners: @Q-Retail/q-retail-devops

NSPS2-9215: add pmr audit log dead-letter topics to tst config
  config/tst.env.yaml
Owners: @Q-Retail/q-retail-devops

fix: NSPS2-0000 fix sendgrid api url (#1957)
  charts/pmr-email-sender-api/values.yaml
Owners: @Q-Retail/q-retail-devops

deploy: 1.0.51 pmr to uat and dev (#1958)
  charts/pmr-email-sender-api/values-ngp-dev-us1-services1-gke.yaml
  charts/pmr-email-sender-api/values-ngp-tst-us1-services1-gke.yaml
  charts/pmr-email-sender-api/values-ngp-uat-us1-services1-gke.yaml
  charts/pmr-supplier-approval-ui/values-gcp-wow-corp-qretail-ngp-dev.yaml
  charts/pmr-supplier-approval-ui/values-gcp-wow-corp-qretail-ngp-test.yaml
  charts/pmr-supplier-approval-ui/values-gcp-wow-corp-qretail-ngp-uat.yaml
Owners: @Q-Retail/q-retail-devops

NSPS2-9718: protobuf schema tag 0.0.15 tst and dev
  config/dev.env.yaml
  config/tst.env.yaml
Owners: @Q-Retail/q-retail-devops

chore: debug app port fix (#1960)
  charts/ngs-debug-app/templates/tests/test-connection.yaml
  charts/ngs-debug-app/values.yaml
Owners: @Q-Retail/q-retail-devops

Nsps2 9629/tst and uat debug app (#1961)
  charts/ngs-debug-app/values-ngp-prd-us1-services1-gke.yaml
  charts/ngs-debug-app/values-ngp-tst-us1-services1-gke.yaml
  charts/ngs-debug-app/values-ngp-uat-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-devops

Fix/debug app neg port (#1962)
  charts/ngs-debug-app/templates/service.yaml
Owners: @Q-Retail/q-retail-devops

feat: deploy v0.63.13-dev (#1963)
  charts/calendar-api/values-ngp-dev-us1-services1-gke.yaml
  charts/dealsheet-api/values-ngp-dev-us1-services1-gke.yaml
  charts/eventschedule-api/values-ngp-dev-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

deploy: 1.0.52 pmr-sync and pmr-email-sender to dev and uat (#1964)
  charts/pmr-email-sender-api/values-ngp-dev-us1-services1-gke.yaml
  charts/pmr-email-sender-api/values-ngp-tst-us1-services1-gke.yaml
  charts/pmr-email-sender-api/values-ngp-uat-us1-services1-gke.yaml
  charts/pmr-sync/templates/configmap.yaml
  charts/pmr-sync/values-ngp-dev-us1-services1-gke.yaml
  charts/pmr-sync/values-ngp-tst-us1-services1-gke.yaml
  charts/pmr-sync/values-ngp-uat-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-devops

deploy: 1.0.45 pmr-sync to all envs (#1965)
  charts/pmr-sync/values-ngp-dev-us1-services1-gke.yaml
  charts/pmr-sync/values-ngp-tst-us1-services1-gke.yaml
  charts/pmr-sync/values-ngp-uat-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-devops

Deploy v1.63.14-dev to backend services (#1967)
  charts/calendar-api/values-ngp-dev-us1-services1-gke.yaml
  charts/dealsheet-api/values-ngp-dev-us1-services1-gke.yaml
  charts/eventschedule-api/values-ngp-dev-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

fix: NSPS2-0000 Deploy v1.57.19-rc to BE UAT services (#1970)
  charts/calendar-api/values-ngp-uat-us1-services1-gke.yaml
  charts/dealsheet-api/values-ngp-uat-us1-services1-gke.yaml
  charts/eventschedule-api/values-ngp-uat-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

test:NSPS2-9534 testing uat with tokens turned off
  charts/pmr-sync/values-ngp-dev-us1-services1-gke.yaml
  charts/pmr-sync/values-ngp-tst-us1-services1-gke.yaml
  charts/pmr-sync/values-ngp-uat-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-devops

fix: Deploy v1.57.20-rc to BE UAT services (#1975)
  charts/calendar-api/values-ngp-uat-us1-services1-gke.yaml
  charts/dealsheet-api/values-ngp-uat-us1-services1-gke.yaml
  charts/eventschedule-api/values-ngp-uat-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

NSPS2-9701: remove proto to json schema conversion step
  scripts/convert-protobuf-schema.sh
  scripts/create-pubsub-topic-schema.sh
  scripts/deploy-pmr-pubsub-schemas.sh
Owners: @Q-Retail/q-retail-devops

NSPS2-9701: protobuf schema tag 0.0.16 tst
  config/tst.env.yaml
Owners: @Q-Retail/q-retail-devops

NSPS2-9701: protobuf schema tag 0.0.21 tst and dev
  config/dev.env.yaml
  config/tst.env.yaml
Owners: @Q-Retail/q-retail-devops

chore: Added some default vscode settings
  .devcontainer/devcontainer.json
  .gitignore
  .vscode/settings.json
Owners: @Q-Retail/q-retail-devops

chore: Added dev container config
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
Owners: @Q-Retail/q-retail-devops

fix: Added helm install as well as making zscaler fail silently
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
Owners: @Q-Retail/q-retail-devops

fix:NSPS2-9534 updating with latest image tag
  charts/pmr-sync/values-ngp-dev-us1-services1-gke.yaml
  charts/pmr-sync/values-ngp-tst-us1-services1-gke.yaml
  charts/pmr-sync/values-ngp-uat-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-devops

NSPS2-9215: add PMR audit log schema deployment in UAT
  config/uat.env.yaml
Owners: @Q-Retail/q-retail-devops

NSPS2-9215: protobuf schema tag 0.0.14 uat
  config/uat.env.yaml
Owners: @Q-Retail/q-retail-devops

NSPS2-9215: pmr event dead letter topics uat
  config/uat.env.yaml
Owners: @Q-Retail/q-retail-devops

.github/CODEOWNERS:

# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,

# review when someone opens a pull request.
*  @Q-Retail/q-retail-devops

# Order is important; the last matching pattern takes the most
# precedence. When someone opens a pull request that only
# modifies following file and folder, only @js-owner and not the global
# owner(s) will be requested for a review.
/charts/calendar-api/             @Q-Retail/q-retail-app-dev @Q-Retail/q-retail-devops
/charts/dealsheet-api/            @Q-Retail/q-retail-app-dev @Q-Retail/q-retail-devops
/charts/eventschedule-api/        @Q-Retail/q-retail-app-dev @Q-Retail/q-retail-devops
/charts/hierarchy-api/            @Q-Retail/q-retail-app-dev @Q-Retail/q-retail-devops
/charts/graphql-mesh/             @Q-Retail/q-retail-app-dev @Q-Retail/q-retail-devops
/charts/forecast-api/             @Q-Retail/q-retail-devops @lsomervillewow @srichards-quantium
/charts/pgr-api/                  @Q-Retail/q-retail-devops @lsomervillewow @srichards-quantium
/charts/frontend-ui/              @Q-Retail/q-retail-frontend @Q-Retail/q-retail-devops
/charts/custom-groups-api/        @Q-Retail/q-retail-frontend @Q-Retail/q-retail-devops

/charts/istio/                  @Q-Retail/q-retail-devops
/charts/istio-gateway/          @Q-Retail/q-retail-devops
/config/                        @Q-Retail/q-retail-devops
/scripts/                       @Q-Retail/q-retail-devops
/values/                        @Q-Retail/q-retail-devops
cloudbuild.yaml                 @Q-Retail/q-retail-devops
helmfile-analytics.yaml         @Q-Retail/q-retail-devops
helmfile-backend.yaml           @Q-Retail/q-retail-devops
helmfile-front-end.yaml         @Q-Retail/q-retail-devops
helmfile.yaml                   @Q-Retail/q-retail-devops

/README.md

# set to no owner so that PRs from frontend can be auto merged
/charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml
