Repository devdream123/NGP-Cloud-platform, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Q-Retail/q-retail-devops, @Q-Retail/q-retail-app-dev, @lsomervillewow, @srichards-quantium, @Q-Retail/q-retail-frontend

Update values-ngp-uat-us1-services1-gke.yaml (#1711)
  charts/frontend-ui/values-ngp-uat-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-frontend, @Q-Retail/q-retail-devops

feat: NSPS2-9110 Deploy v1.55.17-rc to BE UAT services (#1710)
  charts/calendar-api/values-ngp-uat-us1-services1-gke.yaml
  charts/dealsheet-api/values-ngp-uat-us1-services1-gke.yaml
  charts/eventschedule-api/values-ngp-uat-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

fix:NSPS2-9140 incorrect parameters for pool settings (#1712)
  charts/calendar-api/templates/configmap.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

feat: dev image tag 3d288d2 from commit 3d288d2 of qr_ngp_cloud_platform (#1713)
  charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml
Owners: none

feat:NSPS2-9176 setting up initial deployment pr for ngs-55
  charts/calendar-api/values-ngp-prd-us1-services1-gke.yaml
  charts/dealsheet-api/values-ngp-prd-us1-services1-gke.yaml
  charts/eventschedule-api/values-ngp-prd-us1-services1-gke.yaml
  charts/forecast-api/values-ngp-prd-us1-services1-gke.yaml
  charts/frontend-ui/values-ngp-prd-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops, @lsomervillewow, @srichards-quantium, @Q-Retail/q-retail-frontend

fix: NSPS2-9167 Deploy v1.55.19-rc to BE UAT services (#1714)
  charts/calendar-api/values-ngp-uat-us1-services1-gke.yaml
  charts/dealsheet-api/values-ngp-uat-us1-services1-gke.yaml
  charts/eventschedule-api/values-ngp-uat-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

feat: dev image tag 1becbd5 from commit 1becbd5 of qr_ngp_cloud_platform (#1717)
  charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml
Owners: none

Update values-ngp-uat-us1-services1-gke.yaml (#1716)
  charts/frontend-ui/values-ngp-uat-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-frontend, @Q-Retail/q-retail-devops

Deploy v1.55.20-rc (#1718)
  charts/calendar-api/values-ngp-uat-us1-services1-gke.yaml
  charts/dealsheet-api/values-ngp-uat-us1-services1-gke.yaml
  charts/eventschedule-api/values-ngp-uat-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

feat: dev image tag ec4ca84 from commit ec4ca84 of qr_ngp_cloud_platform (#1719)
  charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml
Owners: none

feat: dev image tag 3619ec4 from commit 3619ec4 of qr_ngp_cloud_platform (#1720)
  charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml
Owners: none

feat: dev image tag 66a75af from commit 66a75af of qr_ngp_cloud_platform (#1721)
  charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml
Owners: none

Update values-ngp-uat-us1-services1-gke.yaml
  charts/frontend-ui/values-ngp-uat-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-frontend, @Q-Retail/q-retail-devops

Deploy v1.55.22-rc (#1724)
  charts/calendar-api/values-ngp-uat-us1-services1-gke.yaml
  charts/dealsheet-api/values-ngp-uat-us1-services1-gke.yaml
  charts/eventschedule-api/values-ngp-uat-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

feat: dev image tag 785428e from commit 785428e of qr_ngp_cloud_platform (#1725)
  charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml
Owners: none

fix:NSPS2-9176 updating chart values to reflect changes in uat
  charts/calendar-api/values-ngp-prd-us1-services1-gke.yaml
  charts/dealsheet-api/values-ngp-prd-us1-services1-gke.yaml
  charts/eventschedule-api/values-ngp-prd-us1-services1-gke.yaml
  charts/frontend-ui/values-ngp-prd-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops, @Q-Retail/q-retail-frontend

Fix/nsps2 9136 (#1706)
  charts/calendar-api/values-ngp-tst-us1-services1-gke.yaml
  charts/eventschedule-api/values-ngp-tst-us1-services1-gke.yaml
  scripts/apply-entity-framework-migrations.sh
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

NSPS2-0000 removed unused app versions config (#1726)
  charts/calendar-api/templates/configmap.yaml
  charts/calendar-api/values-ngp-tst-us1-services1-gke.yaml
  charts/calendar-api/values.yaml
  charts/dealsheet-api/templates/configmap.yaml
  charts/dealsheet-api/values-ngp-tst-us1-services1-gke.yaml
  charts/dealsheet-api/values.yaml
  charts/eventschedule-api/templates/configmap.yaml
  charts/eventschedule-api/values.yaml
  charts/hierarchy-api/templates/configmap.yaml
  charts/hierarchy-api/values.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

fix:NSPS2-9176 updated hierarchy
  charts/hierarchy-api/values-ngp-prd-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

feat: dev image tag ab2f5c7 from commit ab2f5c7 of qr_ngp_cloud_platform (#1734)
  charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml
Owners: none

feat: dev image tag eaed252 from commit eaed252 of qr_ngp_cloud_platform (#1735)
  charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml
Owners: none

feat: dev image tag bfdde25 from commit bfdde25 of qr_ngp_cloud_platform (#1737)
  charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml
Owners: none

feat: dev image tag 5dd4433 from commit 5dd4433 of qr_ngp_cloud_platform (#1738)
  charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml
Owners: none

Deploy v1.55.23 to UAT (#1741)
  charts/calendar-api/values-ngp-uat-us1-services1-gke.yaml
  charts/dealsheet-api/values-ngp-uat-us1-services1-gke.yaml
  charts/eventschedule-api/values-ngp-uat-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

feat: dev image tag 3d8dbcc from commit 3d8dbcc of qr_ngp_cloud_platform (#1742)
  charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml
Owners: none

feat: dev image tag fbaf8d7 from commit fbaf8d7 of qr_ngp_cloud_platform (#1743)
  charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml
Owners: none

Update values-ngp-uat-us1-services1-gke.yaml
  charts/frontend-ui/values-ngp-uat-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-frontend, @Q-Retail/q-retail-devops

feat: NSPS2-9179 deploy proposed dealsheet fix
  charts/calendar-api/values-ngp-uat-us1-services1-gke.yaml
  charts/dealsheet-api/values-ngp-uat-us1-services1-gke.yaml
  charts/eventschedule-api/values-ngp-uat-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

Remove unused and unnecessary typesense endpoints (#1747)
  charts/graphql-mesh/templates/configmap.yaml
  charts/graphql-mesh/templates/deployment.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

fix: NSPS2-9175 Deploy v1.55.22-hotfix-3 to BE UAT services (#1750)
  charts/calendar-api/values-ngp-uat-us1-services1-gke.yaml
  charts/dealsheet-api/values-ngp-uat-us1-services1-gke.yaml
  charts/eventschedule-api/values-ngp-uat-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

fix: NSPS2-9175 Deploy v1.55.22-hotfix-4 to BE UAT services (#1752)
  charts/calendar-api/values-ngp-uat-us1-services1-gke.yaml
  charts/dealsheet-api/values-ngp-uat-us1-services1-gke.yaml
  charts/eventschedule-api/values-ngp-uat-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

Feat/nsps2 9100 main (#1732)
  README.md
  charts/supplier-approval-ui/Chart.yaml
  charts/supplier-approval-ui/templates/_helpers.tpl
  charts/supplier-approval-ui/templates/service.yaml
  charts/supplier-approval-ui/values-gcp-wow-corp-qretail-ngp-dev.yaml
  charts/supplier-approval-ui/values-gcp-wow-corp-qretail-ngp-test.yaml
  charts/supplier-approval-ui/values.yaml
  cloudbuild.yaml
  config/dev.env.yaml
  config/prd.env.yaml
  config/tst.env.yaml
  config/uat.env.yaml
  scripts/apply-entity-framework-migrations.sh
  scripts/check-cloud-run-services-deployment.sh
  scripts/deploy-cloud-run-services.sh
  scripts/deploy.sh
  scripts/enable-service-mesh-features.sh
  scripts/enable-workload-identity.sh
  scripts/export-env-variables.sh
  scripts/install-helm-charts.sh
  scripts/package-store-charts.sh
  scripts/render-helm-charts.sh
  scripts/restart-graphql-service.sh
  scripts/substitute-charts-secrets.sh
Owners: @Q-Retail/q-retail-devops

NSPS2-9100 fixed the issue in the deploy script (#1754)
  scripts/check-cloud-run-services-deployment.sh
  scripts/deploy.sh
  scripts/enable-service-mesh-features.sh
  scripts/render-helm-charts.sh
  scripts/restart-graphql-service.sh
  scripts/substitute-charts-secrets.sh
Owners: @Q-Retail/q-retail-devops

feat: deploys v0.60.1-dev BE
  charts/calendar-api/values-ngp-dev-us1-services1-gke.yaml
  charts/dealsheet-api/values-ngp-dev-us1-services1-gke.yaml
  charts/eventschedule-api/values-ngp-dev-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

fix: updates image tags
  charts/calendar-api/values-ngp-dev-us1-services1-gke.yaml
  charts/dealsheet-api/values-ngp-dev-us1-services1-gke.yaml
  charts/eventschedule-api/values-ngp-dev-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

fix: NSPS2-9302 Deploy v1.55.22-hotfix-5 to BE UAT services (#1761)
  charts/calendar-api/values-ngp-uat-us1-services1-gke.yaml
  charts/dealsheet-api/values-ngp-uat-us1-services1-gke.yaml
  charts/eventschedule-api/values-ngp-uat-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

Deploy v0.61.0-dev
  charts/calendar-api/values-ngp-dev-us1-services1-gke.yaml
  charts/dealsheet-api/values-ngp-dev-us1-services1-gke.yaml
  charts/eventschedule-api/values-ngp-dev-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

fix: NSPS2-9293 Deploy v1.55.22-hotfix-6 to BE UAT services (#1763)
  charts/calendar-api/values-ngp-uat-us1-services1-gke.yaml
  charts/dealsheet-api/values-ngp-uat-us1-services1-gke.yaml
  charts/eventschedule-api/values-ngp-uat-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

fix: NSPS2-9184 Deploy v1.55.29-rc to BE UAT services (#1764)
  charts/calendar-api/values-ngp-uat-us1-services1-gke.yaml
  charts/dealsheet-api/values-ngp-uat-us1-services1-gke.yaml
  charts/eventschedule-api/values-ngp-uat-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

Deploy v0.61.1-dev (#1766)
  charts/calendar-api/values-ngp-dev-us1-services1-gke.yaml
  charts/dealsheet-api/values-ngp-dev-us1-services1-gke.yaml
  charts/eventschedule-api/values-ngp-dev-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

.github/CODEOWNERS:

# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,

# review when someone opens a pull request.
*  @Q-Retail/q-retail-devops

# Order is important; the last matching pattern takes the most
# precedence. When someone opens a pull request that only
# modifies following file and folder, only @js-owner and not the global
# owner(s) will be requested for a review.
/charts/calendar-api/             @Q-Retail/q-retail-app-dev @Q-Retail/q-retail-devops
/charts/dealsheet-api/            @Q-Retail/q-retail-app-dev @Q-Retail/q-retail-devops
/charts/eventschedule-api/        @Q-Retail/q-retail-app-dev @Q-Retail/q-retail-devops
/charts/hierarchy-api/            @Q-Retail/q-retail-app-dev @Q-Retail/q-retail-devops
/charts/graphql-mesh/             @Q-Retail/q-retail-app-dev @Q-Retail/q-retail-devops
/charts/forecast-api/             @Q-Retail/q-retail-devops @lsomervillewow @srichards-quantium
/charts/pgr-api/                  @Q-Retail/q-retail-devops @lsomervillewow @srichards-quantium
/charts/frontend-ui/              @Q-Retail/q-retail-frontend @Q-Retail/q-retail-devops
/charts/custom-groups-api/        @Q-Retail/q-retail-frontend @Q-Retail/q-retail-devops

/charts/istio/                  @Q-Retail/q-retail-devops
/charts/istio-gateway/          @Q-Retail/q-retail-devops
/config/                        @Q-Retail/q-retail-devops
/scripts/                       @Q-Retail/q-retail-devops
/values/                        @Q-Retail/q-retail-devops
cloudbuild.yaml                 @Q-Retail/q-retail-devops
helmfile-analytics.yaml         @Q-Retail/q-retail-devops
helmfile-backend.yaml           @Q-Retail/q-retail-devops
helmfile-front-end.yaml         @Q-Retail/q-retail-devops
helmfile.yaml                   @Q-Retail/q-retail-devops

/README.md

# set to no owner so that PRs from frontend can be auto merged
/charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml
