Repository devdream123/NGP-Cloud-platform, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Q-Retail/q-retail-devops, @Q-Retail/q-retail-app-dev, @lsomervillewow, @srichards-quantium, @Q-Retail/q-retail-frontend

feat:NSP2-0000 updated custom-group image (#993)
  charts/custom-groups-api/values-ngp-dev-us1-playground1-gke.yaml
  charts/custom-groups-api/values-ngp-dev-us1-services1-gke.yaml
  charts/custom-groups-api/values-ngp-prd-us1-services1-gke.yaml
  charts/custom-groups-api/values-ngp-uat-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-frontend, @Q-Retail/q-retail-devops

feat: dev image tag 5138017 from commit 5138017 of qr_ngp_cloud_platform (#995)
  charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml
Owners: none

feat: dev image tag 1ecfbb5 from commit 1ecfbb5 of qr_ngp_cloud_platform (#996)
  charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml
Owners: none

chore: update to pgr-2.49.1-dev (#997)
  charts/pgr-api/values-ngp-dev-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-devops, @lsomervillewow, @srichards-quantium

feat: dev image tag 4350d70 from commit 4350d70 of qr_ngp_cloud_platform (#999)
  charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml
Owners: none

feat: dev image tag 4efddeb from commit 4efddeb of qr_ngp_cloud_platform (#1001)
  charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml
Owners: none

feat: deploy v1.49.3.1-dev to dev from SQL feature branch
  charts/calendar-api/values-ngp-dev-us1-services1-gke.yaml
  charts/dealsheet-api/values-ngp-dev-us1-services1-gke.yaml
  charts/eventschedule-api/values-ngp-dev-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

Deploy fix for scenario creation to dev (#1003)
  charts/calendar-api/values-ngp-dev-us1-services1-gke.yaml
  charts/dealsheet-api/values-ngp-dev-us1-services1-gke.yaml
  charts/eventschedule-api/values-ngp-dev-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

feat: ngp-analytics to 1.50.1 in dev (#1004)
  charts/forecast-api/values-ngp-dev-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-devops, @lsomervillewow, @srichards-quantium

NSPS2-0000 changed forecast sql user in dev & test (#994)
  charts/forecast-api/values-ngp-dev-us1-playground1-gke.yaml
  charts/forecast-api/values-ngp-dev-us1-services1-gke.yaml
  charts/forecast-api/values-ngp-tst-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-devops, @lsomervillewow, @srichards-quantium

feat: dev image tag b6015b7 from commit b6015b7 of qr_ngp_cloud_platform (#1006)
  charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml
Owners: none

feat: dev image tag dd83709 from commit dd83709 of qr_ngp_cloud_platform (#1008)
  charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml
Owners: none

ngp-analytics to 1.50.2 (#1007)
  charts/forecast-api/values-ngp-dev-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-devops, @lsomervillewow, @srichards-quantium

feat: dev image tag 9546622 from commit 9546622 of qr_ngp_cloud_platform (#1011)
  charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml
Owners: none

feat: dev image tag a24c56b from commit a24c56b of qr_ngp_cloud_platform (#1012)
  charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml
Owners: none

feat: dev image tag 378769c from commit 378769c of qr_ngp_cloud_platform (#1013)
  charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml
Owners: none

feat: dev image tag e150244 from commit e150244 of qr_ngp_cloud_platform (#1014)
  charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml
Owners: none

feat: dev image tag 7be2a54 from commit 7be2a54 of qr_ngp_cloud_platform (#1015)
  charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml
Owners: none

feat: dev image tag 0fe211e from commit 0fe211e of qr_ngp_cloud_platform (#1016)
  charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml
Owners: none

NSPS2-6660 added post-install helm hook
  charts/custom-groups-api/templates/postDeployment/migrationpod.yaml
  charts/custom-groups-api/values-ngp-tst-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-frontend, @Q-Retail/q-retail-devops

added db-migration job
  charts/custom-groups-api/templates/postDeployment/dbmigrationjob.yaml
Owners: @Q-Retail/q-retail-frontend, @Q-Retail/q-retail-devops

NSPS2-6660 added post-upgrade event
  charts/custom-groups-api/templates/postDeployment/dbmigrationjob.yaml
  charts/custom-groups-api/values-ngp-tst-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-frontend, @Q-Retail/q-retail-devops

NSPS2-6660 fixed the wrong job template
  charts/custom-groups-api/templates/postDeployment/dbmigrationjob.yaml
  charts/custom-groups-api/values-ngp-tst-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-frontend, @Q-Retail/q-retail-devops

NSPS2-6660 fixed wrong template
  charts/custom-groups-api/templates/postDeployment/dbmigrationjob.yaml
  charts/custom-groups-api/values-ngp-tst-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-frontend, @Q-Retail/q-retail-devops

NSPS2-6660 fixed the command
  charts/custom-groups-api/templates/postDeployment/dbmigrationjob.yaml
  charts/custom-groups-api/values-ngp-tst-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-frontend, @Q-Retail/q-retail-devops

fixed the syntax error
  charts/custom-groups-api/templates/postDeployment/dbmigrationjob.yaml
  charts/custom-groups-api/values-ngp-tst-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-frontend, @Q-Retail/q-retail-devops

feat:NSPS2-6660 added job cleanup & extra command
  charts/custom-groups-api/templates/postDeployment/dbmigrationjob.yaml
  charts/custom-groups-api/values-ngp-tst-us1-services1-gke.yaml
  charts/graphql-mesh/templates/configmap.yaml
  charts/graphql-mesh/values-ngp-tst-us1-services1-gke.yaml
  charts/graphql-mesh/values.yaml
Owners: @Q-Retail/q-retail-frontend, @Q-Retail/q-retail-devops, @Q-Retail/q-retail-app-dev

reverted to latest image
  scripts/execute-service-db-migration.sh
Owners: @Q-Retail/q-retail-devops

feat: dev image tag f2a53b4 from commit f2a53b4 of qr_ngp_cloud_platform (#1017)
  charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml
Owners: none

fix the script issues
  charts/custom-groups-api/templates/postDeployment/dbmigrationjob.yaml
  charts/custom-groups-api/values-ngp-tst-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-frontend, @Q-Retail/q-retail-devops

feat: Deploy v1.50.1-dev to PG environment
  charts/calendar-api/values-ngp-dev-us1-playground1-gke.yaml
  charts/dealsheet-api/values-ngp-dev-us1-playground1-gke.yaml
  charts/eventschedule-api/values-ngp-dev-us1-playground1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

added sidecar ignore annotation
  charts/custom-groups-api/templates/postDeployment/dbmigrationjob.yaml
Owners: @Q-Retail/q-retail-frontend, @Q-Retail/q-retail-devops

chore:NSPS2-0000 updated PG with latest PGR image (#1019)
  charts/pgr-api/values-ngp-dev-us1-playground1-gke.yaml
Owners: @Q-Retail/q-retail-devops, @lsomervillewow, @srichards-quantium

feat: dev image tag be52218 from commit be52218 of qr_ngp_cloud_platform (#1020)
  charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml
Owners: none

feat: dev image tag 25559cc from commit 25559cc of qr_ngp_cloud_platform (#1021)
  charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml
Owners: none

feat: dev image tag ee84122 from commit ee84122 of qr_ngp_cloud_platform (#1022)
  charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml
Owners: none

added a job cleanup step
  charts/custom-groups-api/templates/postDeployment/dbmigrationjob.yaml
Owners: @Q-Retail/q-retail-frontend, @Q-Retail/q-retail-devops

removed the exit code
  charts/custom-groups-api/templates/postDeployment/dbmigrationjob.yaml
Owners: @Q-Retail/q-retail-frontend, @Q-Retail/q-retail-devops

NSPS2-6660 code cleanup
  charts/graphql-mesh/values-ngp-dev-us1-playground1-gke.yaml
  charts/graphql-mesh/values-ngp-dev-us1-services1-gke.yaml
  charts/graphql-mesh/values-ngp-tst-us1-services1-gke.yaml
  scripts/execute-service-db-migration.sh
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

Update values-ngp-prd-us1-services1-gke.yaml (#1023)
  charts/frontend-ui/values-ngp-prd-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-frontend, @Q-Retail/q-retail-devops

.github/CODEOWNERS:

# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,

# review when someone opens a pull request.
*  @Q-Retail/q-retail-devops

# Order is important; the last matching pattern takes the most
# precedence. When someone opens a pull request that only
# modifies following file and folder, only @js-owner and not the global
# owner(s) will be requested for a review.
/charts/calendar-api/             @Q-Retail/q-retail-app-dev @Q-Retail/q-retail-devops
/charts/dealsheet-api/            @Q-Retail/q-retail-app-dev @Q-Retail/q-retail-devops
/charts/eventschedule-api/        @Q-Retail/q-retail-app-dev @Q-Retail/q-retail-devops
/charts/hierarchy-api/            @Q-Retail/q-retail-app-dev @Q-Retail/q-retail-devops
/charts/graphql-mesh/             @Q-Retail/q-retail-app-dev @Q-Retail/q-retail-devops
/charts/forecast-api/             @Q-Retail/q-retail-devops @lsomervillewow @srichards-quantium
/charts/pgr-api/                  @Q-Retail/q-retail-devops @lsomervillewow @srichards-quantium
/charts/frontend-ui/              @Q-Retail/q-retail-frontend @Q-Retail/q-retail-devops
/charts/custom-groups-api/        @Q-Retail/q-retail-frontend @Q-Retail/q-retail-devops

/charts/istio/                  @Q-Retail/q-retail-devops
/charts/istio-gateway/          @Q-Retail/q-retail-devops
/config/                        @Q-Retail/q-retail-devops
/scripts/                       @Q-Retail/q-retail-devops
/values/                        @Q-Retail/q-retail-devops
cloudbuild.yaml                 @Q-Retail/q-retail-devops
helmfile-analytics.yaml         @Q-Retail/q-retail-devops
helmfile-backend.yaml           @Q-Retail/q-retail-devops
helmfile-front-end.yaml         @Q-Retail/q-retail-devops
helmfile.yaml                   @Q-Retail/q-retail-devops

/README.md

# set to no owner so that PRs from frontend can be auto merged
/charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml
