Repository devdream123/NGP-Cloud-platform, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Q-Retail/q-retail-devops, @Q-Retail/q-retail-app-dev, @lsomervillewow, @srichards-quantium, @Q-Retail/q-retail-frontend

fix:NSPS2-9955 adding missing pmr credentials for prd
  cloudbuild.yaml
Owners: @Q-Retail/q-retail-devops

feat: deploys v1.57.32-rc
  charts/calendar-api/values-ngp-uat-us1-services1-gke.yaml
  charts/dealsheet-api/values-ngp-uat-us1-services1-gke.yaml
  charts/eventschedule-api/values-ngp-uat-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

fix:NSPS2-9955 removing conditional check for prd pmr secrets
  scripts/substitute-charts-secrets.sh
Owners: @Q-Retail/q-retail-devops

deploy v1.57.33-rc to UAT backend
  charts/calendar-api/values-ngp-uat-us1-services1-gke.yaml
  charts/dealsheet-api/values-ngp-uat-us1-services1-gke.yaml
  charts/eventschedule-api/values-ngp-uat-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

fix:NSPS2-9790 updating approval portal deployment to reflect changes in uat
  charts/pmr-supplier-approval-ui/values-gcp-wow-corp-qretail-ngp-prod.yaml
  config/prd.env.yaml
Owners: @Q-Retail/q-retail-devops

Update values-ngp-uat-us1-services1-gke.yaml (#2046)
  charts/frontend-ui/values-ngp-uat-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-frontend, @Q-Retail/q-retail-devops

feat: deploy v0.64.10-dev v1.57.34-rc (#2048)
  charts/calendar-api/values-ngp-dev-us1-services1-gke.yaml
  charts/calendar-api/values-ngp-uat-us1-services1-gke.yaml
  charts/dealsheet-api/values-ngp-dev-us1-services1-gke.yaml
  charts/dealsheet-api/values-ngp-uat-us1-services1-gke.yaml
  charts/eventschedule-api/values-ngp-dev-us1-services1-gke.yaml
  charts/eventschedule-api/values-ngp-uat-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

Feat: NSPS2-9792 Prod release NGS-57 - Front End
  charts/frontend-ui/values-ngp-prd-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-frontend, @Q-Retail/q-retail-devops

Feat: NSPS2-9792 Prod release NGS-57 (#2035)
  charts/calendar-api/values-ngp-prd-us1-services1-gke.yaml
  charts/custom-groups-api/values-ngp-prd-us1-services1-gke.yaml
  charts/dealsheet-api/values-ngp-prd-us1-services1-gke.yaml
  charts/eventschedule-api/values-ngp-prd-us1-services1-gke.yaml
  charts/forecast-api/values-ngp-prd-us1-services1-gke.yaml
  charts/hierarchy-api/values-ngp-prd-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops, @Q-Retail/q-retail-frontend, @lsomervillewow, @srichards-quantium

fix: missing pubsub events calendar api (#2051)
  charts/calendar-api/values-ngp-prd-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

chore: remove shouldDeploy and cleanup (#2052)
  charts/pmr-email-sender-api/templates/configmap.yaml
  charts/pmr-email-sender-api/templates/deployment.yaml
  charts/pmr-email-sender-api/templates/hpa.yaml
  charts/pmr-email-sender-api/templates/postDeployment/postDeployment/dbmigrationjob.yaml
  charts/pmr-email-sender-api/templates/secrets.yaml
  charts/pmr-email-sender-api/templates/service.yaml
  charts/pmr-email-sender-api/templates/serviceaccount.yaml
  charts/pmr-email-sender-api/values.yaml
  charts/pmr-sync/templates/configmap.yaml
  charts/pmr-sync/templates/deployment.yaml
  charts/pmr-sync/templates/hpa.yaml
  charts/pmr-sync/templates/postDeployment/dbmigrationjob.yaml
  charts/pmr-sync/templates/secrets.yaml
  charts/pmr-sync/templates/service.yaml
  charts/pmr-sync/templates/serviceaccount.yaml
  charts/pmr-sync/templates/tests/test-connection.yaml
  charts/pmr-sync/values.yaml
Owners: @Q-Retail/q-retail-devops

feat: NSPS2-10013 deploy 1.58.1-rc to backend services (#2057)
  charts/calendar-api/values-ngp-uat-us1-services1-gke.yaml
  charts/dealsheet-api/values-ngp-uat-us1-services1-gke.yaml
  charts/eventschedule-api/values-ngp-uat-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

feat: analytics tag updated to 1.65.1 in dev (#2055)
  charts/forecast-api/values-ngp-dev-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-devops, @lsomervillewow, @srichards-quantium

feat: updates hierarchy tag to 27-11-2023 (#2058)
  charts/hierarchy-api/values-ngp-dev-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

test: update hierarchy api whitelist
  charts/hierarchy-api/values-ngp-dev-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

fix: NSPS2-10061 Deploy Event Schdule for new category to DEV
  charts/calendar-api/values-ngp-dev-us1-services1-gke.yaml
  charts/dealsheet-api/values-ngp-dev-us1-services1-gke.yaml
  charts/eventschedule-api/values-ngp-dev-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

chore: Add environment and splunk key to supplier approval
  charts/pmr-supplier-approval-ui/values-gcp-wow-corp-qretail-ngp-dev.yaml
  charts/pmr-supplier-approval-ui/values-gcp-wow-corp-qretail-ngp-prod.yaml
  charts/pmr-supplier-approval-ui/values-gcp-wow-corp-qretail-ngp-test.yaml
  charts/pmr-supplier-approval-ui/values-gcp-wow-corp-qretail-ngp-uat.yaml
Owners: @Q-Retail/q-retail-devops

chore: Add splunk_url env variable for supplier-approval
  charts/pmr-supplier-approval-ui/values-gcp-wow-corp-qretail-ngp-prod.yaml
  charts/pmr-supplier-approval-ui/values-gcp-wow-corp-qretail-ngp-uat.yaml
Owners: @Q-Retail/q-retail-devops

release patch v1.52.10-uat (#2066)
  charts/frontend-ui/values-ngp-uat-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-frontend, @Q-Retail/q-retail-devops

Deploy latest dev and UAT tags to backend services (#2068)
  charts/calendar-api/values-ngp-dev-us1-services1-gke.yaml
  charts/calendar-api/values-ngp-uat-us1-services1-gke.yaml
  charts/dealsheet-api/values-ngp-dev-us1-services1-gke.yaml
  charts/dealsheet-api/values-ngp-uat-us1-services1-gke.yaml
  charts/eventschedule-api/values-ngp-dev-us1-services1-gke.yaml
  charts/eventschedule-api/values-ngp-uat-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

chore: Added yamllint to devcontainer and vscode, moved the yamllint config
  .devcontainer/devcontainer.json
  .github/workflows/ngp_ci.yml
  .vscode/settings.json
  .yamllint.yml
Owners: @Q-Retail/q-retail-devops

feat: deplys v1.58.6-rc BE (#2071)
  charts/calendar-api/values-ngp-dev-us1-services1-gke.yaml
  charts/calendar-api/values-ngp-uat-us1-services1-gke.yaml
  charts/dealsheet-api/values-ngp-dev-us1-services1-gke.yaml
  charts/dealsheet-api/values-ngp-uat-us1-services1-gke.yaml
  charts/eventschedule-api/values-ngp-dev-us1-services1-gke.yaml
  charts/eventschedule-api/values-ngp-uat-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

Deploy tag v1.58.7-rc to backend services (#2073)
  charts/calendar-api/values-ngp-uat-us1-services1-gke.yaml
  charts/dealsheet-api/values-ngp-uat-us1-services1-gke.yaml
  charts/eventschedule-api/values-ngp-uat-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

Update tags for testing of NSPS2-10129 (#2075)
  charts/calendar-api/values-ngp-uat-us1-services1-gke.yaml
  charts/dealsheet-api/values-ngp-uat-us1-services1-gke.yaml
  charts/eventschedule-api/values-ngp-uat-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

feat: deploys v1.58.9-rc BE (#2077)
  charts/calendar-api/values-ngp-uat-us1-services1-gke.yaml
  charts/dealsheet-api/values-ngp-uat-us1-services1-gke.yaml
  charts/eventschedule-api/values-ngp-uat-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

feat: deploys v0.65.5-dev BE (#2079)
  charts/calendar-api/values-ngp-dev-us1-services1-gke.yaml
  charts/dealsheet-api/values-ngp-dev-us1-services1-gke.yaml
  charts/eventschedule-api/values-ngp-dev-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

deploy: 1.0.62 pmr-email-sender (#2078)
  charts/pmr-email-sender-api/values-ngp-dev-us1-services1-gke.yaml
  charts/pmr-email-sender-api/values-ngp-tst-us1-services1-gke.yaml
  charts/pmr-email-sender-api/values-ngp-uat-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-devops

Release patch 1.52.11-uat (#2070)
  charts/frontend-ui/values-ngp-uat-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-frontend, @Q-Retail/q-retail-devops

fix: NSPS2-10097 Deploy v1.58.10-rc to BE UAT services (#2083)
  charts/calendar-api/values-ngp-uat-us1-services1-gke.yaml
  charts/dealsheet-api/values-ngp-uat-us1-services1-gke.yaml
  charts/eventschedule-api/values-ngp-uat-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

Update values-ngp-uat-us1-services1-gke.yaml (#2089)
  charts/frontend-ui/values-ngp-uat-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-frontend, @Q-Retail/q-retail-devops

feat: deploys v1.58.12-rc (#2090)
  charts/calendar-api/values-ngp-uat-us1-services1-gke.yaml
  charts/dealsheet-api/values-ngp-uat-us1-services1-gke.yaml
  charts/eventschedule-api/values-ngp-uat-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

fix: NSPS2-10097 Deploy v1.58.13-rc to BE UAT services (#2092)
  charts/calendar-api/values-ngp-uat-us1-services1-gke.yaml
  charts/dealsheet-api/values-ngp-uat-us1-services1-gke.yaml
  charts/eventschedule-api/values-ngp-uat-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

Deploying a test dev branch (#2095)
  charts/calendar-api/values-ngp-dev-us1-services1-gke.yaml
  charts/dealsheet-api/values-ngp-dev-us1-services1-gke.yaml
  charts/eventschedule-api/values-ngp-dev-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

deploy: pmr-email-sender 1.0.63 (#2096)
  charts/pmr-email-sender-api/values-ngp-dev-us1-services1-gke.yaml
  charts/pmr-email-sender-api/values-ngp-tst-us1-services1-gke.yaml
  charts/pmr-email-sender-api/values-ngp-uat-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-devops

fix:NSPS2-10210 upping email sender memory limit to 512Mi
  charts/pmr-email-sender-api/values.yaml
Owners: @Q-Retail/q-retail-devops

fix:NSPS2-10210 upping email sender cpu limit to 600m
  charts/pmr-email-sender-api/values.yaml
Owners: @Q-Retail/q-retail-devops

NSPS2-10129 update tags (#2098)
  charts/calendar-api/values-ngp-uat-us1-services1-gke.yaml
  charts/dealsheet-api/values-ngp-uat-us1-services1-gke.yaml
  charts/eventschedule-api/values-ngp-uat-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

Update values-ngp-uat-us1-services1-gke.yaml
  charts/frontend-ui/values-ngp-uat-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-frontend, @Q-Retail/q-retail-devops

.github/CODEOWNERS:

# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,

# review when someone opens a pull request.
*  @Q-Retail/q-retail-devops

# Order is important; the last matching pattern takes the most
# precedence. When someone opens a pull request that only
# modifies following file and folder, only @js-owner and not the global
# owner(s) will be requested for a review.
/charts/calendar-api/             @Q-Retail/q-retail-app-dev @Q-Retail/q-retail-devops
/charts/dealsheet-api/            @Q-Retail/q-retail-app-dev @Q-Retail/q-retail-devops
/charts/eventschedule-api/        @Q-Retail/q-retail-app-dev @Q-Retail/q-retail-devops
/charts/hierarchy-api/            @Q-Retail/q-retail-app-dev @Q-Retail/q-retail-devops
/charts/graphql-mesh/             @Q-Retail/q-retail-app-dev @Q-Retail/q-retail-devops
/charts/forecast-api/             @Q-Retail/q-retail-devops @lsomervillewow @srichards-quantium
/charts/pgr-api/                  @Q-Retail/q-retail-devops @lsomervillewow @srichards-quantium
/charts/frontend-ui/              @Q-Retail/q-retail-frontend @Q-Retail/q-retail-devops
/charts/custom-groups-api/        @Q-Retail/q-retail-frontend @Q-Retail/q-retail-devops

/charts/istio/                  @Q-Retail/q-retail-devops
/charts/istio-gateway/          @Q-Retail/q-retail-devops
/config/                        @Q-Retail/q-retail-devops
/scripts/                       @Q-Retail/q-retail-devops
/values/                        @Q-Retail/q-retail-devops
cloudbuild.yaml                 @Q-Retail/q-retail-devops
helmfile-analytics.yaml         @Q-Retail/q-retail-devops
helmfile-backend.yaml           @Q-Retail/q-retail-devops
helmfile-front-end.yaml         @Q-Retail/q-retail-devops
helmfile.yaml                   @Q-Retail/q-retail-devops

/README.md

# set to no owner so that PRs from frontend can be auto merged
/charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml
