Repository devdream123/NGP-Cloud-platform, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Q-Retail/q-retail-devops, @Q-Retail/q-retail-app-dev, @lsomervillewow, @srichards-quantium, @Q-Retail/q-retail-frontend

deploy v1.63.15-dev to the backend services (#1979)
  charts/calendar-api/values-ngp-dev-us1-services1-gke.yaml
  charts/dealsheet-api/values-ngp-dev-us1-services1-gke.yaml
  charts/eventschedule-api/values-ngp-dev-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

NSPS2-9215: update PMR events values uat
  config/uat.env.yaml
Owners: @Q-Retail/q-retail-devops

NSPS2-9215: rm PROTOBUF_SCHEMA_PACKAGE_NAME
  config/dev.env.yaml
  config/tst.env.yaml
  config/uat.env.yaml
  scripts/export-env-variables.sh
Owners: @Q-Retail/q-retail-devops

fix: NSPS2-9860 Add Log to Supplier Handling
  charts/calendar-api/values-ngp-uat-us1-services1-gke.yaml
  charts/dealsheet-api/values-ngp-uat-us1-services1-gke.yaml
  charts/eventschedule-api/values-ngp-uat-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

fix:NSPS2-9713 remove graphql mesh restrictions
  charts/graphql-mesh/values-ngp-uat-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

Deploy v1.57.22-rc (#1982)
  charts/calendar-api/values-ngp-uat-us1-services1-gke.yaml
  charts/dealsheet-api/values-ngp-uat-us1-services1-gke.yaml
  charts/eventschedule-api/values-ngp-uat-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

Deploy v0.63.16-dev to backend services (#1983)
  charts/calendar-api/values-ngp-dev-us1-services1-gke.yaml
  charts/dealsheet-api/values-ngp-dev-us1-services1-gke.yaml
  charts/eventschedule-api/values-ngp-dev-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

deploy: 1.0.45 pmr-sync to uat (#1984)
  charts/pmr-sync/values-ngp-uat-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-devops

feat: update schema for dev and uat to point to 20231113_1 release
  charts/forecast-api/values-ngp-dev-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-devops, @lsomervillewow, @srichards-quantium

Deploy v0.64.0-dev to dev (#1989)
  charts/calendar-api/values-ngp-dev-us1-services1-gke.yaml
  charts/dealsheet-api/values-ngp-dev-us1-services1-gke.yaml
  charts/eventschedule-api/values-ngp-dev-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

fix: NSPS2-9860 Deploy fix to DEV
  charts/calendar-api/values-ngp-dev-us1-services1-gke.yaml
  charts/dealsheet-api/values-ngp-dev-us1-services1-gke.yaml
  charts/eventschedule-api/values-ngp-dev-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

fix: NSPS2-9885 Deploy v1.57.23-rc to BE UAT services (#1993)
  charts/calendar-api/values-ngp-uat-us1-services1-gke.yaml
  charts/dealsheet-api/values-ngp-uat-us1-services1-gke.yaml
  charts/eventschedule-api/values-ngp-uat-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

fix: NSPS2-9885 Deploy v0.64.2-dev to BE DEV services (#1996)
  charts/calendar-api/values-ngp-dev-us1-services1-gke.yaml
  charts/dealsheet-api/values-ngp-dev-us1-services1-gke.yaml
  charts/eventschedule-api/values-ngp-dev-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

update schema for uat to public_20231113_1
  charts/forecast-api/values-ngp-uat-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-devops, @lsomervillewow, @srichards-quantium

feat: update version tag to be consistent with dev
  charts/forecast-api/values-ngp-uat-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-devops, @lsomervillewow, @srichards-quantium

Deploy v1.57.25-rc to backend services (UAT) (#1998)
  charts/calendar-api/values-ngp-uat-us1-services1-gke.yaml
  charts/dealsheet-api/values-ngp-uat-us1-services1-gke.yaml
  charts/eventschedule-api/values-ngp-uat-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

feat: change seeding location to include DairyEggs new category (#1999)
  charts/hierarchy-api/values-ngp-dev-us1-services1-gke.yaml
  charts/hierarchy-api/values-ngp-uat-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

fix:NSPS2-9594 aligning proxy settings with email service and standard env vars (#1971)
  charts/ngs-debug-app/values-ngp-dev-us1-services1-gke.yaml
  charts/ngs-debug-app/values-ngp-tst-us1-services1-gke.yaml
  charts/ngs-debug-app/values-ngp-uat-us1-services1-gke.yaml
  charts/pmr-sync/templates/configmap.yaml
  charts/pmr-sync/values-ngp-dev-us1-services1-gke.yaml
  charts/pmr-sync/values-ngp-prd-us1-services1-gke.yaml
  charts/pmr-sync/values-ngp-tst-us1-services1-gke.yaml
  charts/pmr-sync/values-ngp-uat-us1-services1-gke.yaml
  charts/pmr-sync/values.yaml
Owners: @Q-Retail/q-retail-devops

Update values-ngp-uat-us1-services1-gke.yaml (#2000)
  charts/frontend-ui/values-ngp-uat-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-frontend, @Q-Retail/q-retail-devops

feat: deploy v1.57.26-rc to UAT and v0.64.2-dev to dev (#2003)
  charts/calendar-api/values-ngp-dev-us1-services1-gke.yaml
  charts/calendar-api/values-ngp-uat-us1-services1-gke.yaml
  charts/dealsheet-api/values-ngp-dev-us1-services1-gke.yaml
  charts/dealsheet-api/values-ngp-uat-us1-services1-gke.yaml
  charts/eventschedule-api/values-ngp-dev-us1-services1-gke.yaml
  charts/eventschedule-api/values-ngp-uat-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

deploy: pmr-sync 1.0.57 (#2007)
  charts/pmr-sync/templates/configmap.yaml
  charts/pmr-sync/values-ngp-dev-us1-services1-gke.yaml
  charts/pmr-sync/values-ngp-tst-us1-services1-gke.yaml
  charts/pmr-sync/values-ngp-uat-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-devops

deploy: 1.0.58 pmr-sync to dev (#2009)
  charts/pmr-sync/values-ngp-dev-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-devops

deploy: pmr-sync 1.0.58 to uat (#2011)
  charts/pmr-sync/values-ngp-uat-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-devops

feat: Adding Protobuf prd config
  config/prd.env.yaml
Owners: @Q-Retail/q-retail-devops

feat:NSPS2-9790 approval portal production deployment
  charts/pmr-supplier-approval-ui/values-gcp-wow-corp-qretail-ngp-prod.yaml
  config/prd.env.yaml
Owners: @Q-Retail/q-retail-devops

Update values-ngp-uat-us1-services1-gke.yaml (#2016)
  charts/frontend-ui/values-ngp-uat-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-frontend, @Q-Retail/q-retail-devops

feat: deploy v1.57.27-rc (#2017)
  charts/calendar-api/values-ngp-uat-us1-services1-gke.yaml
  charts/dealsheet-api/values-ngp-uat-us1-services1-gke.yaml
  charts/eventschedule-api/values-ngp-uat-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

feat:NSPS2-9937 update hierarchy to latest in dev and uat
  charts/hierarchy-api/values-ngp-dev-us1-services1-gke.yaml
  charts/hierarchy-api/values-ngp-uat-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

deploy: pmr-sync 1.0.59 to dev (#2019)
  charts/pmr-sync/values-ngp-dev-us1-services1-gke.yaml
  config/dev.env.yaml
Owners: @Q-Retail/q-retail-devops

fix: NSPS2-0000 add supplier action topic name env var (#2020)
  charts/pmr-email-sender-api/templates/configmap.yaml
  charts/pmr-email-sender-api/values-ngp-dev-us1-services1-gke.yaml
  charts/pmr-email-sender-api/values-ngp-tst-us1-services1-gke.yaml
  charts/pmr-email-sender-api/values-ngp-uat-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-devops

fix: NSPS2-9887 Deploy v1.57.28-rc to BE UAT services (#2025)
  charts/calendar-api/values-ngp-uat-us1-services1-gke.yaml
  charts/dealsheet-api/values-ngp-uat-us1-services1-gke.yaml
  charts/eventschedule-api/values-ngp-uat-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

Update values-ngp-uat-us1-services1-gke.yaml (#2026)
  charts/frontend-ui/values-ngp-uat-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-frontend, @Q-Retail/q-retail-devops

fix: deploy v1.57.29-rc (#2028)
  charts/calendar-api/values-ngp-uat-us1-services1-gke.yaml
  charts/dealsheet-api/values-ngp-uat-us1-services1-gke.yaml
  charts/eventschedule-api/values-ngp-uat-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

Deploy v1.57.30-rc to UAT (#2029)
  charts/calendar-api/values-ngp-uat-us1-services1-gke.yaml
  charts/dealsheet-api/values-ngp-uat-us1-services1-gke.yaml
  charts/eventschedule-api/values-ngp-uat-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

feat:NSPS2-9954 deploying email sender service to prd
  charts/pmr-email-sender-api/values-ngp-dev-us1-services1-gke.yaml
  charts/pmr-email-sender-api/values-ngp-prd-us1-services1-gke.yaml
  charts/pmr-email-sender-api/values-ngp-tst-us1-services1-gke.yaml
  charts/pmr-email-sender-api/values-ngp-uat-us1-services1-gke.yaml
  charts/pmr-email-sender-api/values.yaml
Owners: @Q-Retail/q-retail-devops

feat:NSPS2-9955 deploying pmr sync service to prd
  charts/pmr-sync/values-ngp-dev-us1-services1-gke.yaml
  charts/pmr-sync/values-ngp-prd-us1-services1-gke.yaml
  charts/pmr-sync/values-ngp-tst-us1-services1-gke.yaml
  charts/pmr-sync/values-ngp-uat-us1-services1-gke.yaml
  charts/pmr-sync/values.yaml
Owners: @Q-Retail/q-retail-devops

feat: deploys v1.57.31-rc BE services and 1.0.60 pmr-sync (#2036)
  charts/calendar-api/values-ngp-uat-us1-services1-gke.yaml
  charts/dealsheet-api/values-ngp-uat-us1-services1-gke.yaml
  charts/eventschedule-api/values-ngp-uat-us1-services1-gke.yaml
  charts/pmr-supplier-approval-ui/values-gcp-wow-corp-qretail-ngp-dev.yaml
  charts/pmr-supplier-approval-ui/values-gcp-wow-corp-qretail-ngp-test.yaml
  charts/pmr-supplier-approval-ui/values-gcp-wow-corp-qretail-ngp-uat.yaml
  charts/pmr-sync/values-ngp-dev-us1-services1-gke.yaml
  charts/pmr-sync/values-ngp-tst-us1-services1-gke.yaml
  charts/pmr-sync/values-ngp-uat-us1-services1-gke.yaml
  config/tst.env.yaml
  config/uat.env.yaml
Owners: @Q-Retail/q-retail-app-dev, @Q-Retail/q-retail-devops

Update charts/pmr-email-sender-api/values-ngp-prd-us1-services1-gke.yaml
  charts/pmr-email-sender-api/values-ngp-prd-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-devops

Update charts/pmr-sync/values-ngp-prd-us1-services1-gke.yaml
  charts/pmr-sync/values-ngp-prd-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-devops

Update values-ngp-uat-us1-services1-gke.yaml (#2037)
  charts/frontend-ui/values-ngp-uat-us1-services1-gke.yaml
Owners: @Q-Retail/q-retail-frontend, @Q-Retail/q-retail-devops

.github/CODEOWNERS:

# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,

# review when someone opens a pull request.
*  @Q-Retail/q-retail-devops

# Order is important; the last matching pattern takes the most
# precedence. When someone opens a pull request that only
# modifies following file and folder, only @js-owner and not the global
# owner(s) will be requested for a review.
/charts/calendar-api/             @Q-Retail/q-retail-app-dev @Q-Retail/q-retail-devops
/charts/dealsheet-api/            @Q-Retail/q-retail-app-dev @Q-Retail/q-retail-devops
/charts/eventschedule-api/        @Q-Retail/q-retail-app-dev @Q-Retail/q-retail-devops
/charts/hierarchy-api/            @Q-Retail/q-retail-app-dev @Q-Retail/q-retail-devops
/charts/graphql-mesh/             @Q-Retail/q-retail-app-dev @Q-Retail/q-retail-devops
/charts/forecast-api/             @Q-Retail/q-retail-devops @lsomervillewow @srichards-quantium
/charts/pgr-api/                  @Q-Retail/q-retail-devops @lsomervillewow @srichards-quantium
/charts/frontend-ui/              @Q-Retail/q-retail-frontend @Q-Retail/q-retail-devops
/charts/custom-groups-api/        @Q-Retail/q-retail-frontend @Q-Retail/q-retail-devops

/charts/istio/                  @Q-Retail/q-retail-devops
/charts/istio-gateway/          @Q-Retail/q-retail-devops
/config/                        @Q-Retail/q-retail-devops
/scripts/                       @Q-Retail/q-retail-devops
/values/                        @Q-Retail/q-retail-devops
cloudbuild.yaml                 @Q-Retail/q-retail-devops
helmfile-analytics.yaml         @Q-Retail/q-retail-devops
helmfile-backend.yaml           @Q-Retail/q-retail-devops
helmfile-front-end.yaml         @Q-Retail/q-retail-devops
helmfile.yaml                   @Q-Retail/q-retail-devops

/README.md

# set to no owner so that PRs from frontend can be auto merged
/charts/frontend-ui/values-ngp-dev-us1-services1-gke.yaml
